{
  "swagger": "2.0",
  "info": {
    "title": "ServiceFabricManagementClient",
    "description": "Azure Service Fabric Resource Provider API Client",
    "version": "2017-07-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}": {
      "put": {
        "operationId": "Clusters_Create",
        "summary": "Create a ServiceFabric cluster",
        "description": "Create cluster resource\n",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The cluster resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Cluster"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "tags": [
          "Cluster"
        ],
        "x-ms-examples": {
          "Put a cluster with min parameter": {
            "$ref": "./examples/ClusterPutOperation_example_min.json"
          },
          "Put a cluster with max parameter": {
            "$ref": "./examples/ClusterPutOperation_example_max.json"
          }
        },
        "x-ms-long-running-operation": true,
        "responses": {
          "200": {
            "description": "OK - Put cluster successfully",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "202": {
            "description": "Accepted - Put request accepted; the operation will complete asynchronously."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      },
      "delete": {
        "operationId": "Clusters_Delete",
        "summary": "Delete cluster resource",
        "description": "Delete cluster resource\n",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          }
        ],
        "tags": [
          "Cluster"
        ],
        "x-ms-examples": {
          "Delete a cluster": {
            "$ref": "./examples/ClusterDeleteOperation_example.json"
          }
        },
        "responses": {
          "200": {
            "description": "OK - cluster deleted successfully"
          },
          "204": {
            "description": "NoContent - cluster does not exist"
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      },
      "get": {
        "operationId": "Clusters_Get",
        "summary": "Get cluster resource",
        "description": "Get cluster resource\n",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          }
        ],
        "tags": [
          "Cluster"
        ],
        "x-ms-examples": {
          "Get a cluster": {
            "$ref": "./examples/ClusterGetOperation_example.json"
          }
        },
        "responses": {
          "200": {
            "description": "OK - Get cluster successfully",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      },
      "patch": {
        "operationId": "Clusters_Update",
        "summary": "Update cluster configuration",
        "description": "Update cluster configuration\n",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters which contains the property value and property name which used to update the cluster configuration.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterUpdateParameters"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "tags": [
          "Cluster"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Patch a cluster": {
            "$ref": "./examples/ClusterPatchOperation_example.json"
          }
        },
        "responses": {
          "200": {
            "description": "OK - Cluster updated successfully",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "202": {
            "description": "Accepted - Update request accepted; the operation will complete asynchronously."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters": {
      "get": {
        "operationId": "Clusters_ListByResourceGroup",
        "summary": "List cluster resource by resource group",
        "description": "List cluster resource by resource group\n",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          }
        ],
        "tags": [
          "Cluster"
        ],
        "x-ms-examples": {
          "List cluster by resource group": {
            "$ref": "./examples/ClusterListByResourceGroupOperation_example.json"
          }
        },
        "responses": {
          "200": {
            "description": "OK - Get cluster  successfully",
            "schema": {
              "$ref": "#/definitions/ClusterListResult"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/clusters": {
      "get": {
        "operationId": "Clusters_List",
        "summary": "List cluster resource",
        "description": "List cluster resource\n",
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          }
        ],
        "tags": [
          "Cluster"
        ],
        "x-ms-examples": {
          "List clusters": {
            "$ref": "./examples/ClusterListOperation_example.json"
          }
        },
        "responses": {
          "200": {
            "description": "OK - Get cluster  successfully",
            "schema": {
              "$ref": "#/definitions/ClusterListResult"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/clusterVersions/{clusterVersion}": {
      "get": {
        "operationId": "ClusterVersions_Get",
        "summary": "Get cluster code versions",
        "description": "Get cluster code versions by location\n",
        "parameters": [
          {
            "$ref": "#/parameters/locationForClusterCodeVersions"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/clusterVersion"
          }
        ],
        "x-ms-examples": {
          "Get cluster version": {
            "$ref": "examples/ClusterVersionsGet_example.json"
          }
        },
        "tags": [
          "ClusterVersion"
        ],
        "responses": {
          "200": {
            "description": "OK - Get cluster code versions successfully",
            "schema": {
              "$ref": "#/definitions/ClusterCodeVersionsListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/environments/{environment}/clusterVersions/{clusterVersion}": {
      "get": {
        "operationId": "ClusterVersions_GetByEnvironment",
        "summary": "Get cluster code versions by environment",
        "description": "Get cluster code versions by environment\n",
        "parameters": [
          {
            "$ref": "#/parameters/locationForClusterCodeVersions"
          },
          {
            "$ref": "#/parameters/environment"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/clusterVersion"
          }
        ],
        "x-ms-examples": {
          "Get cluster version by environment": {
            "$ref": "examples/ClusterVersionsGetByEnvironment_example.json"
          }
        },
        "tags": [
          "ClusterVersion"
        ],
        "responses": {
          "200": {
            "description": "OK - Get cluster code versions successfully",
            "schema": {
              "$ref": "#/definitions/ClusterCodeVersionsListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/clusterVersions": {
      "get": {
        "operationId": "ClusterVersions_List",
        "summary": "List cluster code versions by location",
        "description": "List cluster code versions by location\n",
        "parameters": [
          {
            "$ref": "#/parameters/locationForClusterCodeVersions"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          }
        ],
        "x-ms-examples": {
          "List cluster versions": {
            "$ref": "examples/ClusterVersionsList_example.json"
          }
        },
        "tags": [
          "ClusterVersion"
        ],
        "responses": {
          "200": {
            "description": "OK - List cluster code versions successfully",
            "schema": {
              "$ref": "#/definitions/ClusterCodeVersionsListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/environments/{environment}/clusterVersions": {
      "get": {
        "operationId": "ClusterVersions_ListByEnvironment",
        "summary": "List cluster code versions by environment",
        "description": "List cluster code versions by environment\n",
        "parameters": [
          {
            "$ref": "#/parameters/locationForClusterCodeVersions"
          },
          {
            "$ref": "#/parameters/environment"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          }
        ],
        "x-ms-examples": {
          "List cluster versions by environment": {
            "$ref": "examples/ClusterVersionsListByEnvironment.json"
          }
        },
        "tags": [
          "ClusterVersion"
        ],
        "responses": {
          "200": {
            "description": "OK - List cluster code versions successfully",
            "schema": {
              "$ref": "#/definitions/ClusterCodeVersionsListResult"
            }
          }
        }
      }
    },
    "/providers/Microsoft.ServiceFabric/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Lists all of the available ServiceFabric Resource Manager REST API operations.",
        "description": "",
        "operationId": "Operations_List",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "description": "The version of the ServiceFabric resource provider api",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ApplicationHealthPolicy": {
      "type": "object",
      "description": "Defines a health policy used to evaluate the health of an application or one of its children entities.\n",
      "properties": {
        "ConsiderWarningAsError": {
          "type": "boolean",
          "description": "Indicates whether warnings are treated with the same severity as errors.",
          "default": false
        },
        "MaxPercentUnhealthyDeployedApplications": {
          "type": "integer",
          "description": "The maximum allowed percentage of unhealthy deployed applications. Allowed values are Byte values from zero to 100.\nThe percentage represents the maximum tolerated percentage of deployed applications that can be unhealthy before the application is considered in error.\nThis is calculated by dividing the number of unhealthy deployed applications over the number of nodes where the application is currently deployed on in the cluster.\nThe computation rounds up to tolerate one failure on small numbers of nodes. Default percentage is zero.\n",
          "default": 0
        },
        "DefaultServiceTypeHealthPolicy": {
          "$ref": "#/definitions/ServiceTypeHealthPolicy"
        },
        "ServiceTypeHealthPolicyMap": {
          "$ref": "#/definitions/ServiceTypeHealthPolicyMap"
        }
      }
    },
    "ApplicationMetricDescription": {
      "type": "object",
      "description": "Describes capacity information for a custom resource balancing metric. This can be used to limit the total consumption of this metric by the services of this application.\n",
      "properties": {
        "Name": {
          "type": "string",
          "description": "The name of the metric."
        },
        "MaximumCapacity": {
          "type": "integer",
          "format": "int64",
          "description": "The maximum node capacity for Service Fabric application.\nThis is the maximum Load for an instance of this application on a single node. Even if the capacity of node is greater than this value, Service Fabric will limit the total load of services within the application on each node to this value.\nIf set to zero, capacity for this metric is unlimited on each node.\nWhen creating a new application with application capacity defined, the product of MaximumNodes and this value must always be smaller than or equal to TotalApplicationCapacity.\nWhen updating existing application with application capacity, the product of MaximumNodes and this value must always be smaller than or equal to TotalApplicationCapacity.\n"
        },
        "ReservationCapacity": {
          "type": "integer",
          "format": "int64",
          "description": "The node reservation capacity for Service Fabric application.\nThis is the amount of load which is reserved on nodes which have instances of this application.\nIf MinimumNodes is specified, then the product of these values will be the capacity reserved in the cluster for the application.\nIf set to zero, no capacity is reserved for this metric.\nWhen setting application capacity or when updating application capacity; this value must be smaller than or equal to MaximumCapacity for each metric.\n"
        },
        "TotalApplicationCapacity": {
          "description": "The total metric capacity for Service Fabric application.\nThis is the total metric capacity for this application in the cluster. Service Fabric will try to limit the sum of loads of services within the application to this value.\nWhen creating a new application with application capacity defined, the product of MaximumNodes and MaximumCapacity must always be smaller than or equal to this value.\n",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "ApplicationMetricDescriptionList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ApplicationMetricDescription"
      },
      "description": "List of application capacity metric description."
    },
    "ApplicationParameter": {
      "type": "object",
      "description": "Describes an application parameter override to be applied when creating or upgrading an application.",
      "required": [
        "Key",
        "Value"
      ],
      "properties": {
        "Key": {
          "type": "string",
          "description": "The name of the parameter."
        },
        "Value": {
          "type": "string",
          "description": "The value of the parameter."
        }
      }
    },
    "ApplicationParameterList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ApplicationParameter"
      },
      "description": "List of application parameters with overridden values from their default values specified in the application manifest."
    },
    "ApplicationTypeName": {
      "type": "string",
      "description": "The application type name as defined in the application manifest."
    },
    "ApplicationTypeParameterList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ApplicationParameter"
      },
      "description": "List of application type parameters that can be overridden when creating or updating the application."
    },
    "ApplicationTypeVersion": {
      "type": "string",
      "description": "The version of the application type as defined in the application manifest."
    },
    "ForceRestart": {
      "type": "boolean",
      "description": "If true, then processes are forcefully restarted during upgrade even when the code version has not changed (the upgrade only changes configuration or data).",
      "default": false
    },
    "HealthCheckRetryTimeout": {
      "type": "string",
      "description": "The amount of time to retry health evaluation when the application or cluster is unhealthy before FailureAction is executed. It is first interpreted as a string representing an ISO 8601 duration. If that fails, then it is interpreted as a number representing the total number of milliseconds.",
      "default": "PT0H10M0S"
    },
    "HealthCheckStableDuration": {
      "type": "string",
      "description": "The amount of time that the application or cluster must remain healthy before the upgrade proceeds to the next upgrade domain. It is first interpreted as a string representing an ISO 8601 duration. If that fails, then it is interpreted as a number representing the total number of milliseconds.",
      "default": "PT0H2M0S"
    },
    "HealthCheckWaitDuration": {
      "type": "string",
      "description": "The amount of time to wait after completing an upgrade domain before applying health policies. It is first interpreted as a string representing an ISO 8601 duration. If that fails, then it is interpreted as a number representing the total number of milliseconds.",
      "default": "0"
    },
    "ServiceTypeHealthPolicy": {
      "type": "object",
      "description": "Represents the health policy used to evaluate the health of services belonging to a service type.\n",
      "properties": {
        "MaxPercentUnhealthyPartitionsPerService": {
          "type": "integer",
          "description": "The maximum allowed percentage of unhealthy partitions per service. Allowed values are Byte values from zero to 100\n\nThe percentage represents the maximum tolerated percentage of partitions that can be unhealthy before the service is considered in error.\nIf the percentage is respected but there is at least one unhealthy partition, the health is evaluated as Warning.\nThe percentage is calculated by dividing the number of unhealthy partitions over the total number of partitions in the service.\nThe computation rounds up to tolerate one failure on small numbers of partitions. Default percentage is zero.\n",
          "default": 0
        },
        "MaxPercentUnhealthyReplicasPerPartition": {
          "type": "integer",
          "description": "The maximum allowed percentage of unhealthy replicas per partition. Allowed values are Byte values from zero to 100.\n\nThe percentage represents the maximum tolerated percentage of replicas that can be unhealthy before the partition is considered in error.\nIf the percentage is respected but there is at least one unhealthy replica, the health is evaluated as Warning.\nThe percentage is calculated by dividing the number of unhealthy replicas over the total number of replicas in the partition.\nThe computation rounds up to tolerate one failure on small numbers of replicas. Default percentage is zero.\n",
          "default": 0
        },
        "MaxPercentUnhealthyServices": {
          "type": "integer",
          "description": "The maximum allowed percentage of unhealthy services. Allowed values are Byte values from zero to 100.\n\nThe percentage represents the maximum tolerated percentage of services that can be unhealthy before the application is considered in error.\nIf the percentage is respected but there is at least one unhealthy service, the health is evaluated as Warning.\nThis is calculated by dividing the number of unhealthy services of the specific service type over the total number of services of the specific service type.\nThe computation rounds up to tolerate one failure on small numbers of services. Default percentage is zero.\n",
          "default": 0
        }
      }
    },
    "ServiceTypeHealthPolicyMap": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ServiceTypeHealthPolicyMapItem"
      },
      "description": "Defines a ServiceTypeHealthPolicy per service type name.\n\nThe entries in the map replace the default service type health policy for each specified service type. For example, in an application that contains both a stateless gateway service type and a stateful engine service type, the health policies for the stateless and stateful services can be configured differently. With policy per service type, there's more granular control of the health of the service.\n\nIf no policy is specified for a service type name, the DefaultServiceTypeHealthPolicy is used for evaluation.\n"
    },
    "ServiceTypeHealthPolicyMapItem": {
      "type": "object",
      "description": "Defines an item in ServiceTypeHealthPolicyMap.\n",
      "required": [
        "Key",
        "Value"
      ],
      "properties": {
        "Key": {
          "type": "string",
          "description": "The key of the service type health policy map item. This is the name of the service type."
        },
        "Value": {
          "$ref": "#/definitions/ServiceTypeHealthPolicy"
        }
      }
    },
    "UpgradeDomainTimeout": {
      "type": "string",
      "description": "The amount of time each upgrade domain has to complete before FailureAction is executed. It is first interpreted as a string representing an ISO 8601 duration. If that fails, then it is interpreted as a number representing the total number of milliseconds.",
      "default": "P10675199DT02H48M05.4775807S"
    },
    "UpgradeTimeout": {
      "type": "string",
      "description": "The amount of time the overall upgrade has to complete before FailureAction is executed. It is first interpreted as a string representing an ISO 8601 duration. If that fails, then it is interpreted as a number representing the total number of milliseconds.",
      "default": "P10675199DT02H48M05.4775807S"
    },
    "UpgradeReplicaSetCheckTimeout": {
      "type": "integer",
      "format": "int64",
      "description": "The maximum amount of time to block processing of an upgrade domain and prevent loss of availability when there are unexpected issues. When this timeout expires, processing of the upgrade domain will proceed regardless of availability loss issues. The timeout is reset at the start of each upgrade domain. Valid values are between 0 and 42949672925 inclusive. (unsigned 32-bit integer).",
      "default": 42949672925
    },
    "ServiceKind": {
      "type": "string",
      "description": "The kind of service (Stateless or Stateful). Following are the possible values.\n\n- Invalid - Indicates the service kind is invalid. All Service Fabric enumerations have the invalid type. The value is zero.\n- Stateless - Does not use Service Fabric to make its state highly available or reliable. The value is 1.\n- Stateful - Uses Service Fabric to make its state or part of its state highly available and reliable. The value is 2.\n",
      "enum": [
        "Invalid",
        "Stateless",
        "Stateful"
      ]
    },
    "ServiceName": {
      "type": "string",
      "description": "The full name of the service with 'fabric:' URI scheme."
    },
    "CorrelationSchemeList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ServiceCorrelationDescription"
      },
      "description": "A list that describes the correlation of the service with other services."
    },
    "ServiceCorrelationDescription": {
      "type": "object",
      "description": "Creates a particular correlation between services.",
      "required": [
        "Scheme",
        "ServiceName"
      ],
      "properties": {
        "Scheme": {
          "$ref": "#/definitions/ServiceCorrelationScheme"
        },
        "ServiceName": {
          "$ref": "#/definitions/ServiceName"
        }
      }
    },
    "ServiceCorrelationScheme": {
      "type": "string",
      "description": "The service correlation scheme. Possible values are following.\n\n  - Invalid - An invalid correlation scheme. Cannot be used. The value is zero.\n  - Affinity - Indicates that this service has an affinity relationship with another service. Provided for backwards compatibility, consider preferring the Aligned or NonAlignedAffinity options. The value is 1.\n  - AlignedAffinity - Aligned affinity ensures that the primaries of the partitions of the affinitized services are collocated on the same nodes. This is the default and is the same as selecting the Affinity scheme. The value is 2.\n  - NonAlignedAffinity - Non-Aligned affinity guarantees that all replicas of each service will be placed on the same nodes. Unlike Aligned Affinity, this does not guarantee that replicas of particular role will be collocated. The value is 3.\n",
      "enum": [
        "Invalid",
        "Affinity",
        "AlignedAffinity",
        "NonAlignedAffinity"
      ]
    },
    "ServiceLoadMetricsList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ServiceLoadMetricDescription"
      },
      "description": "The service load metrics is given as an array of ServiceLoadMetricDescription objects."
    },
    "ServiceLoadMetricDescription": {
      "type": "object",
      "description": "Specifies a metric to load balance a service during runtime.",
      "required": [
        "Name"
      ],
      "properties": {
        "Name": {
          "type": "string",
          "description": "The name of the metric. If the service chooses to report load during runtime, the load metric name should match the name that is specified in Name exactly. Note that metric names are case sensitive."
        },
        "Weight": {
          "$ref": "#/definitions/ServiceLoadMetricWeight"
        },
        "PrimaryDefaultLoad": {
          "type": "integer",
          "description": "Used only for Stateful services. The default amount of load, as a number, that this service creates for this metric when it is a Primary replica."
        },
        "SecondaryDefaultLoad": {
          "type": "integer",
          "description": "Used only for Stateful services. The default amount of load, as a number, that this service creates for this metric when it is a Secondary replica."
        },
        "DefaultLoad": {
          "type": "integer",
          "description": "Used only for Stateless services. The default amount of load, as a number, that this service creates for this metric."
        }
      }
    },
    "ServiceLoadMetricWeight": {
      "type": "string",
      "description": "Determines the metric weight relative to the other metrics that are configured for this service. During runtime, if two metrics end up in conflict, the Cluster Resource Manager prefers the metric with the higher weight. Possible values are following.\n\n  - Zero - Disables resource balancing for this metric. This value is zero.\n  - Low - Specifies the metric weight of the service load as Low. The value is 1.\n  - Medium - Specifies the metric weight of the service load as Medium. The value is 2.\n  - High - Specifies the metric weight of the service load as High. The value is 3.\n",
      "enum": [
        "Zero",
        "Low",
        "Medium",
        "High"
      ]
    },
    "ServicePlacementPoliciesList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ServicePlacementPolicyDescription"
      },
      "description": "A list that describes the correlation of the service with other services."
    },
    "ServicePlacementPolicyDescription": {
      "type": "object",
      "discriminator": "Type",
      "description": "Describes the policy to be used for placement of a Service Fabric service.",
      "required": [
        "Type"
      ],
      "properties": {
        "Type": {
          "$ref": "#/definitions/ServicePlacementPolicyType"
        }
      }
    },
    "ServicePlacementPolicyType": {
      "type": "string",
      "description": "The type of placement policy for a service fabric service. Following are the possible values.\n\n  - Invalid - Indicates the type of the placement policy is invalid. All Service Fabric enumerations have the invalid type. The value is zero.\n  - InvalidDomain - Indicates that the ServicePlacementPolicyDescription is of type ServicePlacementInvalidDomainPolicyDescription, which indicates that a particular fault or upgrade domain cannot be used for placement of this service. The value is 1.\n  - RequiredDomain - Indicates that the ServicePlacementPolicyDescription is of type ServicePlacementRequireDomainDistributionPolicyDescription indicating that the replicas of the service must be placed in a specific domain. The value is 2.\n  - PreferredPrimaryDomain - Indicates that the ServicePlacementPolicyDescription is of type ServicePlacementPreferPrimaryDomainPolicyDescription, which indicates that if possible the Primary replica for the partitions of the service should be located in a particular domain as an optimization. The value is 3.\n  - RequiredDomainDistribution - Indicates that the ServicePlacementPolicyDescription is of type ServicePlacementRequireDomainDistributionPolicyDescription, indicating that the system will disallow placement of any two replicas from the same partition in the same domain at any time. The value is 4.\n  - NonPartiallyPlaceService - Indicates that the ServicePlacementPolicyDescription is of type ServicePlacementNonPartiallyPlaceServicePolicyDescription, which indicates that if possible all replicas of a particular partition of the service should be placed atomically. The value is 5.\n",
      "enum": [
        "Invalid",
        "InvalidDomain",
        "RequiredDomain",
        "PreferredPrimaryDomain",
        "RequiredDomainDistribution",
        "NonPartiallyPlaceService"
      ]
    },
    "PartitionScheme": {
      "type": "string",
      "description": "Enumerates the ways that a service can be partitioned. Possible values are:\n\n- Invalid - Indicates the partition kind is invalid. All Service Fabric enumerations have the invalid type. The value is zero.\n- Singleton - Indicates that the partition is based on string names, and is a SingletonPartitionSchemeDescription object, The value is 1.\n- UniformInt64Range - Indicates that the partition is based on Int64 key ranges, and is a UniformInt64RangePartitionSchemeDescription object. The value is 2.\n- Named - Indicates that the partition is based on string names, and is a NamedPartitionSchemeDescription object. The value is 3\n",
      "enum": [
        "Invalid",
        "Singleton",
        "UniformInt64Range",
        "Named"
      ]
    },
    "PartitionSchemeDescription": {
      "type": "object",
      "discriminator": "PartitionScheme",
      "description": "Describes how the service is partitioned.",
      "required": [
        "PartitionScheme"
      ],
      "properties": {
        "PartitionScheme": {
          "$ref": "#/definitions/PartitionScheme"
        }
      }
    },
    "NamedPartitionSchemeDescription": {
      "description": "Describes the named partition scheme of the service.",
      "allOf": [
        {
          "$ref": "#/definitions/PartitionSchemeDescription"
        },
        {
          "type": "object",
          "description": "NamedPartitionSchemeDescription"
        }
      ],
      "x-ms-discriminator-value": "Named",
      "required": [
        "Count",
        "Names"
      ],
      "properties": {
        "Count": {
          "type": "integer",
          "description": "The number of partitions."
        },
        "Names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Array of size specified by the ‘Count’ parameter, for the names of the partitions."
        }
      }
    },
    "SingletonPartitionSchemeDescription": {
      "description": "Describes the partition scheme of a singleton-partitioned, or non-partitioned service.",
      "allOf": [
        {
          "$ref": "#/definitions/PartitionSchemeDescription"
        },
        {
          "type": "object",
          "description": "SingletonPartitionSchemeDescription"
        }
      ],
      "x-ms-discriminator-value": "Singleton"
    },
    "UniformInt64RangePartitionSchemeDescription": {
      "description": "Describes a partitioning scheme where an integer range is allocated evenly across a number of partitions.",
      "allOf": [
        {
          "$ref": "#/definitions/PartitionSchemeDescription"
        },
        {
          "type": "object",
          "description": "UniformInt64RangePartitionSchemeDescription"
        }
      ],
      "x-ms-discriminator-value": "UniformInt64Range",
      "required": [
        "Count",
        "LowKey",
        "HighKey"
      ],
      "properties": {
        "Count": {
          "type": "integer",
          "description": "The number of partitions."
        },
        "LowKey": {
          "type": "string",
          "description": "String indicating the lower bound of the partition key range that\nshould be split between the partition ‘Count’\n"
        },
        "HighKey": {
          "type": "string",
          "description": "String indicating the upper bound of the partition key range that\nshould be split between the partition ‘Count’\n"
        }
      }
    },
    "MoveCost": {
      "type": "string",
      "description": "Specifies the move cost for the service. Possible values are the following.\n\n  - Zero - Zero move cost. This value is zero.\n  - Low - Specifies the move cost of the service as Low. The value is 1.\n  - Medium - Specifies the move cost of the service as Medium. The value is 2.\n  - High - Specifies the move cost of the service as High. The value is 3.\n",
      "enum": [
        "Zero",
        "Low",
        "Medium",
        "High"
      ]
    },
    "AddOnFeatures": {
      "type": "string",
      "description": "Available cluster add-on features",
      "enum": [
        "RepairManager",
        "DnsService",
        "BackupRestoreService"
      ]
    },
    "ApplicationTypeResource": {
      "description": "The application type name resource",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ApplicationTypeProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "ApplicationTypeResourceList": {
      "description": "The list of application type names.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplicationTypeResource"
          }
        }
      }
    },
    "ApplicationTypeProperties": {
      "description": "The application type name properties",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The current deployment or provisioning state, which only appears in the response."
        }
      }
    },
    "VersionResource": {
      "description": "A version resource for the specified application type name.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/VersionProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "VersionResourceList": {
      "description": "The list of version resources for the specified application type name.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VersionResource"
          }
        }
      }
    },
    "VersionProperties": {
      "description": "The properties of the version resource.",
      "required": [
        "appPackageUrl"
      ],
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The current deployment or provisioning state, which only appears in the response"
        },
        "appPackageUrl": {
          "type": "string",
          "description": "The URL to the application package"
        },
        "defaultParameterList": {
          "readOnly": true,
          "$ref": "#/definitions/ApplicationTypeParameterList"
        }
      }
    },
    "ApplicationResource": {
      "description": "The application resource.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ApplicationProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "ApplicationResourceList": {
      "description": "The list of application resources.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplicationResource"
          }
        }
      }
    },
    "ApplicationProperties": {
      "description": "The application resource properties.",
      "allOf": [
        {
          "$ref": "#/definitions/ApplicationUpdateProperties"
        }
      ],
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The current deployment or provisioning state, which only appears in the response"
        },
        "typeName": {
          "$ref": "#/definitions/ApplicationTypeName"
        }
      }
    },
    "ApplicationResourceUpdate": {
      "description": "The application resource for patch operations.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ApplicationUpdateProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "ApplicationUpdateProperties": {
      "description": "The application resource properties for patch operations.",
      "properties": {
        "typeVersion": {
          "$ref": "#/definitions/ApplicationTypeVersion"
        },
        "parameters": {
          "$ref": "#/definitions/ApplicationParameterList"
        },
        "upgradePolicy": {
          "$ref": "#/definitions/ApplicationUpgradePolicy"
        },
        "minimumNodes": {
          "type": "integer",
          "format": "int64",
          "description": "The minimum number of nodes where Service Fabric will reserve capacity for this application. Note that this does not mean that the services of this application will be placed on all of those nodes. If this property is set to zero, no capacity will be reserved. The value of this property cannot be more than the value of the MaximumNodes property.",
          "minimum": 0
        },
        "maximumNodes": {
          "type": "integer",
          "format": "int64",
          "description": "The maximum number of nodes where Service Fabric will reserve capacity for this application. Note that this does not mean that the services of this application will be placed on all of those nodes. By default, the value of this property is zero and it means that the services can be placed on any node.",
          "minimum": 0,
          "default": 0
        },
        "removeApplicationCapacity": {
          "type": "boolean",
          "description": "The version of the application type"
        },
        "metrics": {
          "$ref": "#/definitions/ApplicationMetricDescriptionList"
        }
      }
    },
    "ApplicationUpgradePolicy": {
      "description": "Describes the policy for a monitored application upgrade.",
      "properties": {
        "upgradeReplicaSetCheckTimeout": {
          "$ref": "#/definitions/UpgradeReplicaSetCheckTimeout"
        },
        "forceRestart": {
          "$ref": "#/definitions/ForceRestart"
        },
        "rollingUpgradeMonitoringPolicy": {
          "$ref": "#/definitions/RollingUpgradeMonitoringPolicy"
        },
        "applicationHealthPolicy": {
          "$ref": "#/definitions/ApplicationHealthPolicy"
        }
      }
    },
    "ServiceResource": {
      "description": "The service resource.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ServiceProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "ServiceResourceList": {
      "description": "The list of service resources.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceResource"
          }
        }
      }
    },
    "ServiceProperties": {
      "description": "The service resource properties.",
      "allOf": [
        {
          "$ref": "#/definitions/ServicePropertiesBase"
        }
      ],
      "required": [
        "serviceKind"
      ],
      "discriminator": "serviceKind",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The current deployment or provisioning state, which only appears in the response"
        },
        "serviceKind": {
          "$ref": "#/definitions/ServiceKind"
        },
        "serviceTypeName": {
          "type": "string",
          "description": "The name of the service type"
        },
        "partitionDescription": {
          "$ref": "#/definitions/PartitionSchemeDescription"
        }
      }
    },
    "ServicePropertiesBase": {
      "description": "The common service resource properties.",
      "properties": {
        "placementConstraints": {
          "type": "string",
          "description": "The placement constraints as a string. Placement constraints are boolean expressions on node properties and allow for restricting a service to particular nodes based on the service requirements. For example, to place a service on nodes where NodeType is blue specify the following: \"NodeColor == blue)\"."
        },
        "correlationScheme": {
          "$ref": "#/definitions/CorrelationSchemeList"
        },
        "serviceLoadMetrics": {
          "$ref": "#/definitions/ServiceLoadMetricsList"
        },
        "servicePlacementPolicies": {
          "$ref": "#/definitions/ServicePlacementPoliciesList"
        },
        "defaultMoveCost": {
          "$ref": "#/definitions/MoveCost"
        }
      }
    },
    "ServiceResourceUpdate": {
      "description": "The service resource for patch operations.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ServiceUpdateProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "ServiceUpdateProperties": {
      "description": "The service resource properties for patch operations.",
      "allOf": [
        {
          "$ref": "#/definitions/ServicePropertiesBase"
        }
      ],
      "required": [
        "serviceKind"
      ],
      "discriminator": "serviceKind",
      "properties": {
        "serviceKind": {
          "$ref": "#/definitions/ServiceKind"
        }
      }
    },
    "StatelessServiceProperties": {
      "description": "The properties of a stateless service resource.",
      "allOf": [
        {
          "$ref": "#/definitions/ServiceProperties"
        }
      ],
      "x-ms-discriminator-value": "Stateless",
      "properties": {
        "instanceCount": {
          "type": "integer",
          "minimum": -1,
          "description": "The instance count."
        }
      }
    },
    "StatelessServiceUpdateProperties": {
      "description": "The properties of a stateless service resource for patch operations.",
      "allOf": [
        {
          "$ref": "#/definitions/ServiceUpdateProperties"
        }
      ],
      "x-ms-discriminator-value": "Stateless",
      "properties": {
        "instanceCount": {
          "type": "integer",
          "minimum": -1,
          "description": "The instance count."
        }
      }
    },
    "StatefulServiceProperties": {
      "description": "The properties of a stateful service resource.",
      "allOf": [
        {
          "$ref": "#/definitions/ServiceProperties"
        }
      ],
      "x-ms-discriminator-value": "Stateful",
      "properties": {
        "hasPersistedState": {
          "type": "boolean",
          "description": "A flag indicating whether this is a persistent service which stores states on the local disk. If it is then the value of this property is true, if not it is false."
        },
        "targetReplicaSetSize": {
          "type": "integer",
          "minimum": 1,
          "description": "The target replica set size as a number."
        },
        "minReplicaSetSize": {
          "type": "integer",
          "minimum": 1,
          "description": "The minimum replica set size as a number."
        },
        "replicaRestartWaitDuration": {
          "type": "string",
          "format": "date-time",
          "description": "The duration between when a replica goes down and when a new replica is created, represented in ISO 8601 format (hh:mm:ss.s)."
        },
        "quorumLossWaitDuration": {
          "type": "string",
          "format": "date-time",
          "description": "The maximum duration for which a partition is allowed to be in a state of quorum loss, represented in ISO 8601 format (hh:mm:ss.s)."
        },
        "standByReplicaKeepDuration": {
          "type": "string",
          "format": "date-time",
          "description": "The definition on how long StandBy replicas should be maintained before being removed, represented in ISO 8601 format (hh:mm:ss.s)."
        }
      }
    },
    "StatefulServiceUpdateProperties": {
      "description": "The properties of a stateful service resource for patch operations.",
      "allOf": [
        {
          "$ref": "#/definitions/ServiceUpdateProperties"
        }
      ],
      "x-ms-discriminator-value": "Stateful",
      "properties": {
        "targetReplicaSetSize": {
          "type": "integer",
          "minimum": 1,
          "description": "The target replica set size as a number."
        },
        "minReplicaSetSize": {
          "type": "integer",
          "minimum": 1,
          "description": "The minimum replica set size as a number."
        },
        "replicaRestartWaitDuration": {
          "type": "string",
          "format": "date-time",
          "description": "The duration between when a replica goes down and when a new replica is created, represented in ISO 8601 format (hh:mm:ss.s)."
        },
        "quorumLossWaitDuration": {
          "type": "string",
          "format": "date-time",
          "description": "The maximum duration for which a partition is allowed to be in a state of quorum loss, represented in ISO 8601 format (hh:mm:ss.s)."
        },
        "standByReplicaKeepDuration": {
          "type": "string",
          "format": "date-time",
          "description": "The definition on how long StandBy replicas should be maintained before being removed, represented in ISO 8601 format (hh:mm:ss.s)."
        }
      }
    },
    "AvailableOperationDisplay": {
      "properties": {
        "provider": {
          "type": "string",
          "description": "The name of the provider."
        },
        "resource": {
          "type": "string",
          "description": "The resource on which the operation is performed"
        },
        "operation": {
          "type": "string",
          "description": "The operation that can be performed."
        },
        "description": {
          "type": "string",
          "description": "Operation description"
        }
      },
      "description": "Operation supported by Service Fabric resource provider"
    },
    "AzureActiveDirectory": {
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "Azure active directory tenant id."
        },
        "clusterApplication": {
          "type": "string",
          "description": "Azure active directory cluster application id."
        },
        "clientApplication": {
          "type": "string",
          "description": "Azure active directory client application id."
        }
      },
      "description": "The settings to enable AAD authentication on the cluster."
    },
    "CertificateDescription": {
      "required": [
        "thumbprint"
      ],
      "properties": {
        "thumbprint": {
          "type": "string",
          "description": "Thumbprint of the primary certificate."
        },
        "thumbprintSecondary": {
          "type": "string",
          "description": "Thumbprint of the secondary certificate."
        },
        "x509StoreName": {
          "type": "string",
          "description": "The local certificate store location.",
          "enum": [
            "AddressBook",
            "AuthRoot",
            "CertificateAuthority",
            "Disallowed",
            "My",
            "Root",
            "TrustedPeople",
            "TrustedPublisher"
          ]
        }
      },
      "description": "Describes the certificate details."
    },
    "ClientCertificateCommonName": {
      "required": [
        "certificateCommonName",
        "isAdmin",
        "certificateIssuerThumbprint"
      ],
      "properties": {
        "isAdmin": {
          "type": "boolean",
          "description": "Indicates if the client certificate has admin access to the cluster. Non admin clients can perform only read only operations on the cluster."
        },
        "certificateCommonName": {
          "type": "string",
          "description": "The common name of the client certificate."
        },
        "certificateIssuerThumbprint": {
          "type": "string",
          "description": "The issuer thumbprint of the client certificate."
        }
      },
      "description": "Describes the client certificate details using common name."
    },
    "ClientCertificateThumbprint": {
      "required": [
        "certificateThumbprint",
        "isAdmin"
      ],
      "properties": {
        "isAdmin": {
          "type": "boolean",
          "description": "Indicates if the client certificate has admin access to the cluster. Non admin clients can perform only read only operations on the cluster."
        },
        "certificateThumbprint": {
          "type": "string",
          "description": "The thumbprint of the client certificate."
        }
      },
      "description": "Describes the client certificate details using thumbprint."
    },
    "Cluster": {
      "type": "object",
      "description": "The cluster resource\n",
      "allOf": [
        {
          "description": "The cluster resource properties"
        },
        {
          "$ref": "#/definitions/Resource"
        },
        {
          "type": "object",
          "properties": {
            "properties": {
              "description": "The cluster resource properties",
              "x-ms-client-flatten": true,
              "$ref": "#/definitions/ClusterProperties"
            }
          }
        }
      ]
    },
    "ClusterCodeVersionsListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClusterCodeVersionsResult"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "The list results of the ServiceFabric runtime versions."
    },
    "ClusterCodeVersionsResult": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The identification of the result"
        },
        "name": {
          "type": "string",
          "description": "The name of the result"
        },
        "type": {
          "type": "string",
          "description": "The result resource type"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ClusterVersionDetails"
        }
      },
      "description": "The result of the ServiceFabric runtime versions"
    },
    "ClusterEnvironment": {
      "type": "string",
      "description": "Cluster operating system, the default will be Windows",
      "enum": [
        "Windows",
        "Linux"
      ]
    },
    "ClusterListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Cluster"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "Cluster list results"
    },
    "ClusterProperties": {
      "required": [
        "managementEndpoint",
        "nodeTypes"
      ],
      "properties": {
        "availableClusterVersions": {
          "type": "array",
          "description": "The Service Fabric runtime versions available for this cluster.",
          "items": {
            "$ref": "#/definitions/ClusterVersionDetails"
          }
        },
        "clusterId": {
          "type": "string",
          "description": "A service generated unique identifier for the cluster resource.",
          "readOnly": true
        },
        "clusterState": {
          "$ref": "#/definitions/ClusterState"
        },
        "clusterEndpoint": {
          "type": "string",
          "description": "The Azure Resource Provider endpoint. A system service in the cluster connects to this  endpoint.",
          "readOnly": true
        },
        "clusterCodeVersion": {
          "type": "string",
          "description": "The Service Fabric runtime version of the cluster. This property can only by set the user when **upgradeMode** is set to 'Manual'. To get list of available Service Fabric versions for new clusters use [ClusterVersion API](./ClusterVersion.md). To get the list of available version for existing clusters use **availableClusterVersions**."
        },
        "certificate": {
          "description": "The certificate to use for securing the cluster. The certificate provided will be used for  node to node security within the cluster, SSL certificate for cluster management endpoint and default  admin client.",
          "$ref": "#/definitions/CertificateDescription"
        },
        "reliabilityLevel": {
          "$ref": "#/definitions/ReliabilityLevel"
        },
        "upgradeMode": {
          "$ref": "#/definitions/UpgradeMode"
        },
        "clientCertificateThumbprints": {
          "type": "array",
          "description": "The list of client certificates referenced by thumbprint that are allowed to manage the cluster.",
          "items": {
            "$ref": "#/definitions/ClientCertificateThumbprint"
          }
        },
        "clientCertificateCommonNames": {
          "type": "array",
          "description": "The list of client certificates referenced by common name that are allowed to manage the cluster.",
          "items": {
            "$ref": "#/definitions/ClientCertificateCommonName"
          }
        },
        "fabricSettings": {
          "type": "array",
          "description": "The list of custom fabric settings to configure the cluster.",
          "items": {
            "$ref": "#/definitions/SettingsSectionDescription"
          }
        },
        "reverseProxyCertificate": {
          "description": "The server certificate used by reverse proxy.",
          "$ref": "#/definitions/CertificateDescription"
        },
        "managementEndpoint": {
          "type": "string",
          "description": "The http management endpoint of the cluster."
        },
        "nodeTypes": {
          "type": "array",
          "description": "The list of node types in the cluster.",
          "items": {
            "$ref": "#/definitions/NodeTypeDescription"
          }
        },
        "azureActiveDirectory": {
          "description": "The AAD authentication settings of the cluster.",
          "$ref": "#/definitions/AzureActiveDirectory"
        },
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state of the cluster resource.",
          "readOnly": true,
          "enum": [
            "Updating",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "vmImage": {
          "type": "string",
          "description": "The VM image VMSS has been configured with. Generic names such as Windows or Linux can be used."
        },
        "diagnosticsStorageAccountConfig": {
          "description": "The storage account information for storing Service Fabric diagnostic logs.",
          "$ref": "#/definitions/DiagnosticsStorageAccountConfig"
        },
        "upgradeDescription": {
          "description": "The policy to use when upgrading the cluster.",
          "$ref": "#/definitions/ClusterUpgradePolicy"
        },
        "addOnFeatures": {
          "type": "array",
          "description": "The list of add-on features to enable in the cluster.",
          "items": {
            "$ref": "#/definitions/AddOnFeatures"
          }
        }
      },
      "description": "Describes the cluster resource properties."
    },
    "ClusterPropertiesUpdateParameters": {
      "properties": {
        "reliabilityLevel": {
          "type": "string",
          "description": "The reliability level sets the replica set size of system services. Learn about [ReliabilityLevel](https://docs.microsoft.com/azure/service-fabric/service-fabric-cluster-capacity).",
          "enum": [
            "Bronze",
            "Silver",
            "Gold"
          ]
        },
        "upgradeMode": {
          "type": "string",
          "description": "The upgrade mode of the cluster. This indicates if the cluster should be automatically upgraded when new Service Fabric runtime version is available.",
          "enum": [
            "Automatic",
            "Manual"
          ]
        },
        "clusterCodeVersion": {
          "type": "string",
          "description": "The Service Fabric runtime version of the cluster. This property can only by set the user when **upgradeMode** is set to 'Manual'. To get list of available Service Fabric versions for new clusters use [ClusterVersion API](./ClusterVersion.md). To get the list of available version for existing clusters use **availableClusterVersions**."
        },
        "certificate": {
          "description": "The certificate to use for securing the cluster. The certificate provided will be used for  node to node security within the cluster, SSL certificate for cluster management endpoint and default  admin client.",
          "$ref": "#/definitions/CertificateDescription"
        },
        "clientCertificateThumbprints": {
          "type": "array",
          "description": "The list of client certificates referenced by thumbprint that are allowed to manage the cluster. This will overwrite the existing list.",
          "items": {
            "$ref": "#/definitions/ClientCertificateThumbprint"
          }
        },
        "clientCertificateCommonNames": {
          "type": "array",
          "description": "The list of client certificates referenced by common name that are allowed to manage the cluster. This will overwrite the existing list.",
          "items": {
            "$ref": "#/definitions/ClientCertificateCommonName"
          }
        },
        "fabricSettings": {
          "type": "array",
          "description": "The list of custom fabric settings to configure the cluster. This will overwrite the existing list.",
          "items": {
            "$ref": "#/definitions/SettingsSectionDescription"
          }
        },
        "reverseProxyCertificate": {
          "description": "The server certificate used by reverse proxy.",
          "$ref": "#/definitions/CertificateDescription"
        },
        "nodeTypes": {
          "type": "array",
          "description": "The list of node types in the cluster. This will overwrite the existing list.",
          "items": {
            "$ref": "#/definitions/NodeTypeDescription"
          }
        },
        "upgradeDescription": {
          "description": "The policy to use when upgrading the cluster.",
          "$ref": "#/definitions/ClusterUpgradePolicy"
        },
        "addOnFeatures": {
          "type": "array",
          "description": "The list of add-on features to enable in the cluster.",
          "items": {
            "$ref": "#/definitions/AddOnFeatures"
          }
        }
      },
      "description": "Describes the cluster resource properties that can be updated during PATCH operation."
    },
    "ClusterUpdateParameters": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ClusterPropertiesUpdateParameters"
        },
        "tags": {
          "type": "object",
          "description": "Cluster update parameters",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Cluster update request"
    },
    "ClusterUpgradeDeltaHealthPolicy": {
      "required": [
        "maxPercentDeltaUnhealthyApplications",
        "maxPercentDeltaUnhealthyNodes",
        "maxPercentUpgradeDomainDeltaUnhealthyNodes"
      ],
      "properties": {
        "maxPercentDeltaUnhealthyNodes": {
          "type": "integer",
          "description": "The maximum allowed percentage of nodes health degradation allowed during cluster upgrades. The delta is measured between the state of the nodes at the beginning of upgrade and the state of the nodes at the time of the health evaluation. The check is performed after every upgrade domain upgrade completion to make sure the global state of the cluster is within tolerated limits.",
          "minimum": 0,
          "maximum": 100
        },
        "maxPercentUpgradeDomainDeltaUnhealthyNodes": {
          "type": "integer",
          "description": "The maximum allowed percentage of upgrade domain nodes health degradation allowed during cluster upgrades. The delta is measured between the state of the upgrade domain nodes at the beginning of upgrade and the state of the upgrade domain nodes at the time of the health evaluation. The check is performed after every upgrade domain upgrade completion for all completed upgrade domains to make sure the state of the upgrade domains is within tolerated limits. ",
          "minimum": 0,
          "maximum": 100
        },
        "maxPercentDeltaUnhealthyApplications": {
          "type": "integer",
          "description": "The maximum allowed percentage of applications health degradation allowed during cluster upgrades. The delta is measured between the state of the applications at the beginning of upgrade and the state of the applications at the time of the health evaluation. The check is performed after every upgrade domain upgrade completion to make sure the global state of the cluster is within tolerated limits. System services are not included in this.",
          "minimum": 0,
          "maximum": 100
        }
      },
      "description": "Describes the delta health policies for the cluster upgrade."
    },
    "ClusterUpgradePolicy": {
      "required": [
        "healthCheckRetryTimeout",
        "healthCheckStableDuration",
        "healthCheckWaitDuration",
        "healthPolicy",
        "upgradeDomainTimeout",
        "upgradeReplicaSetCheckTimeout",
        "upgradeTimeout"
      ],
      "properties": {
        "forceRestart": {
          "type": "boolean",
          "description": "If true, then processes are forcefully restarted during upgrade even when the code version has not changed (the upgrade only changes configuration or data)."
        },
        "upgradeReplicaSetCheckTimeout": {
          "type": "string",
          "description": "The maximum amount of time to block processing of an upgrade domain and prevent loss of availability when there are unexpected issues. When this timeout expires, processing of the upgrade domain will proceed regardless of availability loss issues. The timeout is reset at the start of each upgrade domain. The timeout can be in either hh:mm:ss or in d.hh:mm:ss.ms format."
        },
        "healthCheckWaitDuration": {
          "type": "string",
          "description": "The length of time to wait after completing an upgrade domain before performing health checks. The duration can be in either hh:mm:ss or in d.hh:mm:ss.ms format."
        },
        "healthCheckStableDuration": {
          "type": "string",
          "description": "The amount of time that the application or cluster must remain healthy before the upgrade proceeds to the next upgrade domain. The duration can be in either hh:mm:ss or in d.hh:mm:ss.ms format."
        },
        "healthCheckRetryTimeout": {
          "type": "string",
          "description": "The amount of time to retry health evaluation when the application or cluster is unhealthy before the upgrade rolls back. The timeout can be in either hh:mm:ss or in d.hh:mm:ss.ms format."
        },
        "upgradeTimeout": {
          "type": "string",
          "description": "The amount of time the overall upgrade has to complete before the upgrade rolls back. The timeout can be in either hh:mm:ss or in d.hh:mm:ss.ms format."
        },
        "upgradeDomainTimeout": {
          "type": "string",
          "description": "The amount of time each upgrade domain has to complete before the upgrade rolls back. The timeout can be in either hh:mm:ss or in d.hh:mm:ss.ms format."
        },
        "healthPolicy": {
          "description": "The cluster health policy used when upgrading the cluster.",
          "$ref": "#/definitions/ClusterHealthPolicy"
        },
        "deltaHealthPolicy": {
          "description": "The delta health policy used when upgrading the cluster.",
          "$ref": "#/definitions/ClusterUpgradeDeltaHealthPolicy"
        }
      },
      "description": "Describes the policy used when upgrading the cluster."
    },
    "ClusterVersionDetails": {
      "properties": {
        "codeVersion": {
          "type": "string",
          "description": "The Service Fabric runtime version of the cluster."
        },
        "supportExpiryUtc": {
          "type": "string",
          "description": "The date of expiry of support of the version."
        },
        "environment": {
          "description": "Indicates if this version is for Windows or Linux operating system.",
          "$ref": "#/definitions/ClusterEnvironment"
        }
      },
      "description": "The detail of the Service Fabric runtime version result"
    },
    "DiagnosticsStorageAccountConfig": {
      "required": [
        "blobEndpoint",
        "protectedAccountKeyName",
        "queueEndpoint",
        "storageAccountName",
        "tableEndpoint"
      ],
      "properties": {
        "storageAccountName": {
          "type": "string",
          "description": "The Azure storage account name."
        },
        "protectedAccountKeyName": {
          "type": "string",
          "description": "The protected diagnostics storage key name."
        },
        "blobEndpoint": {
          "type": "string",
          "description": "The blob endpoint of the azure storage account."
        },
        "queueEndpoint": {
          "type": "string",
          "description": "The queue endpoint of the azure storage account."
        },
        "tableEndpoint": {
          "type": "string",
          "description": "The table endpoint of the azure storage account."
        }
      },
      "description": "The storage account information for storing Service Fabric diagnostic logs."
    },
    "EndpointRangeDescription": {
      "required": [
        "endPort",
        "startPort"
      ],
      "properties": {
        "startPort": {
          "type": "integer",
          "description": "Starting port of a range of ports"
        },
        "endPort": {
          "type": "integer",
          "description": "End port of a range of ports"
        }
      },
      "description": "Port range details"
    },
    "ErrorModel": {
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        }
      },
      "description": "The error details."
    },
    "NodeTypeDescription": {
      "required": [
        "clientConnectionEndpointPort",
        "httpGatewayEndpointPort",
        "isPrimary",
        "name",
        "vmInstanceCount"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the node type."
        },
        "placementProperties": {
          "type": "object",
          "description": "The placement tags applied to nodes in the node type, which can be used to indicate where certain services (workload) should run.",
          "additionalProperties": {
            "type": "string",
            "description": "Placement tag value"
          }
        },
        "capacities": {
          "type": "object",
          "description": "The capacity tags applied to the nodes in the node type, the cluster resource manager uses these tags to understand how much resource a node has.",
          "additionalProperties": {
            "type": "string",
            "description": "Capacity tag value"
          }
        },
        "clientConnectionEndpointPort": {
          "type": "integer",
          "description": "The TCP cluster management endpoint port."
        },
        "httpGatewayEndpointPort": {
          "type": "integer",
          "description": "The HTTP cluster management endpoint port."
        },
        "durabilityLevel": {
          "$ref": "#/definitions/DurabilityLevel"
        },
        "applicationPorts": {
          "description": "The range of ports from which cluster assigned port to Service Fabric applications.",
          "$ref": "#/definitions/EndpointRangeDescription"
        },
        "ephemeralPorts": {
          "description": "The range of ephemeral ports that nodes in this node type should be configured with.",
          "$ref": "#/definitions/EndpointRangeDescription"
        },
        "isPrimary": {
          "type": "boolean",
          "description": "The node type on which system services will run. Only one node type should be marked as primary. Primary node type cannot be deleted or changed for existing clusters."
        },
        "vmInstanceCount": {
          "type": "integer",
          "description": "The number of nodes in the node type. This count should match the capacity property in the corresponding VirtualMachineScaleSet resource.",
          "minimum": 1,
          "maximum": 2147483647
        },
        "reverseProxyEndpointPort": {
          "type": "integer",
          "description": "The endpoint used by reverse proxy."
        }
      },
      "description": "Describes a node type in the cluster, each node type represents sub set of nodes in the cluster."
    },
    "OperationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "description": "List of Service Fabric operations supported by the Microsoft.ServiceFabric resource provider.",
          "items": {
            "$ref": "#/definitions/OperationResult"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any.",
          "readOnly": true
        }
      },
      "description": "Describes the result of the request to list Service Fabric operations."
    },
    "OperationResult": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the operation."
        },
        "display": {
          "description": "The object that represents the operation.",
          "$ref": "#/definitions/AvailableOperationDisplay"
        },
        "origin": {
          "type": "string",
          "description": "Origin result"
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "Available operation list result"
    },
    "ProxyResource": {
      "required": [
        "location"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Azure resource ID.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Azure resource name.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Azure resource type.",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "Resource location."
        }
      },
      "description": "The resource model definition for proxy-only resource.",
      "x-ms-azure-resource": true
    },
    "Resource": {
      "required": [
        "location"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Azure resource ID.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Azure resource name.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Azure resource type.",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "Resource location."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "The resource model definition.",
      "x-ms-azure-resource": true
    },
    "RollingUpgradeMonitoringPolicy": {
      "description": "The policy used for monitoring the application upgrade",
      "properties": {
        "healthCheckWaitDuration": {
          "$ref": "#/definitions/HealthCheckWaitDuration"
        },
        "healthCheckStableDuration": {
          "$ref": "#/definitions/HealthCheckStableDuration"
        },
        "healthCheckRetryTimeout": {
          "$ref": "#/definitions/HealthCheckRetryTimeout"
        },
        "upgradeTimeout": {
          "$ref": "#/definitions/UpgradeTimeout"
        },
        "upgradeDomainTimeout": {
          "$ref": "#/definitions/UpgradeDomainTimeout"
        }
      }
    },
    "ServiceTypeDeltaHealthPolicy": {
      "type": "object",
      "description": "Service health policy\n",
      "properties": {
        "maxPercentDeltaUnhealthyServices": {
          "description": "Maximum percentage of unhealthy services in cluster",
          "type": "integer",
          "maximum": 100,
          "minimum": 0
        }
      }
    },
    "SettingsParameterDescription": {
      "required": [
        "name",
        "value"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "The parameter name of fabric setting."
        },
        "value": {
          "type": "string",
          "description": "The parameter value of fabric setting."
        }
      },
      "description": "Describes a parameter in fabric settings of the cluster."
    },
    "SettingsSectionDescription": {
      "required": [
        "name",
        "parameters"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "The section name of the fabric settings."
        },
        "parameters": {
          "type": "array",
          "description": "The collection of parameters in the section.",
          "items": {
            "$ref": "#/definitions/SettingsParameterDescription"
          }
        }
      },
      "description": "Describes a section in the fabric settings of the cluster."
    },
    "ClusterHealthPolicy": {
      "properties": {
        "maxPercentUnhealthyNodes": {
          "type": "integer",
          "description": "The maximum allowed percentage of unhealthy nodes before reporting an error. For example, to allow 10% of nodes to be unhealthy, this value would be 10. ",
          "minimum": 0,
          "maximum": 100
        },
        "maxPercentUnhealthyApplications": {
          "type": "integer",
          "description": "The maximum allowed percentage of unhealthy applications before reporting an error. For example, to allow 10% of applications to be unhealthy, this value would be 10. ",
          "minimum": 0,
          "maximum": 100
        }
      },
      "description": "Defines a health policy used to evaluate the health of the cluster or of a cluster node."
    },
    "ClusterState": {
      "type": "string",
      "description": "The current state of the cluster.\n\n  - WaitingForNodes - Indicates that the cluster resource is created and the resource provider is waiting for Service Fabric VM extension to boot up and report to it.\n  - Deploying - Indicates that the Service Fabric runtime is being installed on the VMs. Cluster resource will be in this state until the cluster boots up and system services are up.\n  - BaselineUpgrade - Indicates that the cluster is upgrading to establishes the cluster version. This upgrade is automatically initiated when the cluster boots up for the first time.\n  - UpdatingUserConfiguration - Indicates that the cluster is being upgraded with the user provided configuration.\n  - UpdatingUserCertificate - Indicates that the cluster is being upgraded with the user provided certificate.\n  - UpdatingInfrastructure - Indicates that the cluster is being upgraded with the latest Service Fabric runtime version. This happens only when the **upgradeMode** is set to 'Automatic'.\n  - EnforcingClusterVersion - Indicates that cluster is on a different version than expected and the cluster is being upgraded to the expected version.\n  - UpgradeServiceUnreachable - Indicates that the system service in the cluster is no longer polling the Resource Provider. Clusters in this state cannot be managed by the Resource Provider.\n  - AutoScale - Indicates that the ReliabilityLevel of the cluster is being adjusted.\n  - Ready - Indicates that the cluster is in a stable state.\n",
      "enum": [
        "WaitingForNodes",
        "Deploying",
        "BaselineUpgrade",
        "UpdatingUserConfiguration",
        "UpdatingUserCertificate",
        "UpdatingInfrastructure",
        "EnforcingClusterVersion",
        "UpgradeServiceUnreachable",
        "AutoScale",
        "Ready"
      ]
    },
    "DurabilityLevel": {
      "type": "string",
      "description": "The durability level of the node type. Learn about [DurabilityLevel](https://docs.microsoft.com/azure/service-fabric/service-fabric-cluster-capacity).\n\n  - Bronze - No privileges. This is the default.\n  - Silver - The infrastructure jobs can be paused for a duration of 30 minutes per UD.\n  - Gold - The infrastructure jobs can be paused for a duration of 2 hours per UD. Gold durability can be enabled only on full node VM skus like D15_V2, G5 etc.\n",
      "enum": [
        "Bronze",
        "Silver",
        "Gold"
      ]
    },
    "ReliabilityLevel": {
      "type": "string",
      "description": "The reliability level sets the replica set size of system services. Learn about [ReliabilityLevel](https://docs.microsoft.com/azure/service-fabric/service-fabric-cluster-capacity).\n\n  - None - Run the System services with a target replica set count of 1. This should only be used for test clusters.\n  - Bronze - Run the System services with a target replica set count of 3. This should only be used for test clusters.\n  - Silver - Run the System services with a target replica set count of 5.\n  - Gold - Run the System services with a target replica set count of 7.\n  - Platinum - Run the System services with a target replica set count of 9.\n",
      "enum": [
        "None",
        "Bronze",
        "Silver",
        "Gold",
        "Platinum"
      ]
    },
    "UpgradeMode": {
      "type": "string",
      "description": "The upgrade mode of the cluster when new Service Fabric runtime version is available.\n\n  - Automatic - The cluster will be automatically upgraded to the latest Service Fabric runtime version as soon as it is available.\n  - Manual - The cluster will not be automatically upgraded to the latest Service Fabric runtime version. The cluster is upgraded by setting the **clusterCodeVersion** property in the cluster resource.\n",
      "enum": [
        "Automatic",
        "Manual"
      ]
    }
  },
  "parameters": {
    "api-version": {
      "name": "api-version",
      "in": "query",
      "description": "The version of the API.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "applicationName": {
      "name": "applicationName",
      "in": "path",
      "description": "The name of the application resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "applicationTypeName": {
      "name": "applicationTypeName",
      "in": "path",
      "description": "The name of the application type name resource",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "clusterNameParameter": {
      "name": "clusterName",
      "in": "path",
      "description": "The name of the cluster resource",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "clusterVersion": {
      "name": "clusterVersion",
      "in": "path",
      "description": "The cluster code version",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "environment": {
      "name": "environment",
      "in": "path",
      "description": "Cluster operating system, the default means all",
      "required": true,
      "type": "string",
      "enum": [
        "Windows",
        "Linux"
      ],
      "x-ms-parameter-location": "method"
    },
    "locationForClusterCodeVersions": {
      "name": "location",
      "in": "path",
      "description": "The location for the cluster code versions, this is different from cluster location",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the resource group.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "serviceName": {
      "name": "serviceName",
      "in": "path",
      "description": "The name of the service resource in the format of {applicationName}~{serviceName}.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "subscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The customer subscription identifier",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "version": {
      "name": "version",
      "in": "path",
      "description": "The application type version.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
