{
  "swagger": "2.0",
  "host": "management.azure.com",
  "info": {
    "version": "2023-12-01-alpha",
    "title": "Management Groups APIs for Applications",
    "description": "The Azure Management Groups API enables consolidation of multiple \nsubscriptions/resources into an organizational hierarchy and centrally \nmanage access control, policies, alerting and reporting for those resources.\n This API version includes the preview state of Applications which are a new version of Management Groups.\n"
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Applications",
      "description": "An Application is a customer created scope, where multiple subscriptions or applications can be grouped by. \n"
    }
  ],
  "paths": {
    "/providers/Microsoft.Management/applications/{applicationId}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "operationId": "Applications_Get",
        "description": "Get the details of the application.\n",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetApplication": {
            "$ref": "./examples/GetApplication.json"
          }
        }
      },
      "put": {
        "tags": [
          "Applications"
        ],
        "operationId": "Application_Create",
        "description": "Create an Application.\n",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/CreateApplicationRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/ApplicationProvisioningStatus"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PutApplication": {
            "$ref": "./examples/PutApplication.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "description": "The error object.",
      "properties": {
        "error": {
          "title": "Error",
          "$ref": "#/definitions/ErrorDetails"
        }
      }
    },
    "ErrorDetails": {
      "description": "The details of the error.",
      "properties": {
        "code": {
          "description": "One of a server-defined set of error codes.",
          "type": "string"
        },
        "message": {
          "description": "A human-readable representation of the error.",
          "type": "string"
        },
        "additionalInfo": {
          "description": "A human-readable representation of additional information of error.",
          "type": "string"
        }
      }
    },
    "Application": {
      "description": "The application details.",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "type": "string",
          "description": "The fully qualified ID for the application.  For example, /providers/Microsoft.Management/applications/0000000-0000-0000-0000-000000000000",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the resource.  For example, Microsoft.Management/applications",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the application. For example, 00000000-0000-0000-0000-000000000000",
          "readOnly": true
        },
        "properties": {
          "title": "properties",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CreateApplicationRequestProperties"
        }
      }
    },
    "ApplicationProvisioningStatus": {
      "description": "The application details.",
      "x-ms-azure-resource": true,
      "properties": {
        "title": "properties",
        "x-ms-client-flatten": true,
        "$ref": "#/definitions/CreateApplicationRequestPropertiesWithProvisioningState"
      }
    },
    "CreateApplicationRequest": {
      "description": "Application creation parameters.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
          "title": "properties",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CreateApplicationRequestProperties"
        }
      },
    "CreateApplicationRequestProperties": {
      "description": "Application creation request body parameters.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The name of the application. For example, ApplicationTest1"
        },
        "memberOf": {
          "title": "memberOf",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CreateApplicationMemberOfProperties"
        }
      }
    },
    "CreateApplicationRequestPropertiesWithProvisioningState": {
      "description": "Application creation request body parameters.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state of the application. For example, Running"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the application. For example, ApplicationTest1"
        },
        "memberOf": {
          "title": "memberOf",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CreateApplicationMemberOfProperties"
        }
      }
    },
    "CreateApplicationMemberOfProperties": {
      "description": "The details of the parent management group or application.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "The fully qualified ID of the parent management group or applications.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000 or /providers/Microsoft.Management/applications/TestApplication"
        }
      }
    }
  },
  "parameters": {
    "ApplicationIdParameter": {
      "name": "applicationId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Application ID.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request. The current version is 2023-12-01-alpha."
    },
    "CreateApplicationRequestParameter": {
      "name": "createApplicationRequest",
      "in": "body",
      "required": true,
      "description": "Application creation parameters.",
      "schema": {
        "$ref": "#/definitions/CreateApplicationRequest"
      },
      "x-ms-parameter-location": "method"
    }
  }
}
