{
  "swagger": "2.0",
  "info": {
    "title": "Security Insights",
    "description": "API spec for Microsoft.SecurityInsights (Azure Security Insights) resource provider",
    "version": "2021-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/incidents": {
      "get": {
        "x-ms-examples": {
          "Get all incidents.": {
            "$ref": "./examples/incidents/GetIncidents.json"
          }
        },
        "tags": [
          "Incidents"
        ],
        "description": "Gets all incidents.",
        "operationId": "Incidents_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ODataFilter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ODataOrderBy"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ODataTop"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ODataSkipToken"
          }
        ],
        "responses": {
          "200": {
            "description": "OK, Operation successfully completed",
            "schema": {
              "$ref": "#/definitions/IncidentList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/incidents/{incidentId}": {
      "get": {
        "x-ms-examples": {
          "Get an incident.": {
            "$ref": "./examples/incidents/GetIncidentById.json"
          }
        },
        "tags": [
          "Incidents"
        ],
        "description": "Gets a given incident.",
        "operationId": "Incidents_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/IncidentId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK, Operation successfully completed",
            "schema": {
              "$ref": "#/definitions/Incident"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "Creates or updates an incident.": {
            "$ref": "./examples/incidents/CreateIncident.json"
          }
        },
        "tags": [
          "Incidents"
        ],
        "description": "Creates or updates an incident.",
        "operationId": "Incidents_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/IncidentId"
          },
          {
            "$ref": "#/parameters/Incident"
          }
        ],
        "responses": {
          "200": {
            "description": "OK, Operation successfully completed",
            "schema": {
              "$ref": "#/definitions/Incident"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Incident"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "x-ms-examples": {
          "Delete an incident.": {
            "$ref": "./examples/incidents/DeleteIncident.json"
          }
        },
        "tags": [
          "Incidents"
        ],
        "description": "Deletes a given incident.",
        "operationId": "Incidents_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/IncidentId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK, Operation successfully completed"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/incidents/{incidentId}/alerts": {
      "post": {
        "x-ms-examples": {
          "Get all incident alerts.": {
            "$ref": "./examples/incidents/GetAllIncidentAlerts.json"
          }
        },
        "tags": [
          "IncidentAlerts"
        ],
        "description": "Gets all alerts for an incident.",
        "operationId": "Incidents_ListOfAlerts",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/IncidentId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IncidentAlertList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/incidents/{incidentId}/bookmarks": {
      "post": {
        "x-ms-examples": {
          "Get all incident bookmarks.": {
            "$ref": "./examples/incidents/GetAllIncidentBookmarks.json"
          }
        },
        "tags": [
          "IncidentBookmarks"
        ],
        "description": "Gets all bookmarks for an incident.",
        "operationId": "Incidents_ListOfBookmarks",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/IncidentId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IncidentBookmarkList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/incidents/{incidentId}/comments": {
      "get": {
        "x-ms-examples": {
          "Get all incident comments.": {
            "$ref": "./examples/incidents/comments/GetAllIncidentComments.json"
          }
        },
        "tags": [
          "IncidentComments"
        ],
        "description": "Gets all comments for a given incident.",
        "operationId": "IncidentComments_ListByIncident",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/IncidentId"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ODataFilter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ODataOrderBy"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ODataTop"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ODataSkipToken"
          }
        ],
        "responses": {
          "200": {
            "description": "OK, Operation successfully completed",
            "schema": {
              "$ref": "#/definitions/IncidentCommentList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-odata": "#/definitions/IncidentComment",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/incidents/{incidentId}/comments/{incidentCommentId}": {
      "get": {
        "x-ms-examples": {
          "Get an incident comment.": {
            "$ref": "./examples/incidents/comments/GetIncidentCommentById.json"
          }
        },
        "tags": [
          "IncidentComments"
        ],
        "description": "Gets a comment for a given incident.",
        "operationId": "IncidentComments_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/IncidentId"
          },
          {
            "$ref": "#/parameters/IncidentCommentId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK, Operation successfully completed",
            "schema": {
              "$ref": "#/definitions/IncidentComment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "Creates or updates an incident comment.": {
            "$ref": "./examples/incidents/comments/CreateIncidentComment.json"
          }
        },
        "tags": [
          "IncidentComments"
        ],
        "description": "Creates or updates a comment for a given incident.",
        "operationId": "IncidentComments_CreateComment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/IncidentId"
          },
          {
            "$ref": "#/parameters/IncidentCommentId"
          },
          {
            "$ref": "#/parameters/IncidentComment"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated",
            "schema": {
              "$ref": "#/definitions/IncidentComment"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/IncidentComment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "x-ms-examples": {
          "Delete the incident comment.": {
            "$ref": "./examples/incidents/comments/DeleteIncidentComment.json"
          }
        },
        "tags": [
          "IncidentComments"
        ],
        "description": "Deletes a comment for a given incident.",
        "operationId": "IncidentComments_DeleteComment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/IncidentId"
          },
          {
            "$ref": "#/parameters/IncidentCommentId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/incidents/{incidentId}/entities": {
      "post": {
        "x-ms-examples": {
          "Gets all incident related entities": {
            "$ref": "./examples/incidents/GetAllIncidentEntities.json"
          }
        },
        "tags": [
          "IncidentEntities"
        ],
        "description": "Gets all entities for an incident.",
        "operationId": "Incidents_ListOfEntities",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/IncidentId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IncidentEntitiesResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/incidents/{incidentId}/relations": {
      "get": {
        "x-ms-examples": {
          "Get all incident relations.": {
            "$ref": "./examples/incidents/relations/GetAllIncidentRelations.json"
          }
        },
        "tags": [
          "IncidentRelations"
        ],
        "description": "Gets all relations for a given incident.",
        "operationId": "IncidentRelations_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/IncidentId"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ODataFilter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ODataOrderBy"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ODataTop"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ODataSkipToken"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RelationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-odata": "#/definitions/Relation",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/incidents/{incidentId}/relations/{relationName}": {
      "get": {
        "x-ms-examples": {
          "Get an incident relation.": {
            "$ref": "./examples/incidents/relations/GetIncidentRelationByName.json"
          }
        },
        "tags": [
          "IncidentRelations"
        ],
        "description": "Gets a relation for a given incident.",
        "operationId": "IncidentRelations_GetRelation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/IncidentId"
          },
          {
            "$ref": "#/parameters/RelationName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Relation"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "Creates or updates an incident relation.": {
            "$ref": "./examples/incidents/relations/CreateIncidentRelation.json"
          }
        },
        "tags": [
          "IncidentRelations"
        ],
        "description": "Creates or updates a relation for a given incident.",
        "operationId": "IncidentRelations_CreateOrUpdateRelation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/IncidentId"
          },
          {
            "$ref": "#/parameters/RelationName"
          },
          {
            "$ref": "#/parameters/Relation"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Relation"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Relation"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "x-ms-examples": {
          "Delete the incident relation.": {
            "$ref": "./examples/incidents/relations/DeleteIncidentRelation.json"
          }
        },
        "tags": [
          "IncidentRelations"
        ],
        "description": "Deletes a relation for a given incident.",
        "operationId": "IncidentRelations_DeleteRelation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../common/1.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/IncidentId"
          },
          {
            "$ref": "#/parameters/RelationName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AccountEntity": {
      "allOf": [
        {
          "$ref": "#/definitions/Entity"
        }
      ],
      "description": "Represents an account entity.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AccountEntityProperties",
          "description": "Account entity properties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "Account"
    },
    "AccountEntityProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/EntityCommonProperties"
        }
      ],
      "description": "Account entity property bag.",
      "properties": {
        "aadTenantId": {
          "description": "The Azure Active Directory tenant id.",
          "readOnly": true,
          "type": "string"
        },
        "aadUserId": {
          "description": "The Azure Active Directory user id.",
          "readOnly": true,
          "type": "string"
        },
        "accountName": {
          "description": "The name of the account. This field should hold only the name without any domain added to it, i.e. administrator.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the account.",
          "readOnly": true,
          "type": "string"
        },
        "hostEntityId": {
          "description": "The Host entity id that contains the account in case it is a local account (not domain joined)",
          "readOnly": true,
          "type": "string"
        },
        "isDomainJoined": {
          "description": "Determines whether this is a domain account.",
          "readOnly": true,
          "type": "boolean"
        },
        "ntDomain": {
          "description": "The NetBIOS domain name as it appears in the alert format – domain\\username. Examples: NT AUTHORITY.",
          "readOnly": true,
          "type": "string"
        },
        "objectGuid": {
          "description": "The objectGUID attribute is a single-value attribute that is the unique identifier for the object, assigned by active directory.",
          "format": "uuid",
          "readOnly": true,
          "type": "string"
        },
        "puid": {
          "description": "The Azure Active Directory Passport User ID.",
          "readOnly": true,
          "type": "string"
        },
        "sid": {
          "description": "The account security identifier, e.g. S-1-5-18.",
          "readOnly": true,
          "type": "string"
        },
        "upnSuffix": {
          "description": "The user principal name suffix for the account, in some cases it is also the domain name. Examples: contoso.com.",
          "readOnly": true,
          "type": "string"
        },
        "dnsDomain": {
          "description": "The fully qualified domain DNS name.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "AlertSeverity": {
      "description": "The severity of the alert",
      "enum": [
        "High",
        "Medium",
        "Low",
        "Informational"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "AlertSeverity",
        "values": [
          {
            "description": "High severity",
            "value": "High"
          },
          {
            "description": "Medium severity",
            "value": "Medium"
          },
          {
            "description": "Low severity",
            "value": "Low"
          },
          {
            "description": "Informational severity",
            "value": "Informational"
          }
        ]
      }
    },
    "AttackTactic": {
      "description": "The severity for alerts created by this alert rule.",
      "enum": [
        "InitialAccess",
        "Execution",
        "Persistence",
        "PrivilegeEscalation",
        "DefenseEvasion",
        "CredentialAccess",
        "Discovery",
        "LateralMovement",
        "Collection",
        "Exfiltration",
        "CommandAndControl",
        "Impact"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "AttackTactic"
      }
    },
    "AzureResourceEntity": {
      "allOf": [
        {
          "$ref": "#/definitions/Entity"
        }
      ],
      "description": "Represents an azure resource entity.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureResourceEntityProperties",
          "description": "AzureResource entity properties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "AzureResource"
    },
    "AzureResourceEntityProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/EntityCommonProperties"
        }
      ],
      "description": "AzureResource entity property bag.",
      "properties": {
        "resourceId": {
          "description": "The azure resource id of the resource",
          "readOnly": true,
          "type": "string"
        },
        "subscriptionId": {
          "description": "The subscription id of the resource",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ClientInfo": {
      "description": "Information on the client (user or application) that made some action",
      "properties": {
        "email": {
          "description": "The email of the client.",
          "type": "string"
        },
        "name": {
          "description": "The name of the client.",
          "type": "string"
        },
        "objectId": {
          "description": "The object id of the client.",
          "format": "uuid",
          "type": "string"
        },
        "userPrincipalName": {
          "description": "The user principal name of the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloudApplicationEntity": {
      "allOf": [
        {
          "$ref": "#/definitions/Entity"
        }
      ],
      "description": "Represents a cloud application entity.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CloudApplicationEntityProperties",
          "description": "CloudApplication entity properties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "CloudApplication"
    },
    "CloudApplicationEntityProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/EntityCommonProperties"
        }
      ],
      "description": "CloudApplication entity property bag.",
      "properties": {
        "appId": {
          "description": "The technical identifier of the application.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "appName": {
          "description": "The name of the related cloud application.",
          "readOnly": true,
          "type": "string"
        },
        "instanceName": {
          "description": "The user defined instance name of the cloud application. It is often used to distinguish between several applications of the same type that a customer has.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloudError": {
      "x-ms-external": true,
      "properties": {
        "error": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse",
          "description": "The error object of the CloudError response"
        }
      },
      "type": "object",
      "description": "An error response for a resource management request."
    },
    "DnsEntity": {
      "allOf": [
        {
          "$ref": "#/definitions/Entity"
        }
      ],
      "description": "Represents a dns entity.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DnsEntityProperties",
          "description": "Dns entity properties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "DnsResolution"
    },
    "DnsEntityProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/EntityCommonProperties"
        }
      ],
      "description": "Dns entity property bag.",
      "properties": {
        "dnsServerIpEntityId": {
          "description": "An ip entity id for the dns server resolving the request",
          "readOnly": true,
          "type": "string"
        },
        "domainName": {
          "description": "The name of the dns record associated with the alert",
          "readOnly": true,
          "type": "string"
        },
        "hostIpAddressEntityId": {
          "description": "An ip entity id for the dns request client",
          "readOnly": true,
          "type": "string"
        },
        "ipAddressEntityIds": {
          "description": "Ip entity identifiers for the resolved ip address.",
          "items": {
            "description": "Ip entity id",
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "Entity": {
      "allOf": [
        {
          "$ref": "../../../common/1.0/types.json#/definitions/Resource"
        },
        {
          "$ref": "#/definitions/EntityKind"
        }
      ],
      "description": "Specific entity.",
      "discriminator": "kind",
      "type": "object",
      "required": [
        "kind"
      ]
    },
    "EntityCommonProperties": {
      "description": "Entity common property bag.",
      "properties": {
        "additionalData": {
          "additionalProperties": {
            "type": "object"
          },
          "description": "A bag of custom fields that should be part of the entity and will be presented to the user.",
          "readOnly": true,
          "type": "object"
        },
        "friendlyName": {
          "description": "The graph item display name which is a short humanly readable description of the graph item instance. This property is optional and might be system generated.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "EntityEdges": {
      "description": "The edge that connects the entity to the other entity.",
      "properties": {
        "targetEntityId": {
          "description": "The target entity Id.",
          "type": "string"
        },
        "additionalData": {
          "additionalProperties": {
            "type": "object"
          },
          "description": "A bag of custom fields that should be part of the entity and will be presented to the user.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "EntityInnerKind": {
      "description": "The kind of the entity",
      "enum": [
        "Account",
        "Host",
        "File",
        "AzureResource",
        "CloudApplication",
        "DnsResolution",
        "FileHash",
        "Ip",
        "Malware",
        "Process",
        "RegistryKey",
        "RegistryValue",
        "SecurityGroup",
        "Url",
        "IoTDevice",
        "SecurityAlert",
        "Bookmark",
        "Mailbox",
        "MailCluster",
        "MailMessage",
        "SubmissionMail"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "EntityKindEnum",
        "values": [
          {
            "description": "Entity represents account in the system.",
            "value": "Account"
          },
          {
            "description": "Entity represents host in the system.",
            "value": "Host"
          },
          {
            "description": "Entity represents file in the system.",
            "value": "File"
          },
          {
            "description": "Entity represents azure resource in the system.",
            "value": "AzureResource"
          },
          {
            "description": "Entity represents cloud application in the system.",
            "value": "CloudApplication"
          },
          {
            "description": "Entity represents dns resolution in the system.",
            "value": "DnsResolution"
          },
          {
            "description": "Entity represents file hash in the system.",
            "value": "FileHash"
          },
          {
            "description": "Entity represents ip in the system.",
            "value": "Ip"
          },
          {
            "description": "Entity represents malware in the system.",
            "value": "Malware"
          },
          {
            "description": "Entity represents process in the system.",
            "value": "Process"
          },
          {
            "description": "Entity represents registry key in the system.",
            "value": "RegistryKey"
          },
          {
            "description": "Entity represents registry value in the system.",
            "value": "RegistryValue"
          },
          {
            "description": "Entity represents security group in the system.",
            "value": "SecurityGroup"
          },
          {
            "description": "Entity represents url in the system.",
            "value": "Url"
          },
          {
            "description": "Entity represents IoT device in the system.",
            "value": "IoTDevice"
          },
          {
            "description": "Entity represents security alert in the system.",
            "value": "SecurityAlert"
          },
          {
            "description": "Entity represents bookmark in the system.",
            "value": "Bookmark"
          },
          {
            "description": "Entity represents mail cluster in the system.",
            "value": "MailCluster"
          },
          {
            "description": "Entity represents mail message in the system.",
            "value": "MailMessage"
          },
          {
            "description": "Entity represents mailbox in the system.",
            "value": "Mailbox"
          },
          {
            "description": "Entity represents submission mail in the system.",
            "value": "SubmissionMail"
          }
        ]
      }
    },
    "EntityKind": {
      "description": "Describes an entity with kind.",
      "properties": {
        "kind": {
          "$ref": "#/definitions/EntityInnerKind",
          "description": "The kind of the entity."
        }
      },
      "required": [
        "kind"
      ],
      "type": "object"
    },
    "FileEntity": {
      "allOf": [
        {
          "$ref": "#/definitions/Entity"
        }
      ],
      "description": "Represents a file entity.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FileEntityProperties",
          "description": "File entity properties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "File"
    },
    "FileEntityProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/EntityCommonProperties"
        }
      ],
      "description": "File entity property bag.",
      "properties": {
        "directory": {
          "description": "The full path to the file.",
          "readOnly": true,
          "type": "string"
        },
        "fileHashEntityIds": {
          "description": "The file hash entity identifiers associated with this file",
          "items": {
            "description": "file hash id",
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "fileName": {
          "description": "The file name without path (some alerts might not include path).",
          "readOnly": true,
          "type": "string"
        },
        "hostEntityId": {
          "description": "The Host entity id which the file belongs to",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "FileHashEntity": {
      "allOf": [
        {
          "$ref": "#/definitions/Entity"
        }
      ],
      "description": "Represents a file hash entity.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FileHashEntityProperties",
          "description": "FileHash entity properties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "FileHash"
    },
    "FileHashEntityProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/EntityCommonProperties"
        }
      ],
      "description": "FileHash entity property bag.",
      "properties": {
        "algorithm": {
          "description": "The hash algorithm type.",
          "enum": [
            "Unknown",
            "MD5",
            "SHA1",
            "SHA256",
            "SHA256AC"
          ],
          "readOnly": true,
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "FileHashAlgorithm",
            "values": [
              {
                "description": "Unknown hash algorithm",
                "value": "Unknown"
              },
              {
                "description": "MD5 hash type",
                "value": "MD5"
              },
              {
                "description": "SHA1 hash type",
                "value": "SHA1"
              },
              {
                "description": "SHA256 hash type",
                "value": "SHA256"
              },
              {
                "description": "SHA256 Authenticode hash type",
                "value": "SHA256AC"
              }
            ]
          }
        },
        "hashValue": {
          "description": "The file hash value.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GeoLocation": {
      "description": "The geo-location context attached to the ip entity",
      "properties": {
        "asn": {
          "description": "Autonomous System Number",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "city": {
          "description": "City name",
          "readOnly": true,
          "type": "string"
        },
        "countryCode": {
          "description": "The country code according to ISO 3166 format",
          "readOnly": true,
          "type": "string"
        },
        "countryName": {
          "description": "Country name according to ISO 3166 Alpha 2: the lowercase of the English Short Name",
          "readOnly": true,
          "type": "string"
        },
        "latitude": {
          "description": "The longitude of the identified location, expressed as a floating point number with range of -180 to 180, with positive numbers representing East and negative numbers representing West. Latitude and longitude are derived from the city or postal code.",
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "longitude": {
          "description": "The latitude of the identified location, expressed as a floating point number with range of - 90 to 90, with positive numbers representing North and negative numbers representing South. Latitude and longitude are derived from the city or postal code.",
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "state": {
          "description": "State name",
          "readOnly": true,
          "type": "string"
        }
      },
      "readOnly": true,
      "type": "object"
    },
    "HostEntity": {
      "allOf": [
        {
          "$ref": "#/definitions/Entity"
        }
      ],
      "description": "Represents a host entity.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HostEntityProperties",
          "description": "Host entity properties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "Host"
    },
    "HostEntityProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/EntityCommonProperties"
        }
      ],
      "description": "Host entity property bag.",
      "properties": {
        "azureID": {
          "description": "The azure resource id of the VM.",
          "readOnly": true,
          "type": "string"
        },
        "dnsDomain": {
          "description": "The DNS domain that this host belongs to. Should contain the compete DNS suffix for the domain",
          "readOnly": true,
          "type": "string"
        },
        "hostName": {
          "description": "The hostname without the domain suffix.",
          "readOnly": true,
          "type": "string"
        },
        "isDomainJoined": {
          "description": "Determines whether this host belongs to a domain.",
          "readOnly": true,
          "type": "boolean"
        },
        "netBiosName": {
          "description": "The host name (pre-windows2000).",
          "readOnly": true,
          "type": "string"
        },
        "ntDomain": {
          "description": "The NT domain that this host belongs to.",
          "readOnly": true,
          "type": "string"
        },
        "omsAgentID": {
          "description": "The OMS agent id, if the host has OMS agent installed.",
          "readOnly": true,
          "type": "string"
        },
        "osFamily": {
          "description": "The operating system type.",
          "enum": [
            "Linux",
            "Windows",
            "Android",
            "IOS",
            "Unknown"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": false,
            "name": "OSFamily",
            "values": [
              {
                "description": "Host with Linux operating system.",
                "value": "Linux"
              },
              {
                "description": "Host with Windows operating system.",
                "value": "Windows"
              },
              {
                "description": "Host with Android operating system.",
                "value": "Android"
              },
              {
                "description": "Host with IOS operating system.",
                "value": "IOS"
              },
              {
                "description": "Host with Unknown operating system.",
                "value": "Unknown"
              }
            ]
          }
        },
        "osVersion": {
          "description": "A free text representation of the operating system. This field is meant to hold specific versions the are more fine grained than OSFamily or future values not supported by OSFamily enumeration",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "HuntingBookmark": {
      "allOf": [
        {
          "$ref": "#/definitions/Entity"
        }
      ],
      "description": "Represents a Hunting bookmark entity.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HuntingBookmarkProperties",
          "description": "HuntingBookmark entity properties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "Bookmark"
    },
    "HuntingBookmarkProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/EntityCommonProperties"
        }
      ],
      "description": "Describes bookmark properties",
      "properties": {
        "created": {
          "description": "The time the bookmark was created",
          "format": "date-time",
          "type": "string"
        },
        "createdBy": {
          "$ref": "#/definitions/UserInfo",
          "description": "Describes a user that created the bookmark",
          "type": "object"
        },
        "displayName": {
          "description": "The display name of the bookmark",
          "type": "string"
        },
        "eventTime": {
          "description": "The time of the event",
          "format": "date-time",
          "type": "string"
        },
        "labels": {
          "description": "List of labels relevant to this bookmark",
          "items": {
            "$ref": "#/definitions/Label"
          },
          "type": "array"
        },
        "notes": {
          "description": "The notes of the bookmark",
          "type": "string"
        },
        "query": {
          "description": "The query of the bookmark.",
          "type": "string"
        },
        "queryResult": {
          "description": "The query result of the bookmark.",
          "type": "string"
        },
        "updated": {
          "description": "The last time the bookmark was updated",
          "format": "date-time",
          "type": "string"
        },
        "updatedBy": {
          "$ref": "#/definitions/UserInfo",
          "description": "Describes a user that updated the bookmark",
          "type": "object"
        },
        "incidentInfo": {
          "$ref": "#/definitions/IncidentInfo",
          "description": "Describes an incident that relates to bookmark",
          "type": "object"
        }
      },
      "required": [
        "displayName",
        "query"
      ],
      "type": "object"
    },
    "Incident": {
      "allOf": [
        {
          "$ref": "../../../common/1.0/types.json#/definitions/ResourceWithEtag"
        }
      ],
      "description": "Represents an incident in Azure Security Insights.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/IncidentProperties",
          "description": "Incident properties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "IncidentAdditionalData": {
      "description": "Incident additional data property bag.",
      "properties": {
        "alertsCount": {
          "description": "The number of alerts in the incident",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "bookmarksCount": {
          "description": "The number of bookmarks in the incident",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "commentsCount": {
          "description": "The number of comments in the incident",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "alertProductNames": {
          "description": "List of product names of alerts in the incident",
          "items": {
            "description": "Alert product name",
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "tactics": {
          "description": "The tactics associated with incident",
          "items": {
            "$ref": "#/definitions/AttackTactic"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "IncidentAlertList": {
      "description": "List of incident alerts.",
      "properties": {
        "value": {
          "description": "Array of incident alerts.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityAlert"
          }
        }
      },
      "required": [
        "value"
      ]
    },
    "IncidentBookmarkList": {
      "description": "List of incident bookmarks.",
      "properties": {
        "value": {
          "description": "Array of incident bookmarks.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/HuntingBookmark"
          }
        }
      },
      "type": "object",
      "required": [
        "value"
      ]
    },
    "IncidentComment": {
      "allOf": [
        {
          "$ref": "../../../common/1.0/types.json#/definitions/ResourceWithEtag"
        }
      ],
      "description": "Represents an incident comment",
      "properties": {
        "properties": {
          "$ref": "#/definitions/IncidentCommentProperties",
          "description": "Incident comment properties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "IncidentCommentList": {
      "description": "List of incident comments.",
      "properties": {
        "nextLink": {
          "description": "URL to fetch the next set of comments.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "description": "Array of comments.",
          "items": {
            "$ref": "#/definitions/IncidentComment"
          },
          "type": "array"
        }
      },
      "type": "object",
      "required": [
        "value"
      ]
    },
    "IncidentCommentProperties": {
      "description": "Incident comment property bag.",
      "properties": {
        "createdTimeUtc": {
          "description": "The time the comment was created",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "lastModifiedTimeUtc": {
          "description": "The time the comment was updated",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "message": {
          "description": "The comment message",
          "type": "string"
        },
        "author": {
          "$ref": "#/definitions/ClientInfo",
          "description": "Describes the client that created the comment",
          "readOnly": true,
          "type": "object"
        }
      },
      "required": [
        "message"
      ],
      "type": "object"
    },
    "IncidentEntitiesResponse": {
      "description": "The incident related entities response.",
      "type": "object",
      "properties": {
        "entities": {
          "description": "Array of the incident related entities.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Entity"
          }
        },
        "metaData": {
          "description": "The metadata from the incident related entities results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/IncidentEntitiesResultsMetadata"
          }
        }
      }
    },
    "IncidentEntitiesResultsMetadata": {
      "description": "Information of a specific aggregation in the incident related entities result.",
      "properties": {
        "count": {
          "description": "Total number of aggregations of the given kind in the incident related entities result.",
          "type": "integer",
          "format": "int32"
        },
        "entityKind": {
          "$ref": "#/definitions/EntityInnerKind",
          "description": "The kind of the aggregated entity."
        }
      },
      "required": [
        "entityKind",
        "count"
      ],
      "type": "object"
    },
    "IncidentInfo": {
      "description": "Describes related incident information for the bookmark",
      "properties": {
        "incidentId": {
          "description": "Incident Id",
          "type": "string"
        },
        "severity": {
          "description": "The severity of the incident",
          "enum": [
            "Critical",
            "High",
            "Medium",
            "Low",
            "Informational"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "CaseSeverity",
            "values": [
              {
                "description": "Critical severity",
                "value": "Critical"
              },
              {
                "description": "High severity",
                "value": "High"
              },
              {
                "description": "Medium severity",
                "value": "Medium"
              },
              {
                "description": "Low severity",
                "value": "Low"
              },
              {
                "description": "Informational severity",
                "value": "Informational"
              }
            ]
          }
        },
        "title": {
          "description": "The title of the incident",
          "type": "string"
        },
        "relationName": {
          "description": "Relation Name",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IncidentLabel": {
      "description": "Represents an incident label",
      "properties": {
        "labelName": {
          "description": "The name of the label",
          "type": "string"
        },
        "labelType": {
          "description": "The type of the label",
          "enum": [
            "User",
            "System"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "modelAsString": true,
            "name": "IncidentLabelType",
            "values": [
              {
                "description": "Label manually created by a user",
                "value": "User"
              },
              {
                "description": "Label automatically created by the system",
                "value": "System"
              }
            ]
          }
        }
      },
      "required": [
        "labelName"
      ],
      "type": "object"
    },
    "IncidentList": {
      "description": "List all the incidents.",
      "properties": {
        "nextLink": {
          "description": "URL to fetch the next set of incidents.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "description": "Array of incidents.",
          "items": {
            "$ref": "#/definitions/Incident"
          },
          "type": "array"
        }
      },
      "type": "object",
      "required": [
        "value"
      ]
    },
    "IncidentOwnerInfo": {
      "description": "Information on the user an incident is assigned to",
      "properties": {
        "email": {
          "description": "The email of the user the incident is assigned to.",
          "type": "string"
        },
        "assignedTo": {
          "description": "The name of the user the incident is assigned to.",
          "type": "string"
        },
        "objectId": {
          "description": "The object id of the user the incident is assigned to.",
          "format": "uuid",
          "type": "string"
        },
        "userPrincipalName": {
          "description": "The user principal name of the user the incident is assigned to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IncidentProperties": {
      "description": "Describes incident properties",
      "properties": {
        "additionalData": {
          "$ref": "#/definitions/IncidentAdditionalData",
          "description": "Additional data on the incident",
          "readOnly": true,
          "type": "object"
        },
        "classification": {
          "description": "The reason the incident was closed",
          "enum": [
            "Undetermined",
            "TruePositive",
            "BenignPositive",
            "FalsePositive"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "IncidentClassification",
            "values": [
              {
                "description": "Incident classification was undetermined",
                "value": "Undetermined"
              },
              {
                "description": "Incident was true positive",
                "value": "TruePositive"
              },
              {
                "description": "Incident was benign positive",
                "value": "BenignPositive"
              },
              {
                "description": "Incident was false positive",
                "value": "FalsePositive"
              }
            ]
          }
        },
        "classificationComment": {
          "description": "Describes the reason the incident was closed",
          "type": "string"
        },
        "classificationReason": {
          "description": "The classification reason the incident was closed with",
          "enum": [
            "SuspiciousActivity",
            "SuspiciousButExpected",
            "IncorrectAlertLogic",
            "InaccurateData"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "IncidentClassificationReason",
            "values": [
              {
                "description": "Classification reason was suspicious activity",
                "value": "SuspiciousActivity"
              },
              {
                "description": "Classification reason was suspicious but expected",
                "value": "SuspiciousButExpected"
              },
              {
                "description": "Classification reason was incorrect alert logic",
                "value": "IncorrectAlertLogic"
              },
              {
                "description": "Classification reason was inaccurate data",
                "value": "InaccurateData"
              }
            ]
          }
        },
        "createdTimeUtc": {
          "description": "The time the incident was created",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "The description of the incident",
          "type": "string"
        },
        "firstActivityTimeUtc": {
          "description": "The time of the first activity in the incident",
          "format": "date-time",
          "type": "string"
        },
        "incidentUrl": {
          "description": "The deep-link url to the incident in Azure portal",
          "readOnly": true,
          "type": "string"
        },
        "incidentNumber": {
          "description": "A sequential number",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "labels": {
          "description": "List of labels relevant to this incident",
          "items": {
            "$ref": "#/definitions/IncidentLabel"
          },
          "type": "array"
        },
        "lastActivityTimeUtc": {
          "description": "The time of the last activity in the incident",
          "format": "date-time",
          "type": "string"
        },
        "lastModifiedTimeUtc": {
          "description": "The last time the incident was updated",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "owner": {
          "$ref": "#/definitions/IncidentOwnerInfo",
          "description": "Describes a user that the incident is assigned to",
          "type": "object"
        },
        "relatedAnalyticRuleIds": {
          "description": "List of resource ids of Analytic rules related to the incident",
          "items": {
            "description": "Related Analytic rule resource id",
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "severity": {
          "description": "The severity of the incident",
          "enum": [
            "High",
            "Medium",
            "Low",
            "Informational"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "IncidentSeverity",
            "values": [
              {
                "description": "High severity",
                "value": "High"
              },
              {
                "description": "Medium severity",
                "value": "Medium"
              },
              {
                "description": "Low severity",
                "value": "Low"
              },
              {
                "description": "Informational severity",
                "value": "Informational"
              }
            ]
          }
        },
        "status": {
          "description": "The status of the incident",
          "enum": [
            "New",
            "Active",
            "Closed"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "IncidentStatus",
            "values": [
              {
                "description": "An active incident which isn't being handled currently",
                "value": "New"
              },
              {
                "description": "An active incident which is being handled",
                "value": "Active"
              },
              {
                "description": "A non-active incident",
                "value": "Closed"
              }
            ]
          }
        },
        "title": {
          "description": "The title of the incident",
          "type": "string"
        }
      },
      "required": [
        "title",
        "severity",
        "status"
      ],
      "type": "object"
    },
    "IoTDeviceEntity": {
      "allOf": [
        {
          "$ref": "#/definitions/Entity"
        }
      ],
      "description": "Represents an IoT device entity.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/IoTDeviceEntityProperties",
          "description": "IoTDevice entity properties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "IoTDevice"
    },
    "IoTDeviceEntityProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/EntityCommonProperties"
        }
      ],
      "description": "IoTDevice entity property bag.",
      "properties": {
        "deviceId": {
          "description": "The ID of the IoT Device in the IoT Hub",
          "readOnly": true,
          "type": "string"
        },
        "deviceName": {
          "description": "The friendly name of the device",
          "readOnly": true,
          "type": "string"
        },
        "source": {
          "description": "The source of the device",
          "readOnly": true,
          "type": "string"
        },
        "iotSecurityAgentId": {
          "description": "The ID of the security agent running on the device",
          "format": "uuid",
          "readOnly": true,
          "type": "string"
        },
        "deviceType": {
          "description": "The type of the device",
          "readOnly": true,
          "type": "string"
        },
        "vendor": {
          "description": "The vendor of the device",
          "readOnly": true,
          "type": "string"
        },
        "edgeId": {
          "description": "The ID of the edge device",
          "readOnly": true,
          "type": "string"
        },
        "macAddress": {
          "description": "The MAC address of the device",
          "readOnly": true,
          "type": "string"
        },
        "model": {
          "description": "The model of the device",
          "readOnly": true,
          "type": "string"
        },
        "serialNumber": {
          "description": "The serial number of the device",
          "readOnly": true,
          "type": "string"
        },
        "firmwareVersion": {
          "description": "The firmware version of the device",
          "readOnly": true,
          "type": "string"
        },
        "operatingSystem": {
          "description": "The operating system of the device",
          "readOnly": true,
          "type": "string"
        },
        "iotHubEntityId": {
          "description": "The AzureResource entity id of the IoT Hub",
          "readOnly": true,
          "type": "string"
        },
        "hostEntityId": {
          "description": "The Host entity id of this device",
          "readOnly": true,
          "type": "string"
        },
        "ipAddressEntityId": {
          "description": "The IP entity if of this device",
          "readOnly": true,
          "type": "string"
        },
        "threatIntelligence": {
          "description": "A list of TI contexts attached to the IoTDevice entity.",
          "items": {
            "$ref": "#/definitions/ThreatIntelligence"
          },
          "readOnly": true,
          "type": "array"
        },
        "protocols": {
          "description": "A list of protocols of the IoTDevice entity.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "IpEntity": {
      "allOf": [
        {
          "$ref": "#/definitions/Entity"
        }
      ],
      "description": "Represents an ip entity.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/IpEntityProperties",
          "description": "Ip entity properties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "Ip"
    },
    "IpEntityProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/EntityCommonProperties"
        }
      ],
      "description": "Ip entity property bag.",
      "properties": {
        "address": {
          "description": "The IP address as string, e.g. 127.0.0.1 (either in Ipv4 or Ipv6)",
          "readOnly": true,
          "type": "string"
        },
        "location": {
          "$ref": "#/definitions/GeoLocation",
          "description": "The geo-location context attached to the ip entity"
        },
        "threatIntelligence": {
          "description": "A list of TI contexts attached to the ip entity.",
          "items": {
            "$ref": "#/definitions/ThreatIntelligence"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "Label": {
      "description": "Label that will be used to tag and filter on.",
      "type": "string"
    },
    "MailboxEntity": {
      "allOf": [
        {
          "$ref": "#/definitions/Entity"
        }
      ],
      "description": "Represents a mailbox entity.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MailboxEntityProperties",
          "description": "Mailbox entity properties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "Mailbox"
    },
    "MailboxEntityProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/EntityCommonProperties"
        }
      ],
      "description": "Mailbox entity property bag.",
      "properties": {
        "mailboxPrimaryAddress": {
          "description": "The mailbox's primary address",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "The mailbox's display name",
          "readOnly": true,
          "type": "string"
        },
        "upn": {
          "description": "The mailbox's UPN",
          "readOnly": true,
          "type": "string"
        },
        "externalDirectoryObjectId": {
          "description": "The AzureAD identifier of mailbox. Similar to AadUserId in account entity but this property is specific to mailbox object on office side",
          "format": "uuid",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "MailClusterEntity": {
      "allOf": [
        {
          "$ref": "#/definitions/Entity"
        }
      ],
      "description": "Represents a mail cluster entity.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MailClusterEntityProperties",
          "description": "Mail cluster entity properties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "MailCluster"
    },
    "MailClusterEntityProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/EntityCommonProperties"
        }
      ],
      "description": "Mail cluster entity property bag.",
      "properties": {
        "networkMessageIds": {
          "description": "The mail message IDs that are part of the mail cluster",
          "items": {
            "description": "A mail message ID",
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "countByDeliveryStatus": {
          "description": "Count of mail messages by DeliveryStatus string representation",
          "readOnly": true,
          "type": "object"
        },
        "countByThreatType": {
          "description": "Count of mail messages by ThreatType string representation",
          "readOnly": true,
          "type": "object"
        },
        "countByProtectionStatus": {
          "description": "Count of mail messages by ProtectionStatus string representation",
          "readOnly": true,
          "type": "object"
        },
        "threats": {
          "description": "The threats of mail messages that are part of the mail cluster",
          "items": {
            "description": "A threat",
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "query": {
          "description": "The query that was used to identify the messages of the mail cluster",
          "readOnly": true,
          "type": "string"
        },
        "queryTime": {
          "description": "The query time",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "mailCount": {
          "description": "The number of mail messages that are part of the mail cluster",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "isVolumeAnomaly": {
          "description": "Is this a volume anomaly mail cluster",
          "readOnly": true,
          "type": "boolean"
        },
        "source": {
          "description": "The source of the mail cluster (default is 'O365 ATP')",
          "readOnly": true,
          "type": "string"
        },
        "clusterSourceIdentifier": {
          "description": "The id of the cluster source",
          "readOnly": true,
          "type": "string"
        },
        "clusterSourceType": {
          "description": "The type of the cluster source",
          "readOnly": true,
          "type": "string"
        },
        "clusterQueryStartTime": {
          "description": "The cluster query start time",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "clusterQueryEndTime": {
          "description": "The cluster query end time",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "clusterGroup": {
          "description": "The cluster group",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "MailMessageEntity": {
      "allOf": [
        {
          "$ref": "#/definitions/Entity"
        }
      ],
      "description": "Represents a mail message entity.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MailMessageEntityProperties",
          "description": "Mail message entity properties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "MailMessage"
    },
    "MailMessageEntityProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/EntityCommonProperties"
        }
      ],
      "description": "Mail message entity property bag.",
      "properties": {
        "fileEntityIds": {
          "description": "The File entity ids of this mail message's attachments",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "recipient": {
          "description": "The recipient of this mail message. Note that in case of multiple recipients the mail message is forked and each copy has one recipient",
          "readOnly": true,
          "type": "string"
        },
        "urls": {
          "description": "The Urls contained in this mail message",
          "items": {
            "description": "A Url contained in this mail message",
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "threats": {
          "description": "The threats of this mail message",
          "items": {
            "description": "A threat of the mail message",
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "p1Sender": {
          "description": "The p1 sender's email address",
          "readOnly": true,
          "type": "string"
        },
        "p1SenderDisplayName": {
          "description": "The p1 sender's display name",
          "readOnly": true,
          "type": "string"
        },
        "p1SenderDomain": {
          "description": "The p1 sender's domain",
          "readOnly": true,
          "type": "string"
        },
        "senderIP": {
          "description": "The sender's IP address",
          "readOnly": true,
          "type": "string"
        },
        "p2Sender": {
          "description": "The p2 sender's email address",
          "readOnly": true,
          "type": "string"
        },
        "p2SenderDisplayName": {
          "description": "The p2 sender's display name",
          "readOnly": true,
          "type": "string"
        },
        "p2SenderDomain": {
          "description": "The p2 sender's domain",
          "readOnly": true,
          "type": "string"
        },
        "receiveDate": {
          "description": "The receive date of this message",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "networkMessageId": {
          "description": "The network message id of this mail message",
          "format": "uuid",
          "readOnly": true,
          "type": "string"
        },
        "internetMessageId": {
          "description": "The internet message id of this mail message",
          "readOnly": true,
          "type": "string"
        },
        "subject": {
          "description": "The subject of this mail message",
          "readOnly": true,
          "type": "string"
        },
        "language": {
          "description": "The language of this mail message",
          "readOnly": true,
          "type": "string"
        },
        "threatDetectionMethods": {
          "description": "The threat detection methods",
          "items": {
            "description": "A threat detection method",
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "bodyFingerprintBin1": {
          "description": "The bodyFingerprintBin1",
          "type": "integer",
          "format": "int32"
        },
        "bodyFingerprintBin2": {
          "description": "The bodyFingerprintBin2",
          "type": "integer",
          "format": "int32"
        },
        "bodyFingerprintBin3": {
          "description": "The bodyFingerprintBin3",
          "type": "integer",
          "format": "int32"
        },
        "bodyFingerprintBin4": {
          "description": "The bodyFingerprintBin4",
          "type": "integer",
          "format": "int32"
        },
        "bodyFingerprintBin5": {
          "description": "The bodyFingerprintBin5",
          "type": "integer",
          "format": "int32"
        },
        "antispamDirection": {
          "description": "The directionality of this mail message",
          "enum": [
            "Unknown",
            "Inbound",
            "Outbound",
            "Intraorg"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "AntispamMailDirection",
            "values": [
              {
                "description": "Unknown",
                "value": "Unknown"
              },
              {
                "description": "Inbound",
                "value": "Inbound"
              },
              {
                "description": "Outbound",
                "value": "Outbound"
              },
              {
                "description": "Intraorg",
                "value": "Intraorg"
              }
            ]
          }
        },
        "deliveryAction": {
          "description": "The delivery action of this mail message like Delivered, Blocked, Replaced etc",
          "enum": [
            "Unknown",
            "DeliveredAsSpam",
            "Delivered",
            "Blocked",
            "Replaced"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": false,
            "name": "DeliveryAction",
            "values": [
              {
                "description": "Unknown",
                "value": "Unknown"
              },
              {
                "description": "DeliveredAsSpam",
                "value": "DeliveredAsSpam"
              },
              {
                "description": "Delivered",
                "value": "Delivered"
              },
              {
                "description": "Blocked",
                "value": "Blocked"
              },
              {
                "description": "Replaced",
                "value": "Replaced"
              }
            ]
          }
        },
        "deliveryLocation": {
          "description": "The delivery location of this mail message like Inbox, JunkFolder etc",
          "enum": [
            "Unknown",
            "Inbox",
            "JunkFolder",
            "DeletedFolder",
            "Quarantine",
            "External",
            "Failed",
            "Dropped",
            "Forwarded"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": false,
            "name": "DeliveryLocation",
            "values": [
              {
                "description": "Unknown",
                "value": "Unknown"
              },
              {
                "description": "Inbox",
                "value": "Inbox"
              },
              {
                "description": "JunkFolder",
                "value": "JunkFolder"
              },
              {
                "description": "DeletedFolder",
                "value": "DeletedFolder"
              },
              {
                "description": "Quarantine",
                "value": "Quarantine"
              },
              {
                "description": "External",
                "value": "External"
              },
              {
                "description": "Failed",
                "value": "Failed"
              },
              {
                "description": "Dropped",
                "value": "Dropped"
              },
              {
                "description": "Forwarded",
                "value": "Forwarded"
              }
            ]
          }
        }
      },
      "type": "object"
    },
    "MalwareEntity": {
      "allOf": [
        {
          "$ref": "#/definitions/Entity"
        }
      ],
      "description": "Represents a malware entity.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MalwareEntityProperties",
          "description": "File entity properties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "Malware"
    },
    "MalwareEntityProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/EntityCommonProperties"
        }
      ],
      "description": "Malware entity property bag.",
      "properties": {
        "category": {
          "description": "The malware category by the vendor, e.g. Trojan",
          "readOnly": true,
          "type": "string"
        },
        "fileEntityIds": {
          "description": "List of linked file entity identifiers on which the malware was found",
          "items": {
            "description": "file entity id",
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "malwareName": {
          "description": "The malware name by the vendor, e.g. Win32/Toga!rfn",
          "readOnly": true,
          "type": "string"
        },
        "processEntityIds": {
          "description": "List of linked process entity identifiers on which the malware was found.",
          "items": {
            "description": "process entity id",
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "ProcessEntity": {
      "allOf": [
        {
          "$ref": "#/definitions/Entity"
        }
      ],
      "description": "Represents a process entity.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProcessEntityProperties",
          "description": "Process entity properties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "Process"
    },
    "ProcessEntityProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/EntityCommonProperties"
        }
      ],
      "description": "Process entity property bag.",
      "properties": {
        "accountEntityId": {
          "description": "The account entity id running the processes.",
          "readOnly": true,
          "type": "string"
        },
        "commandLine": {
          "description": "The command line used to create the process",
          "readOnly": true,
          "type": "string"
        },
        "creationTimeUtc": {
          "description": "The time when the process started to run",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "elevationToken": {
          "description": "The elevation token associated with the process.",
          "enum": [
            "Default",
            "Full",
            "Limited"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": false,
            "name": "ElevationToken",
            "values": [
              {
                "description": "Default elevation token",
                "value": "Default"
              },
              {
                "description": "Full elevation token",
                "value": "Full"
              },
              {
                "description": "Limited elevation token",
                "value": "Limited"
              }
            ]
          }
        },
        "hostEntityId": {
          "description": "The host entity id on which the process was running",
          "readOnly": true,
          "type": "string"
        },
        "hostLogonSessionEntityId": {
          "description": "The session entity id in which the process was running",
          "readOnly": true,
          "type": "string"
        },
        "imageFileEntityId": {
          "description": "Image file entity id",
          "readOnly": true,
          "type": "string"
        },
        "parentProcessEntityId": {
          "description": "The parent process entity id.",
          "readOnly": true,
          "type": "string"
        },
        "processId": {
          "description": "The process ID",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "RegistryKeyEntity": {
      "allOf": [
        {
          "$ref": "#/definitions/Entity"
        }
      ],
      "description": "Represents a registry key entity.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RegistryKeyEntityProperties",
          "description": "RegistryKey entity properties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "RegistryKey"
    },
    "RegistryKeyEntityProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/EntityCommonProperties"
        }
      ],
      "description": "RegistryKey entity property bag.",
      "properties": {
        "hive": {
          "description": "the hive that holds the registry key.",
          "enum": [
            "HKEY_LOCAL_MACHINE",
            "HKEY_CLASSES_ROOT",
            "HKEY_CURRENT_CONFIG",
            "HKEY_USERS",
            "HKEY_CURRENT_USER_LOCAL_SETTINGS",
            "HKEY_PERFORMANCE_DATA",
            "HKEY_PERFORMANCE_NLSTEXT",
            "HKEY_PERFORMANCE_TEXT",
            "HKEY_A",
            "HKEY_CURRENT_USER"
          ],
          "readOnly": true,
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "RegistryHive",
            "values": [
              {
                "description": "HKEY_LOCAL_MACHINE",
                "value": "HKEY_LOCAL_MACHINE"
              },
              {
                "description": "HKEY_CLASSES_ROOT",
                "value": "HKEY_CLASSES_ROOT"
              },
              {
                "description": "HKEY_CURRENT_CONFIG",
                "value": "HKEY_CURRENT_CONFIG"
              },
              {
                "description": "HKEY_USERS",
                "value": "HKEY_USERS"
              },
              {
                "description": "HKEY_CURRENT_USER_LOCAL_SETTINGS",
                "value": "HKEY_CURRENT_USER_LOCAL_SETTINGS"
              },
              {
                "description": "HKEY_PERFORMANCE_DATA",
                "value": "HKEY_PERFORMANCE_DATA"
              },
              {
                "description": "HKEY_PERFORMANCE_NLSTEXT",
                "value": "HKEY_PERFORMANCE_NLSTEXT"
              },
              {
                "description": "HKEY_PERFORMANCE_TEXT",
                "value": "HKEY_PERFORMANCE_TEXT"
              },
              {
                "description": "HKEY_A",
                "value": "HKEY_A"
              },
              {
                "description": "HKEY_CURRENT_USER",
                "value": "HKEY_CURRENT_USER"
              }
            ]
          }
        },
        "key": {
          "description": "The registry key path.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "RegistryValueEntity": {
      "allOf": [
        {
          "$ref": "#/definitions/Entity"
        }
      ],
      "description": "Represents a registry value entity.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RegistryValueEntityProperties",
          "description": "RegistryKey entity properties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "RegistryValue"
    },
    "RegistryValueEntityProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/EntityCommonProperties"
        }
      ],
      "description": "RegistryValue entity property bag.",
      "properties": {
        "keyEntityId": {
          "description": "The registry key entity id.",
          "readOnly": true,
          "type": "string"
        },
        "valueData": {
          "description": "String formatted representation of the value data.",
          "readOnly": true,
          "type": "string"
        },
        "valueName": {
          "description": "The registry value name.",
          "readOnly": true,
          "type": "string"
        },
        "valueType": {
          "description": "Specifies the data types to use when storing values in the registry, or identifies the data type of a value in the registry.",
          "enum": [
            "None",
            "Unknown",
            "String",
            "ExpandString",
            "Binary",
            "DWord",
            "MultiString",
            "QWord"
          ],
          "readOnly": true,
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "RegistryValueKind",
            "values": [
              {
                "description": "None",
                "value": "None"
              },
              {
                "description": "Unknown value type",
                "value": "Unknown"
              },
              {
                "description": "String value type",
                "value": "String"
              },
              {
                "description": "ExpandString value type",
                "value": "ExpandString"
              },
              {
                "description": "Binary value type",
                "value": "Binary"
              },
              {
                "description": "DWord value type",
                "value": "DWord"
              },
              {
                "description": "MultiString value type",
                "value": "MultiString"
              },
              {
                "description": "QWord value type",
                "value": "QWord"
              }
            ]
          }
        }
      },
      "type": "object"
    },
    "Relation": {
      "type": "object",
      "description": "Represents a relation between two resources",
      "allOf": [
        {
          "$ref": "../../../common/1.0/types.json#/definitions/ResourceWithEtag"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/RelationProperties",
          "description": "Relation properties",
          "x-ms-client-flatten": true
        }
      }
    },
    "RelationList": {
      "description": "List of relations.",
      "properties": {
        "nextLink": {
          "readOnly": true,
          "description": "URL to fetch the next set of relations.",
          "type": "string"
        },
        "value": {
          "description": "Array of relations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Relation"
          }
        }
      },
      "type": "object",
      "required": [
        "value"
      ]
    },
    "RelationProperties": {
      "description": "Relation property bag.",
      "properties": {
        "relatedResourceId": {
          "description": "The resource ID of the related resource",
          "type": "string"
        },
        "relatedResourceName": {
          "description": "The name of the related resource",
          "readOnly": true,
          "type": "string"
        },
        "relatedResourceType": {
          "description": "The resource type of the related resource",
          "readOnly": true,
          "type": "string"
        },
        "relatedResourceKind": {
          "description": "The resource kind of the related resource",
          "readOnly": true,
          "type": "string"
        }
      },
      "required": [
        "relatedResourceId"
      ],
      "type": "object"
    },
    "SecurityAlert": {
      "allOf": [
        {
          "$ref": "#/definitions/Entity"
        }
      ],
      "description": "Represents a security alert entity.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SecurityAlertProperties",
          "description": "SecurityAlert entity properties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "SecurityAlert"
    },
    "SecurityAlertProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/EntityCommonProperties"
        }
      ],
      "description": "SecurityAlert entity property bag.",
      "properties": {
        "alertDisplayName": {
          "description": "The display name of the alert.",
          "readOnly": true,
          "type": "string"
        },
        "alertType": {
          "description": "The type name of the alert.",
          "readOnly": true,
          "type": "string"
        },
        "compromisedEntity": {
          "description": "Display name of the main entity being reported on.",
          "readOnly": true,
          "type": "string"
        },
        "confidenceLevel": {
          "description": "The confidence level of this alert.",
          "enum": [
            "Unknown",
            "Low",
            "High"
          ],
          "readOnly": true,
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ConfidenceLevel",
            "values": [
              {
                "description": "Unknown confidence, the is the default value",
                "value": "Unknown"
              },
              {
                "description": "Low confidence, meaning we have some doubts this is indeed malicious or part of an attack",
                "value": "Low"
              },
              {
                "description": "High confidence that the alert is true positive malicious",
                "value": "High"
              }
            ]
          }
        },
        "confidenceReasons": {
          "description": "The confidence reasons",
          "items": {
            "description": "confidence reason item",
            "properties": {
              "reason": {
                "description": "The reason's description",
                "readOnly": true,
                "type": "string"
              },
              "reasonType": {
                "description": "The type (category) of the reason",
                "readOnly": true,
                "type": "string"
              }
            },
            "type": "object"
          },
          "readOnly": true,
          "type": "array"
        },
        "confidenceScore": {
          "description": "The confidence score of the alert.",
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "confidenceScoreStatus": {
          "description": "The confidence score calculation status, i.e. indicating if score calculation is pending for this alert, not applicable or final.",
          "enum": [
            "NotApplicable",
            "InProcess",
            "NotFinal",
            "Final"
          ],
          "readOnly": true,
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ConfidenceScoreStatus",
            "values": [
              {
                "description": "Score will not be calculated for this alert as it is not supported by virtual analyst",
                "value": "NotApplicable"
              },
              {
[...]
