{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Mission",
    "version": "2022-08-02-preview",
    "description": "Microsoft Mission Resource Provider management API.",
    "x-cadl-generated": [
      {
        "emitter": "@azure-tools/cadl-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "VirtualEnclave"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Mission/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "../../cadl/examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "../../cadl/examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Mission/virtualEnclaves": {
      "get": {
        "tags": [
          "VirtualEnclave"
        ],
        "operationId": "VirtualEnclave_ListBySubscription",
        "description": "List missionResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/missionResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "VirtualEnclave_ListBySubscription_MaximumSet_Gen": {
            "$ref": "../../cadl/examples/VirtualEnclave_ListBySubscription_MaximumSet_Gen.json"
          },
          "VirtualEnclave_ListBySubscription_MinimumSet_Gen": {
            "$ref": "../../cadl/examples/VirtualEnclave_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/virtualEnclaves": {
      "get": {
        "tags": [
          "VirtualEnclave"
        ],
        "operationId": "VirtualEnclave_ListByResourceGroup",
        "description": "List missionResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/missionResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "VirtualEnclave_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "../../cadl/examples/VirtualEnclave_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "VirtualEnclave_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "../../cadl/examples/VirtualEnclave_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/virtualEnclaves/{virtualEnclave}": {
      "get": {
        "tags": [
          "VirtualEnclave"
        ],
        "operationId": "VirtualEnclave_Get",
        "description": "Get a missionResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/missionResource.virtualEnclave"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/missionResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualEnclave_Get_MaximumSet_Gen": {
            "$ref": "../../cadl/examples/VirtualEnclave_Get_MaximumSet_Gen.json"
          },
          "VirtualEnclave_Get_MinimumSet_Gen": {
            "$ref": "../../cadl/examples/VirtualEnclave_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "VirtualEnclave"
        ],
        "operationId": "VirtualEnclave_CreateOrUpdate",
        "description": "Create a missionResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/missionResource.virtualEnclave"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/missionResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/missionResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/missionResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "VirtualEnclave_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "../../cadl/examples/VirtualEnclave_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "VirtualEnclave_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "../../cadl/examples/VirtualEnclave_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "VirtualEnclave"
        ],
        "operationId": "VirtualEnclave_Update",
        "description": "Update a missionResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/missionResource.virtualEnclave"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/missionResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/missionResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualEnclave_Update_MaximumSet_Gen": {
            "$ref": "../../cadl/examples/VirtualEnclave_Update_MaximumSet_Gen.json"
          },
          "VirtualEnclave_Update_MinimumSet_Gen": {
            "$ref": "../../cadl/examples/VirtualEnclave_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "VirtualEnclave"
        ],
        "operationId": "VirtualEnclave_Delete",
        "description": "Delete a missionResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/missionResource.virtualEnclave"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "VirtualEnclave_Delete_MaximumSet_Gen": {
            "$ref": "../../cadl/examples/VirtualEnclave_Delete_MaximumSet_Gen.json"
          },
          "VirtualEnclave_Delete_MinimumSet_Gen": {
            "$ref": "../../cadl/examples/VirtualEnclave_Delete_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "enclaveCore": {
      "type": "object",
      "properties": {
        "enclaveKeyVault": {
          "$ref": "#/definitions/enclaveKeyVault",
          "description": "Virtual Enclave's centrally shared Key Vault."
        },
        "ipAddress": {
          "type": "string",
          "description": "Ip Address."
        }
      },
      "description": "Enclave Core properties"
    },
    "enclaveKeyVault": {
      "type": "object",
      "properties": {
        "domainNameValue": {
          "type": "string",
          "description": "Domain Name."
        },
        "domainPasswordSecretValue": {
          "type": "string",
          "description": "Domain Password Secret Value."
        },
        "domainAccountValue": {
          "type": "string",
          "description": "Domain Account Value."
        },
        "localAccountValue": {
          "type": "string",
          "description": "Local Account Value."
        },
        "localPasswordSecretValue": {
          "type": "string",
          "description": "Local Password Secret Value."
        },
        "ouPathValue": {
          "type": "string",
          "description": "Ou Path Value."
        }
      },
      "description": "Enclave Key Vault Resource"
    },
    "enclaveVirtualNetwork": {
      "type": "object",
      "properties": {
        "networkSize": {
          "type": "string",
          "description": "Network Size."
        },
        "networkCidr": {
          "type": "string",
          "description": "Network Address."
        },
        "subnetGatewayCidr": {
          "type": "string",
          "description": "Subnet Gateway Address."
        },
        "subnetClientCidr": {
          "type": "string",
          "description": "Subnet Client Address."
        },
        "subnetManagementCidr": {
          "type": "string",
          "description": "Subnet Management Address."
        },
        "subnetResourcesCidr": {
          "type": "string",
          "description": "Subnet Resources Address."
        },
        "subnetHostPoolCidr": {
          "type": "string",
          "description": "Subnet HostPool Address."
        },
        "vpnASN": {
          "type": "integer",
          "format": "int32",
          "description": "VPN asn."
        }
      },
      "description": "Enclave Virtual Network Resource"
    },
    "missionResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/virtualEnclaveProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-client-flatten": true
        }
      },
      "description": "Mission Resource",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "missionResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/missionResource"
          },
          "x-cadl-name": "missionResource[]",
          "description": "The missionResource items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a missionResource list operation.",
      "required": [
        "value"
      ]
    },
    "missionResourceUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/missionResourceUpdateProperties"
        }
      },
      "description": "The type used for update operations of the missionResource."
    },
    "missionResourceUpdateProperties": {
      "type": "object",
      "properties": {
        "enclaveResourcesGroupId": {
          "type": "string",
          "description": "Virtual Enclave Resource Group Id."
        },
        "enclaveVirtualNetwork": {
          "$ref": "#/definitions/enclaveVirtualNetwork",
          "description": "Virtual Enclave Virtual Network."
        },
        "enclaveCore": {
          "$ref": "#/definitions/enclaveCore",
          "description": "Virtual Enclave Core."
        },
        "enclaveAdministratorsObjectId": {
          "type": "string",
          "description": "Virtual Enclave Administrators Object Id."
        }
      },
      "description": "The updatable properties of the missionResource."
    },
    "provisioningState": {
      "type": "string",
      "description": "Provisioning State Enum",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Unknown",
        "Validating",
        "Processing",
        "Deleting",
        "Accepted",
        "Completed",
        "Deleted"
      ],
      "x-ms-enum": {
        "name": "provisioningState",
        "modelAsString": true
      }
    },
    "virtualEnclaveProperties": {
      "type": "object",
      "properties": {
        "enclaveResourcesGroupId": {
          "type": "string",
          "description": "Virtual Enclave Resource Group Id."
        },
        "enclaveVirtualNetwork": {
          "$ref": "#/definitions/enclaveVirtualNetwork",
          "description": "Virtual Enclave Virtual Network."
        },
        "enclaveCore": {
          "$ref": "#/definitions/enclaveCore",
          "description": "Virtual Enclave Core."
        },
        "enclaveAdministratorsObjectId": {
          "type": "string",
          "description": "Virtual Enclave Administrators Object Id."
        },
        "provisioningState": {
          "$ref": "#/definitions/provisioningState",
          "description": "Provisioning State.",
          "readOnly": true
        }
      },
      "description": "Virtual Enclave properties"
    }
  },
  "parameters": {
    "missionResource.virtualEnclave": {
      "name": "virtualEnclave",
      "in": "path",
      "required": true,
      "description": "The name of the missionResource Resource",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
