{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Mission",
    "description": "Microsoft.Mission resource provider OpenAPI Spec",
    "version": "2022-08-02-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Mission/operations": {
      "get": {
        "operationId": "OperationsList",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperationsList": {
            "$ref": "./examples/OperationsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Mission/virtualEnclave": {
      "get": {
        "tags": [
          "VirtualEnclave"
        ],
        "summary": "Lists the enclave resources in a subscription.",
        "operationId": "VirtualEnclave_ListBySubscription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "in": "query",
            "name": "apiVersion",
            "description": "",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.PageList"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualEnclave_ListBySubscription": {
            "$ref": "./examples/VirtualEnclave_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/virtualEnclave": {
      "get": {
        "tags": [
          "VirtualEnclave"
        ],
        "summary": "Lists the enclave resources in a resource group.",
        "operationId": "VirtualEnclave_ListByResourceGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "in": "query",
            "name": "resourceGroup",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "apiVersion",
            "description": "",
            "type": "string"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.PageList"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualEnclave_ListByResourceGroup": {
            "$ref": "./examples/VirtualEnclave_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Mission/virtualEnclave/{name}": {
      "get": {
        "tags": [
          "VirtualEnclave"
        ],
        "summary": "Gets an enclave resource.",
        "operationId": "VirtualEnclave_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "apiVersion",
            "description": "",
            "type": "string"
          },
          {
            "in": "query",
            "name": "resourceGroup",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.Core.MissionResourceMetadata.AzureResource"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualEnclave_Get": {
            "$ref": "./examples/VirtualEnclave_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "VirtualEnclave"
        ],
        "summary": "Creates or updates an enclave resource.",
        "operationId": "VirtualEnclave_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "in": "query",
            "name": "resourceGroup",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "apiVersion",
            "description": "",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.Core.MissionResourceMetadata.AzureResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.Core.MissionResourceMetadata.AzureResource"
            },
            "x-ms-azure-resource": true
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualEnclave_CreateOrUpdate": {
            "$ref": "./examples/VirtualEnclave_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "VirtualEnclave"
        ],
        "summary": "Updates an enclave resource.",
        "operationId": "VirtualEnclave_Update",
        "consumes": [
          "application/merge-patch+json",
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "in": "query",
            "name": "resourceGroup",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "apiVersion",
            "description": "",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.Core.MissionResourceMetadata.AzureResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.Core.MissionResourceMetadata.AzureResource"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualEnclave_Update": {
            "$ref": "./examples/VirtualEnclave_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "VirtualEnclave"
        ],
        "summary": "Deletes enclave resource.",
        "operationId": "VirtualEnclave_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "in": "query",
            "name": "resourceGroup",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "apiVersion",
            "description": "",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            },
            "x-ms-error-response": true
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Mission.ResourceProvider.Models.ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualEnclave_Delete": {
            "$ref": "./examples/VirtualEnclave_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Microsoft.Azure.Management.KeyVault.Models.AccessPolicyEntry": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string",
          "format": "uuid"
        },
        "objectId": {
          "type": "string"
        },
        "applicationId": {
          "type": "string",
          "format": "uuid"
        },
        "permissions": {
          "$ref": "#/definitions/Microsoft.Azure.Management.KeyVault.Models.Permissions"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.KeyVault.Models.CreateMode": {
      "enum": [
        "Recover",
        "Default"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "CreateMode",
        "modelAsString": false
      }
    },
    "Microsoft.Azure.Management.KeyVault.Models.IPRule": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.KeyVault.Models.NetworkRuleSet": {
      "type": "object",
      "properties": {
        "bypass": {
          "type": "string"
        },
        "defaultAction": {
          "type": "string"
        },
        "ipRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.KeyVault.Models.IPRule"
          },
          "x-ms-identifiers": []
        },
        "virtualNetworkRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.KeyVault.Models.VirtualNetworkRule"
          },
          "x-ms-identifiers": []
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.KeyVault.Models.Permissions": {
      "type": "object",
      "properties": {
        "keys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "secrets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "certificates": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "storage": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.KeyVault.Models.PrivateEndpoint": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.KeyVault.Models.PrivateEndpointConnectionItem": {
      "type": "object",
      "properties": {
        "privateEndpoint": {
          "$ref": "#/definitions/Microsoft.Azure.Management.KeyVault.Models.PrivateEndpoint"
        },
        "privateLinkServiceConnectionState": {
          "$ref": "#/definitions/Microsoft.Azure.Management.KeyVault.Models.PrivateLinkServiceConnectionState"
        },
        "provisioningState": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.KeyVault.Models.PrivateLinkServiceConnectionState": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "actionRequired": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.KeyVault.Models.Sku": {
      "type": "object",
      "properties": {
        "name": {
          "$ref": "#/definitions/Microsoft.Azure.Management.KeyVault.Models.SkuName"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.KeyVault.Models.SkuName": {
      "enum": [
        "Standard",
        "Premium"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "SkuName",
        "modelAsString": false
      }
    },
    "Microsoft.Azure.Management.KeyVault.Models.Vault": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        },
        "location": {
          "type": "string"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/Microsoft.Azure.Management.KeyVault.Models.VaultProperties"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.KeyVault.Models.VaultProperties": {
      "type": "object",
      "properties": {
        "tenantId": {
          "format": "uuid",
          "type": "string"
        },
        "sku": {
          "$ref": "#/definitions/Microsoft.Azure.Management.KeyVault.Models.Sku"
        },
        "accessPolicies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.KeyVault.Models.AccessPolicyEntry"
          },
          "x-ms-identifiers": []
        },
        "vaultUri": {
          "type": "string"
        },
        "enabledForDeployment": {
          "type": "boolean"
        },
        "enabledForDiskEncryption": {
          "type": "boolean"
        },
        "enabledForTemplateDeployment": {
          "type": "boolean"
        },
        "enableSoftDelete": {
          "type": "boolean"
        },
        "softDeleteRetentionInDays": {
          "format": "int32",
          "type": "integer"
        },
        "enableRbacAuthorization": {
          "type": "boolean"
        },
        "createMode": {
          "$ref": "#/definitions/Microsoft.Azure.Management.KeyVault.Models.CreateMode"
        },
        "enablePurgeProtection": {
          "type": "boolean"
        },
        "networkAcls": {
          "$ref": "#/definitions/Microsoft.Azure.Management.KeyVault.Models.NetworkRuleSet"
        },
        "privateEndpointConnections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.KeyVault.Models.PrivateEndpointConnectionItem"
          },
          "x-ms-identifiers": [],
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.KeyVault.Models.VirtualNetworkRule": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.AadAuthenticationParameters": {
      "type": "object",
      "properties": {
        "aadTenant": {
          "type": "string"
        },
        "aadAudience": {
          "type": "string"
        },
        "aadIssuer": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.AddressSpace": {
      "type": "object",
      "properties": {
        "addressPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGateway": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.Resource"
        }
      ],
      "properties": {
        "sku": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewaySku"
        },
        "sslPolicy": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewaySslPolicy"
        },
        "operationalState": {
          "type": "string",
          "readOnly": true
        },
        "gatewayIPConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayIPConfiguration"
          },
          "x-ms-identifiers": []
        },
        "authenticationCertificates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayAuthenticationCertificate"
          },
          "x-ms-identifiers": []
        },
        "trustedRootCertificates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayTrustedRootCertificate"
          },
          "x-ms-identifiers": []
        },
        "trustedClientCertificates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayTrustedClientCertificate"
          },
          "x-ms-identifiers": []
        },
        "sslCertificates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewaySslCertificate"
          },
          "x-ms-identifiers": []
        },
        "frontendIPConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayFrontendIPConfiguration"
          },
          "x-ms-identifiers": []
        },
        "frontendPorts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayFrontendPort"
          },
          "x-ms-identifiers": []
        },
        "probes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayProbe"
          },
          "x-ms-identifiers": []
        },
        "backendAddressPools": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayBackendAddressPool"
          },
          "x-ms-identifiers": []
        },
        "backendHttpSettingsCollection": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayBackendHttpSettings"
          },
          "x-ms-identifiers": []
        },
        "httpListeners": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayHttpListener"
          },
          "x-ms-identifiers": []
        },
        "sslProfiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewaySslProfile"
          },
          "x-ms-identifiers": []
        },
        "urlPathMaps": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayUrlPathMap"
          },
          "x-ms-identifiers": []
        },
        "requestRoutingRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayRequestRoutingRule"
          },
          "x-ms-identifiers": []
        },
        "rewriteRuleSets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayRewriteRuleSet"
          },
          "x-ms-identifiers": []
        },
        "redirectConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayRedirectConfiguration"
          },
          "x-ms-identifiers": []
        },
        "webApplicationFirewallConfiguration": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayWebApplicationFirewallConfiguration"
        },
        "firewallPolicy": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "enableHttp2": {
          "type": "boolean"
        },
        "enableFips": {
          "type": "boolean"
        },
        "autoscaleConfiguration": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayAutoscaleConfiguration"
        },
        "privateLinkConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayPrivateLinkConfiguration"
          },
          "x-ms-identifiers": []
        },
        "privateEndpointConnections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayPrivateEndpointConnection"
          },
          "x-ms-identifiers": [],
          "readOnly": true
        },
        "resourceGuid": {
          "type": "string",
          "readOnly": true
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "customErrorConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayCustomError"
          },
          "x-ms-identifiers": []
        },
        "forceFirewallPolicyAssociation": {
          "type": "boolean"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "zones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "identity": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ManagedServiceIdentity"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayAuthenticationCertificate": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "data": {
          "type": "string"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayAutoscaleConfiguration": {
      "type": "object",
      "properties": {
        "minCapacity": {
          "format": "int32",
          "type": "integer"
        },
        "maxCapacity": {
          "format": "int32",
          "type": "integer"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayAvailableSslOptions": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.Resource"
        }
      ],
      "properties": {
        "predefinedPolicies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
          },
          "x-ms-identifiers": []
        },
        "defaultPolicy": {
          "type": "string"
        },
        "availableCipherSuites": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "availableProtocols": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayBackendAddress": {
      "type": "object",
      "properties": {
        "fqdn": {
          "type": "string"
        },
        "ipAddress": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayBackendAddressPool": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "backendIPConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.NetworkInterfaceIPConfiguration"
          },
          "x-ms-identifiers": [],
          "readOnly": true
        },
        "backendAddresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayBackendAddress"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayBackendHttpSettings": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "port": {
          "format": "int32",
          "type": "integer"
        },
        "protocol": {
          "type": "string"
        },
        "cookieBasedAffinity": {
          "type": "string"
        },
        "requestTimeout": {
          "format": "int32",
          "type": "integer"
        },
        "probe": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "authenticationCertificates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
          },
          "x-ms-identifiers": []
        },
        "trustedRootCertificates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
          },
          "x-ms-identifiers": []
        },
        "connectionDraining": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayConnectionDraining"
        },
        "hostName": {
          "type": "string"
        },
        "pickHostNameFromBackendAddress": {
          "type": "boolean"
        },
        "affinityCookieName": {
          "type": "string"
        },
        "probeEnabled": {
          "type": "boolean"
        },
        "path": {
          "type": "string"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayClientAuthConfiguration": {
      "type": "object",
      "properties": {
        "verifyClientCertIssuerDN": {
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayConnectionDraining": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean"
        },
        "drainTimeoutInSec": {
          "format": "int32",
          "type": "integer"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayCustomError": {
      "type": "object",
      "properties": {
        "statusCode": {
          "type": "string"
        },
        "customErrorPageUrl": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayFirewallDisabledRuleGroup": {
      "type": "object",
      "properties": {
        "ruleGroupName": {
          "type": "string"
        },
        "rules": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "x-ms-identifiers": []
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayFirewallExclusion": {
      "type": "object",
      "properties": {
        "matchVariable": {
          "type": "string"
        },
        "selectorMatchOperator": {
          "type": "string"
        },
        "selector": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayFirewallRule": {
      "type": "object",
      "properties": {
        "ruleId": {
          "format": "int32",
          "type": "integer"
        },
        "description": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayFirewallRuleGroup": {
      "type": "object",
      "properties": {
        "ruleGroupName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayFirewallRule"
          },
          "x-ms-identifiers": []
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayFirewallRuleSet": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.Resource"
        }
      ],
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "ruleSetType": {
          "type": "string"
        },
        "ruleSetVersion": {
          "type": "string"
        },
        "ruleGroups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayFirewallRuleGroup"
          },
          "x-ms-identifiers": []
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayFrontendIPConfiguration": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "privateIPAddress": {
          "type": "string"
        },
        "privateIPAllocationMethod": {
          "type": "string"
        },
        "subnet": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "publicIPAddress": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "privateLinkConfiguration": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayFrontendPort": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "port": {
          "format": "int32",
          "type": "integer"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayHeaderConfiguration": {
      "type": "object",
      "properties": {
        "headerName": {
          "type": "string"
        },
        "headerValue": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayHttpListener": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "frontendIPConfiguration": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "frontendPort": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "protocol": {
          "type": "string"
        },
        "hostName": {
          "type": "string"
        },
        "sslCertificate": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "sslProfile": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "requireServerNameIndication": {
          "type": "boolean"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "customErrorConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayCustomError"
          },
          "x-ms-identifiers": []
        },
        "firewallPolicy": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "hostNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayIPConfiguration": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "subnet": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayPathRule": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "paths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "backendAddressPool": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "backendHttpSettings": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "redirectConfiguration": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "rewriteRuleSet": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "firewallPolicy": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayPrivateEndpointConnection": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "privateEndpoint": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.PrivateEndpoint"
        },
        "privateLinkServiceConnectionState": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.PrivateLinkServiceConnectionState"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "linkIdentifier": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayPrivateLinkConfiguration": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "ipConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayPrivateLinkIpConfiguration"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayPrivateLinkIpConfiguration": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "privateIPAddress": {
          "type": "string"
        },
        "privateIPAllocationMethod": {
          "type": "string"
        },
        "subnet": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "primary": {
          "type": "boolean"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayPrivateLinkResource": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "groupId": {
          "type": "string",
          "readOnly": true
        },
        "requiredMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": [],
          "readOnly": true
        },
        "requiredZoneNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayProbe": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "protocol": {
          "type": "string"
        },
        "host": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "interval": {
          "format": "int32",
          "type": "integer"
        },
        "timeout": {
          "format": "int32",
          "type": "integer"
        },
        "unhealthyThreshold": {
          "format": "int32",
          "type": "integer"
        },
        "pickHostNameFromBackendHttpSettings": {
          "type": "boolean"
        },
        "minServers": {
          "format": "int32",
          "type": "integer"
        },
        "match": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayProbeHealthResponseMatch"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "port": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayProbeHealthResponseMatch": {
      "type": "object",
      "properties": {
        "body": {
          "type": "string"
        },
        "statusCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayRedirectConfiguration": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "redirectType": {
          "type": "string"
        },
        "targetListener": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "targetUrl": {
          "type": "string"
        },
        "includePath": {
          "type": "boolean"
        },
        "includeQueryString": {
          "type": "boolean"
        },
        "requestRoutingRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
          },
          "x-ms-identifiers": []
        },
        "urlPathMaps": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
          },
          "x-ms-identifiers": []
        },
        "pathRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
          },
          "x-ms-identifiers": []
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayRequestRoutingRule": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "ruleType": {
          "type": "string"
        },
        "priority": {
          "format": "int32",
          "type": "integer"
        },
        "backendAddressPool": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "backendHttpSettings": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "httpListener": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "urlPathMap": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "rewriteRuleSet": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "redirectConfiguration": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayRewriteRule": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "ruleSequence": {
          "format": "int32",
          "type": "integer"
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayRewriteRuleCondition"
          },
          "x-ms-identifiers": []
        },
        "actionSet": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayRewriteRuleActionSet"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayRewriteRuleActionSet": {
      "type": "object",
      "properties": {
        "requestHeaderConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayHeaderConfiguration"
          },
          "x-ms-identifiers": []
        },
        "responseHeaderConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayHeaderConfiguration"
          },
          "x-ms-identifiers": []
        },
        "urlConfiguration": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayUrlConfiguration"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayRewriteRuleCondition": {
      "type": "object",
      "properties": {
        "variable": {
          "type": "string"
        },
        "pattern": {
          "type": "string"
        },
        "ignoreCase": {
          "type": "boolean"
        },
        "negate": {
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayRewriteRuleSet": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "rewriteRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayRewriteRule"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewaySku": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "tier": {
          "type": "string"
        },
        "capacity": {
          "format": "int32",
          "type": "integer"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewaySslCertificate": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "data": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "publicCertData": {
          "type": "string",
          "readOnly": true
        },
        "keyVaultSecretId": {
          "type": "string"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewaySslPolicy": {
      "type": "object",
      "properties": {
        "disabledSslProtocols": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "policyType": {
          "type": "string"
        },
        "policyName": {
          "type": "string"
        },
        "cipherSuites": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "minProtocolVersion": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewaySslPredefinedPolicy": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "cipherSuites": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "minProtocolVersion": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewaySslProfile": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "trustedClientCertificates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
          },
          "x-ms-identifiers": []
        },
        "sslPolicy": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewaySslPolicy"
        },
        "clientAuthConfiguration": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayClientAuthConfiguration"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayTrustedClientCertificate": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "data": {
          "type": "string"
        },
        "validatedCertData": {
          "type": "string",
          "readOnly": true
        },
        "clientCertIssuerDN": {
          "type": "string",
          "readOnly": true
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayTrustedRootCertificate": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "data": {
          "type": "string"
        },
        "keyVaultSecretId": {
          "type": "string"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayUrlConfiguration": {
      "type": "object",
      "properties": {
        "modifiedPath": {
          "type": "string"
        },
        "modifiedQueryString": {
          "type": "string"
        },
        "reroute": {
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayUrlPathMap": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "defaultBackendAddressPool": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "defaultBackendHttpSettings": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "defaultRewriteRuleSet": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "defaultRedirectConfiguration": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "pathRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayPathRule"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationGatewayWebApplicationFirewallConfiguration": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean"
        },
        "firewallMode": {
          "type": "string"
        },
        "ruleSetType": {
          "type": "string"
        },
        "ruleSetVersion": {
          "type": "string"
        },
        "disabledRuleGroups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayFirewallDisabledRuleGroup"
          },
          "x-ms-identifiers": []
        },
        "requestBodyCheck": {
          "type": "boolean"
        },
        "maxRequestBodySize": {
          "format": "int32",
          "type": "integer"
        },
        "maxRequestBodySizeInKb": {
          "format": "int32",
          "type": "integer"
        },
        "fileUploadLimitInMb": {
          "format": "int32",
          "type": "integer"
        },
        "exclusions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ApplicationGatewayFirewallExclusion"
          },
          "x-ms-identifiers": []
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationRule": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.FirewallPolicyRule"
        }
      ],
      "properties": {
        "sourceAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "destinationAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "protocols": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.FirewallPolicyRuleApplicationProtocol"
          },
          "x-ms-identifiers": []
        },
        "targetFqdns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "targetUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "fqdnTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "sourceIpGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "terminateTLS": {
          "type": "boolean"
        },
        "webCategories": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ApplicationSecurityGroup": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.Resource"
        }
      ],
      "properties": {
        "resourceGuid": {
          "type": "string",
          "readOnly": true
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.AzureFirewall": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.Resource"
        }
      ],
      "properties": {
        "applicationRuleCollections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.AzureFirewallApplicationRuleCollection"
          },
          "x-ms-identifiers": []
        },
        "natRuleCollections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.AzureFirewallNatRuleCollection"
          },
          "x-ms-identifiers": []
        },
        "networkRuleCollections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.AzureFirewallNetworkRuleCollection"
          },
          "x-ms-identifiers": []
        },
        "ipConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.AzureFirewallIPConfiguration"
          },
          "x-ms-identifiers": []
        },
        "managementIpConfiguration": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.AzureFirewallIPConfiguration"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "threatIntelMode": {
          "type": "string"
        },
        "virtualHub": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "firewallPolicy": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "hubIPAddresses": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.HubIPAddresses"
        },
        "ipGroups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.AzureFirewallIpGroups"
          },
          "x-ms-identifiers": [],
          "readOnly": true
        },
        "sku": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.AzureFirewallSku"
        },
        "additionalProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "zones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "etag": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.AzureFirewallApplicationRule": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "sourceAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "protocols": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.AzureFirewallApplicationRuleProtocol"
          },
          "x-ms-identifiers": []
        },
        "targetFqdns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "fqdnTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "sourceIpGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.AzureFirewallApplicationRuleCollection": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "priority": {
          "format": "int32",
          "type": "integer"
        },
        "action": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.AzureFirewallRCAction"
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.AzureFirewallApplicationRule"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.AzureFirewallApplicationRuleProtocol": {
      "type": "object",
      "properties": {
        "protocolType": {
          "type": "string"
        },
        "port": {
          "format": "int32",
          "type": "integer"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.AzureFirewallFqdnTag": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.Resource"
        }
      ],
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "fqdnTagName": {
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.AzureFirewallIPConfiguration": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "privateIPAddress": {
          "type": "string",
          "readOnly": true
        },
        "subnet": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "publicIPAddress": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.AzureFirewallIpGroups": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true
        },
        "changeNumber": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.AzureFirewallNatRCAction": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.AzureFirewallNatRule": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "sourceAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "destinationAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "destinationPorts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "protocols": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "translatedAddress": {
          "type": "string"
        },
        "translatedPort": {
          "type": "string"
        },
        "translatedFqdn": {
          "type": "string"
        },
        "sourceIpGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.AzureFirewallNatRuleCollection": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "priority": {
          "format": "int32",
          "type": "integer"
        },
        "action": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.AzureFirewallNatRCAction"
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.AzureFirewallNatRule"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.AzureFirewallNetworkRule": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "protocols": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "sourceAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "destinationAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "destinationPorts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "destinationFqdns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "sourceIpGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "destinationIpGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.AzureFirewallNetworkRuleCollection": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "priority": {
          "format": "int32",
          "type": "integer"
        },
        "action": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.AzureFirewallRCAction"
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.AzureFirewallNetworkRule"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.AzureFirewallPublicIPAddress": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.AzureFirewallRCAction": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.AzureFirewallSku": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "tier": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.BGPCommunity": {
      "type": "object",
      "properties": {
        "serviceSupportedRegion": {
          "type": "string"
        },
        "communityName": {
          "type": "string"
        },
        "communityValue": {
          "type": "string"
        },
        "communityPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "isAuthorizedToUse": {
          "type": "boolean"
        },
        "serviceGroup": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.BackendAddressPool": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "location": {
          "type": "string"
        },
        "tunnelInterfaces": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.GatewayLoadBalancerTunnelInterface"
          },
          "x-ms-identifiers": []
        },
        "loadBalancerBackendAddresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.LoadBalancerBackendAddress"
          },
          "x-ms-identifiers": []
        },
        "backendIPConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.NetworkInterfaceIPConfiguration"
          },
          "x-ms-identifiers": [],
          "readOnly": true
        },
        "loadBalancingRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
          },
          "x-ms-identifiers": [],
          "readOnly": true
        },
        "outboundRule": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "outboundRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
          },
          "x-ms-identifiers": [],
          "readOnly": true
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.BastionHost": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.Resource"
        }
      ],
      "properties": {
        "ipConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.BastionHostIPConfiguration"
          },
          "x-ms-identifiers": []
        },
        "dnsName": {
          "type": "string"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "sku": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.Sku"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.BastionHostIPConfiguration": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "subnet": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "publicIPAddress": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "privateIPAllocationMethod": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.BgpConnection": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "peerAsn": {
          "format": "int64",
          "type": "integer"
        },
        "peerIp": {
          "type": "string"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "connectionState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.BgpServiceCommunity": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.Resource"
        }
      ],
      "properties": {
        "serviceName": {
          "type": "string"
        },
        "bgpCommunities": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.BGPCommunity"
          },
          "x-ms-identifiers": []
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.BgpSettings": {
      "type": "object",
      "properties": {
        "asn": {
          "format": "int64",
          "type": "integer"
        },
        "bgpPeeringAddress": {
          "type": "string"
        },
        "peerWeight": {
          "format": "int32",
          "type": "integer"
        },
        "bgpPeeringAddresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.IPConfigurationBgpPeeringAddress"
          },
          "x-ms-identifiers": []
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.BreakOutCategoryPolicies": {
      "type": "object",
      "properties": {
        "allow": {
          "type": "boolean"
        },
        "optimize": {
          "type": "boolean"
        },
        "defaultProperty": {
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ConnectionSharedKey": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "value": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.Container": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ContainerNetworkInterface": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "containerNetworkInterfaceConfiguration": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ContainerNetworkInterfaceConfiguration"
        },
        "container": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.Container"
        },
        "ipConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ContainerNetworkInterfaceIpConfiguration"
          },
          "x-ms-identifiers": [],
          "readOnly": true
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ContainerNetworkInterfaceConfiguration": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "ipConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.IPConfigurationProfile"
          },
          "x-ms-identifiers": []
        },
        "containerNetworkInterfaces": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.ContainerNetworkInterfaceIpConfiguration": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.CustomDnsConfigPropertiesFormat": {
      "type": "object",
      "properties": {
        "fqdn": {
          "type": "string"
        },
        "ipAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.CustomIpPrefix": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.Resource"
        }
      ],
      "properties": {
        "extendedLocation": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ExtendedLocation"
        },
        "cidr": {
          "type": "string"
        },
        "signedMessage": {
          "type": "string"
        },
        "authorizationMessage": {
          "type": "string"
        },
        "customIpPrefixParent": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.CustomIpPrefix"
        },
        "childCustomIpPrefixes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.CustomIpPrefix"
          },
          "x-ms-identifiers": [],
          "readOnly": true
        },
        "commissionedState": {
          "type": "string"
        },
        "publicIpPrefixes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
          },
          "x-ms-identifiers": [],
          "readOnly": true
        },
        "resourceGuid": {
          "type": "string",
          "readOnly": true
        },
        "failedReason": {
          "type": "string",
          "readOnly": true
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "zones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.DdosCustomPolicy": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.Resource"
        }
      ],
      "properties": {
        "resourceGuid": {
          "type": "string",
          "readOnly": true
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "publicIPAddresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
          },
          "x-ms-identifiers": [],
          "readOnly": true
        },
        "protocolCustomSettings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.ProtocolCustomSettingsFormat"
          },
          "x-ms-identifiers": []
        },
        "etag": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.DdosSettings": {
      "type": "object",
      "properties": {
        "ddosCustomPolicy": {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        },
        "protectionCoverage": {
          "type": "string"
        },
        "protectedIP": {
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.Delegation": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Azure.Management.Network.Models.SubResource"
        }
      ],
      "properties": {
        "serviceName": {
          "type": "string"
        },
        "actions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": [],
          "readOnly": true
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "Microsoft.Azure.Management.Network.Models.DeviceProperties": {
      "type": "object",
[...]
