{
  "swagger": "2.0",
  "info": {
    "title": "WebApplicationFirewallManagement",
    "version": "2026-03-01",
    "description": "APIs to manage Microsoft Azure network resources.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "VirtualNetworkAppliances"
    },
    {
      "name": "VirtualNetworkApplianceCapabilities"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualNetworkAppliances": {
      "get": {
        "operationId": "VirtualNetworkAppliances_ListAll",
        "tags": [
          "VirtualNetworkAppliances"
        ],
        "description": "Gets all virtual network appliances in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkApplianceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all virtual network appliances": {
            "$ref": "./examples/VirtualNetworkAppliances_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkAppliances": {
      "get": {
        "operationId": "VirtualNetworkAppliances_List",
        "tags": [
          "VirtualNetworkAppliances"
        ],
        "description": "Gets all virtual network appliances in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkApplianceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List virtual network appliances in resource group": {
            "$ref": "./examples/VirtualNetworkAppliances_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkAppliances/{virtualNetworkApplianceName}": {
      "get": {
        "operationId": "VirtualNetworkAppliances_Get",
        "tags": [
          "VirtualNetworkAppliances"
        ],
        "description": "Gets information about the specified virtual network appliance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkApplianceName",
            "in": "path",
            "description": "The name of the virtual network appliance.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAppliance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get virtual network appliance": {
            "$ref": "./examples/VirtualNetworkAppliances_Get.json"
          }
        }
      },
      "put": {
        "operationId": "VirtualNetworkAppliances_CreateOrUpdate",
        "tags": [
          "VirtualNetworkAppliances"
        ],
        "description": "Creates or updates a virtual network appliance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkApplianceName",
            "in": "path",
            "description": "The name of the virtual network appliance.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update virtual network appliance operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAppliance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'VirtualNetworkAppliance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAppliance"
            }
          },
          "201": {
            "description": "Resource 'VirtualNetworkAppliance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAppliance"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create virtual network appliance": {
            "$ref": "./examples/VirtualNetworkAppliances_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/VirtualNetworkAppliance"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "VirtualNetworkAppliances_UpdateTags",
        "tags": [
          "VirtualNetworkAppliances"
        ],
        "description": "Updates a virtual network appliance tags.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkApplianceName",
            "in": "path",
            "description": "The name of the virtual network appliance.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update virtual network appliance tags.",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAppliance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update virtual network appliance tags": {
            "$ref": "./examples/VirtualNetworkAppliances_UpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "VirtualNetworkAppliances_Delete",
        "tags": [
          "VirtualNetworkAppliances"
        ],
        "description": "Deletes the specified virtual network appliance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkApplianceName",
            "in": "path",
            "description": "The name of the virtual network appliance.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete virtual network appliance": {
            "$ref": "./examples/VirtualNetworkAppliances_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkAppliances/{virtualNetworkApplianceName}/capabilities": {
      "get": {
        "operationId": "VirtualNetworkApplianceCapabilities_List",
        "tags": [
          "VirtualNetworkApplianceCapabilities"
        ],
        "description": "Gets all capabilities of a virtual network appliance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkApplianceName",
            "in": "path",
            "description": "The name of the virtual network appliance.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkApplianceCapabilityListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List virtual network appliance capabilities": {
            "$ref": "./examples/VirtualNetworkApplianceCapabilities_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkAppliances/{virtualNetworkApplianceName}/capabilities/{capabilityName}": {
      "get": {
        "operationId": "VirtualNetworkApplianceCapabilities_Get",
        "tags": [
          "VirtualNetworkApplianceCapabilities"
        ],
        "description": "Gets the specified capability of a virtual network appliance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkApplianceName",
            "in": "path",
            "description": "The name of the virtual network appliance.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "capabilityName",
            "in": "path",
            "description": "The name of the virtual network appliance capability.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkApplianceCapability"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get virtual network appliance capability": {
            "$ref": "./examples/VirtualNetworkApplianceCapabilities_Get.json"
          }
        }
      },
      "put": {
        "operationId": "VirtualNetworkApplianceCapabilities_CreateOrUpdate",
        "tags": [
          "VirtualNetworkApplianceCapabilities"
        ],
        "description": "Creates or updates a capability on a virtual network appliance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkApplianceName",
            "in": "path",
            "description": "The name of the virtual network appliance.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "capabilityName",
            "in": "path",
            "description": "The name of the virtual network appliance capability.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update virtual network appliance capability operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetworkApplianceCapability"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'VirtualNetworkApplianceCapability' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkApplianceCapability"
            }
          },
          "201": {
            "description": "Resource 'VirtualNetworkApplianceCapability' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkApplianceCapability"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create virtual network appliance PLGateway capability": {
            "$ref": "./examples/VirtualNetworkApplianceCapabilities_CreateOrUpdate_PLGateway.json"
          },
          "Create virtual network appliance PLGatewayFastpath capability": {
            "$ref": "./examples/VirtualNetworkApplianceCapabilities_CreateOrUpdate.json"
          },
          "Create virtual network appliance PLIPForwarders capability": {
            "$ref": "./examples/VirtualNetworkApplianceCapabilities_CreateOrUpdate_PLIPForwarders.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/VirtualNetworkApplianceCapability"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "VirtualNetworkApplianceCapabilities_Delete",
        "tags": [
          "VirtualNetworkApplianceCapabilities"
        ],
        "description": "Deletes the specified capability of a virtual network appliance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkApplianceName",
            "in": "path",
            "description": "The name of the virtual network appliance.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "capabilityName",
            "in": "path",
            "description": "The name of the virtual network appliance capability.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "./common.json#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete virtual network appliance capability": {
            "$ref": "./examples/VirtualNetworkApplianceCapabilities_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "PLGatewayCapability": {
      "type": "object",
      "description": "The Private Link Gateway (slow-path) capability. Private Link programming offloaded to the appliance's gateway;\nIPv6 on a dual-stack appliance.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PLGatewayCapabilityProperties",
          "description": "The Private Link Gateway (slow-path) capability properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/VirtualNetworkApplianceCapability"
        }
      ],
      "x-ms-discriminator-value": "PLGateway"
    },
    "PLGatewayCapabilityProperties": {
      "type": "object",
      "description": "Properties of the Private Link Gateway (slow-path) capability.",
      "properties": {
        "linkedResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The ARM resource id of the owning virtual network. System-derived and read-only.",
          "readOnly": true,
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/virtualNetworks"
              }
            ]
          }
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/Common.ProvisioningState",
          "description": "The provisioning state of the capability resource.",
          "readOnly": true
        },
        "ipVersion": {
          "$ref": "./common.json#/definitions/PLGatewayCapabilityIpVersion",
          "description": "The IP version the capability applies to. Private Link Gateway (slow-path) supports `IPv6` only."
        }
      },
      "required": [
        "ipVersion"
      ]
    },
    "PLGatewayFastpathCapability": {
      "type": "object",
      "description": "The Private Link Gateway FastPath capability. Private Link fast-path programming on the appliance's gateway;\nsupported on a dual-stack appliance.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PLGatewayFastpathCapabilityProperties",
          "description": "The Private Link Gateway FastPath capability properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/VirtualNetworkApplianceCapability"
        }
      ],
      "x-ms-discriminator-value": "PLGatewayFastpath"
    },
    "PLGatewayFastpathCapabilityProperties": {
      "type": "object",
      "description": "Properties of the Private Link Gateway FastPath capability.",
      "properties": {
        "linkedResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The ARM resource id of the owning virtual network. System-derived and read-only.",
          "readOnly": true,
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/virtualNetworks"
              }
            ]
          }
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/Common.ProvisioningState",
          "description": "The provisioning state of the capability resource.",
          "readOnly": true
        },
        "ipVersion": {
          "$ref": "./common.json#/definitions/PLGatewayFastpathCapabilityIpVersion",
          "description": "The IP version the capability applies to. Private Link Gateway FastPath supports `DualStack` only:\nsingle-stack applies to the Private Endpoint configuration only, while the gateway itself stays dual-stack."
        }
      },
      "required": [
        "ipVersion"
      ]
    },
    "PLIPForwardersCapability": {
      "type": "object",
      "description": "The Private Link IP-forwarders (NVA) capability. Private Link programming offloaded to the appliance NVA;\nIPv6 on a dual-stack appliance.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PLIPForwardersCapabilityProperties",
          "description": "The Private Link IP-forwarders (NVA) capability properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/VirtualNetworkApplianceCapability"
        }
      ],
      "x-ms-discriminator-value": "PLIPForwarders"
    },
    "PLIPForwardersCapabilityProperties": {
      "type": "object",
      "description": "Properties of the Private Link IP-forwarders (NVA) capability.",
      "properties": {
        "linkedResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The ARM resource id of the owning virtual network. System-derived and read-only.",
          "readOnly": true,
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/virtualNetworks"
              }
            ]
          }
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/Common.ProvisioningState",
          "description": "The provisioning state of the capability resource.",
          "readOnly": true
        },
        "ipVersion": {
          "$ref": "./common.json#/definitions/PLIPForwardersCapabilityIpVersion",
          "description": "The IP version the capability applies to. Private Link IP-forwarders (NVA) supports `IPv6` only."
        }
      },
      "required": [
        "ipVersion"
      ]
    },
    "VirtualNetworkAppliance": {
      "type": "object",
      "description": "A virtual network appliance in a resource group.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/VirtualNetworkAppliancePropertiesFormat",
          "description": "Properties of the virtual network appliance.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/Resource"
        }
      ]
    },
    "VirtualNetworkApplianceCapability": {
      "type": "object",
      "description": "A capability enabled on a virtual network appliance. The top-level `kind` discriminator selects the\ncapability family and its `properties` schema. One capability of a given kind may exist per appliance.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/VirtualNetworkApplianceCapabilityProperties",
          "description": "The kind-agnostic capability properties. Each `kind` narrows this to its own properties schema."
        },
        "systemData": {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/systemData",
          "description": "The system metadata related to this resource.",
          "readOnly": true
        },
        "kind": {
          "$ref": "./common.json#/definitions/VirtualNetworkApplianceCapabilityKind",
          "description": "The kind of capability (the top-level discriminator)."
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ],
      "allOf": [
        {
          "$ref": "./common.json#/definitions/ChildResource"
        }
      ]
    },
    "VirtualNetworkApplianceCapabilityListResult": {
      "type": "object",
      "description": "The response of a VirtualNetworkApplianceCapability list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The VirtualNetworkApplianceCapability items on this page",
          "items": {
            "$ref": "#/definitions/VirtualNetworkApplianceCapability"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "VirtualNetworkApplianceCapabilityProperties": {
      "type": "object",
      "description": "Properties common to every virtual network appliance capability, independent of kind.",
      "properties": {
        "linkedResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The ARM resource id of the owning virtual network. System-derived and read-only.",
          "readOnly": true,
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/virtualNetworks"
              }
            ]
          }
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/Common.ProvisioningState",
          "description": "The provisioning state of the capability resource.",
          "readOnly": true
        },
        "ipVersion": {
          "$ref": "./common.json#/definitions/VirtualNetworkApplianceCapabilityIpVersion",
          "description": "The IP version the capability applies to. The kind-agnostic base admits the full supported set;\neach capability `kind` narrows this to its own allowed value(s) and marks it required (see each\nkind's properties schema). It is optional here so a future property-less kind is not forced to carry it."
        }
      }
    },
    "VirtualNetworkApplianceIpConfiguration": {
      "type": "object",
      "description": "The virtual network appliance ip configuration.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/VirtualNetworkApplianceIpConfigurationProperties",
          "description": "Properties of the virtual network appliance ip configuration.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of virtual network appliance ip configuration."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The resource type.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/SubResource"
        }
      ]
    },
    "VirtualNetworkApplianceIpConfigurationProperties": {
      "type": "object",
      "description": "Properties of virtual network appliance IP configuration.",
      "properties": {
        "privateIPAddress": {
          "type": "string",
          "description": "The private IP address of the IP configuration."
        },
        "privateIPAllocationMethod": {
          "$ref": "./common.json#/definitions/IPAllocationMethod",
          "description": "The private IP address allocation method."
        },
        "primary": {
          "type": "boolean",
          "description": "Whether the ip configuration is primary or not."
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the private link service IP configuration resource.",
          "readOnly": true
        },
        "privateIPAddressVersion": {
          "$ref": "./common.json#/definitions/IPVersion",
          "description": "Whether the specific IP configuration is IPv4 or IPv6. Default is IPv4."
        }
      }
    },
    "VirtualNetworkApplianceListResult": {
      "type": "object",
      "description": "The response of a VirtualNetworkAppliance list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The VirtualNetworkAppliance items on this page",
          "items": {
            "$ref": "#/definitions/VirtualNetworkAppliance"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "VirtualNetworkAppliancePropertiesFormat": {
      "type": "object",
      "description": "VirtualNetworkAppliance properties.",
      "properties": {
        "bandwidthInGbps": {
          "type": "number",
          "format": "double",
          "description": "Bandwidth of the VirtualNetworkAppliance resource in Gbps."
        },
        "ipConfigurations": {
          "type": "array",
          "description": "A list of IPConfigurations of the virtual network appliance.",
          "items": {
            "$ref": "#/definitions/VirtualNetworkApplianceIpConfiguration"
          },
          "readOnly": true
        },
        "privateIPAddressVersion": {
          "$ref": "./common.json#/definitions/VirtualNetworkApplianceIpVersionType",
          "description": "Whether the specific virtual network appliance is IPv4 or Dual Stack. Default is IPv4."
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the virtual network appliance resource.",
          "readOnly": true
        },
        "resourceGuid": {
          "type": "string",
          "description": "The resource GUID property of the virtual network appliance resource.",
          "readOnly": true
        },
        "subnet": {
          "$ref": "./virtualNetwork.json#/definitions/Subnet",
          "description": "The reference to the subnet resource."
        }
      }
    }
  },
  "parameters": {}
}
