{
  "swagger": "2.0",
  "info": {
    "title": "Security Insights",
    "description": "API spec for Microsoft.SecurityInsights (Azure Security Insights) resource provider",
    "version": "2023-05-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/contentTemplates": {
      "get": {
        "x-ms-examples": {
          "Get all installed templates.": {
            "$ref": "./examples/contentTemplates/GetTemplates.json"
          }
        },
        "tags": [
          "ContentTemplates"
        ],
        "description": "Gets all installed templates.",
        "operationId": "ContentTemplates_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/2.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "../../../common/2.0/types.json#/parameters/ODataFilter"
          },
          {
            "$ref": "../../../common/2.0/types.json#/parameters/ODataOrderBy"
          },
          {
            "$ref": "../../../common/2.0/types.json#/parameters/ODataTop"
          },
          {
            "$ref": "../../../common/2.0/types.json#/parameters/ODataSkipToken"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/templateList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/2.0/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/contentTemplates/{templateId}": {
      "put": {
        "x-ms-examples": {
          "Get a template.": {
            "$ref": "./examples/contentTemplates/InstallTemplate.json"
          }
        },
        "tags": [
          "ContentTemplates"
        ],
        "description": "Install a template.",
        "operationId": "ContentTemplate_Install",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/2.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/templateIdParameter"
          },
          {
            "$ref": "#/parameters/templateInstallationProperties"
          }
        ],
        "responses": {
          "200": {
            "description": "OK, a template is updated.",
            "schema": {
              "$ref": "#/definitions/templateModel"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/templateModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/2.0/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "get": {
        "x-ms-examples": {
          "Get a template.": {
            "$ref": "./examples/contentTemplates/GetTemplateById.json"
          }
        },
        "tags": [
          "ContentTemplates"
        ],
        "description": "Gets a template byt its identifier.",
        "operationId": "ContentTemplate_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/2.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/templateIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/templateModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/2.0/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "x-ms-examples": {
          "Delete metadata.": {
            "$ref": "./examples/contentTemplates/DeleteTemplate.json"
          }
        },
        "tags": [
          "ContentTemplates"
        ],
        "description": "Delete an installed template.",
        "operationId": "ContentTemplate_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/2.0/types.json#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/templateIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/2.0/types.json#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "templateList": {
      "description": "List of all the template.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of templates.",
          "items": {
            "$ref": "#/definitions/templateModel"
          },
          "type": "array"
        },
        "nextLink": {
          "description": "URL to fetch the next page of template.",
          "readOnly": true,
          "type": "string"
        }
      },
      "required": [
        "value"
      ]
    },
    "templateModel": {
      "allOf": [
        {
          "$ref": "../../../common/2.0/types.json#/definitions/ResourceWithEtag"
        }
      ],
      "description": "Template resource definition.",
      "properties": {
        "properties": {
          "description": "template properties",
          "$ref": "#/definitions/templateProperties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "templateProperties": {
      "description": "Template property bag.",
      "required": [
        "contentId",
        "version",
        "displayName",
        "contentKind",
        "source",
        "packageId"
      ],
      "type": "object",
      "properties": {
        "contentId": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataContentId",
          "description": "Static ID for the content.  Used to identify dependencies and content from solutions or community.  Hard-coded/static for out of the box content and solutions. Dynamic for user-created.  This is the resource name"
        },
        "version": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataVersion",
          "description": "Version of the content.  Default and recommended format is numeric (e.g. 1, 1.0, 1.0.0, 1.0.0.0), following ARM metadata best practices.  Can also be any string, but then we cannot guarantee any version checks"
        },
        "displayName": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataDisplayName",
          "description": "The display name of the template"
        },
        "contentKind": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataKind",
          "description": "The kind of content the template is for."
        },
        "source": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataSource",
          "description": "Source of the content.  This is where/how it was created."
        },
        "author": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataAuthor",
          "description": "The creator of the content item."
        },
        "support": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataSupport",
          "description": "Support information for the template - type, name, contact information"
        },
        "dependencies": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataDependencies",
          "description": "Dependencies for the content item, what other content items it requires to work.  Can describe more complex dependencies using a recursive/nested structure. For a single dependency an id/kind/version can be supplied or operator/criteria for complex formats."
        },
        "categories": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataCategories",
          "description": "Categories for the item"
        },
        "providers": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataProviders",
          "description": "Providers for the content item"
        },
        "firstPublishDate": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataFirstPublishDate",
          "description": "first publish date content item"
        },
        "lastPublishDate": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataLastPublishDate",
          "description": "last publish date for the content item"
        },
        "customVersion": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataCustomVersion",
          "description": "The custom version of the content. A optional free text"
        },
        "contentSchemaVersion": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataContentSchemaVersion",
          "description": "Schema version of the content. Can be used to distinguish between different flow based on the schema version"
        },
        "icon": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataIcon",
          "description": "the icon identifier. this id can later be fetched from the content metadata"
        },
        "threatAnalysisTactics": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataThreatAnalysisTactics",
          "description": "the tactics the resource covers"
        },
        "threatAnalysisTechniques": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataThreatAnalysisTechniques",
          "description": "the techniques the resource covers, these have to be aligned with the tactics being used"
        },
        "previewImages": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataPreviewImages",
          "description": "preview image file names. These will be taken from the solution artifacts"
        },
        "previewImagesDark": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataPreviewImagesDark",
          "description": "preview image file names. These will be taken from the solution artifacts. used for dark theme support"
        },
        "packageId": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataContentId",
          "description": "the package Id contains this template"
        },
        "packageKind": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataPackageKind",
          "description": "the packageKind of the package contains this template"
        },
        "packageName": {
          "$ref": "./common/ContentCommonTypes.json#/definitions/metadataDisplayName",
          "description": "the name of the package contains this template"
        },
        "mainTemplate": {
          "description": "The JSON of the ARM template to deploy active content",
          "type": "object"
        }
      }
    }
  },
  "parameters": {
    "templateIdParameter": {
      "description": "template Id",
      "in": "path",
      "name": "templateId",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "templateInstallationProperties": {
      "description": "Template installation properties",
      "in": "body",
      "name": "templateInstallationProperties",
      "required": true,
      "schema": {
        "$ref": "#/definitions/templateModel"
      },
      "x-ms-parameter-location": "method"
    }
  }
}
