{
    "swagger": "2.0",
    "info": {
        "version": "2018-08-01-preview",
        "title": "BillingManagementClient",
        "description": "Billing client provides access to billing resources for Azure subscriptions."
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/providers/Microsoft.Billing/enrollmentAccounts": {
            "get": {
                "tags": [
                    "EnrollmentAccounts"
                ],
                "x-ms-examples": {
                    "EnrollmentAccountsList": {
                        "$ref": "./examples/EnrollmentAccountsList.json"
                    }
                },
                "operationId": "EnrollmentAccounts_List",
                "description": "Lists the enrollment accounts the caller has access to.",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/EnrollmentAccountListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/providers/Microsoft.Billing/enrollmentAccounts/{name}": {
            "get": {
                "tags": [
                    "EnrollmentAccounts"
                ],
                "x-ms-examples": {
                    "EnrollmentAccountsGet": {
                        "$ref": "./examples/EnrollmentAccountsGet.json"
                    }
                },
                "operationId": "EnrollmentAccounts_Get",
                "description": "Gets a enrollment account by name.",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "Enrollment Account name.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/EnrollmentAccount"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods": {
            "get": {
                "tags": [
                    "BillingPeriods"
                ],
                "operationId": "BillingPeriods_List",
                "description": "Lists the available billing periods for a subscription in reverse chronological order. This is only supported for Azure Web-Direct subscriptions. Other subscription types which were not purchased directly through the Azure web portal are not supported through this preview API.",
                "externalDocs": {
                    "url": "https://go.microsoft.com/fwlink/?linkid=844490"
                },
                "x-ms-examples": {
                    "BillingPeriodsList": {
                        "$ref": "./examples/BillingPeriodsList.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "name": "$filter",
                        "description": "May be used to filter billing periods by billingPeriodEndDate. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$skiptoken",
                        "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "description": "May be used to limit the number of results to the most recent N billing periods.",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/BillingPeriodsListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}": {
            "get": {
                "tags": [
                    "BillingPeriods"
                ],
                "operationId": "BillingPeriods_Get",
                "description": "Gets a named billing period.  This is only supported for Azure Web-Direct subscriptions. Other subscription types which were not purchased directly through the Azure web portal are not supported through this preview API.",
                "x-ms-examples": {
                    "BillingPeriodsGet": {
                        "$ref": "./examples/BillingPeriodsGet.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "name": "billingPeriodName",
                        "description": "The name of a BillingPeriod resource.",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/BillingPeriod"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices": {
            "get": {
                "tags": [
                    "Invoices"
                ],
                "operationId": "Invoices_List",
                "description": "Lists the available invoices for a subscription in reverse chronological order beginning with the most recent invoice. In preview, invoices are available via this API only for invoice periods which end December 1, 2016 or later.  This is only supported for Azure Web-Direct subscriptions. Other subscription types which were not purchased directly through the Azure web portal are not supported through this preview API.",
                "externalDocs": {
                    "url": "https://go.microsoft.com/fwlink/?linkid=842057"
                },
                "x-ms-examples": {
                    "InvoicesList": {
                        "$ref": "./examples/InvoicesList.json"
                    },
                    "InvoicesExpand": {
                        "$ref": "./examples/InvoicesExpand.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "name": "$expand",
                        "description": "May be used to expand the downloadUrl property within a list of invoices. This enables download links to be generated for multiple invoices at once. By default, downloadURLs are not included when listing invoices.",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "description": "May be used to filter invoices by invoicePeriodEndDate. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$skiptoken",
                        "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "description": "May be used to limit the number of results to the most recent N invoices.",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 100
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/InvoicesListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices/{invoiceName}": {
            "get": {
                "tags": [
                    "Invoices"
                ],
                "operationId": "Invoices_Get",
                "description": "Gets a named invoice resource. When getting a single invoice, the downloadUrl property is expanded automatically.  This is only supported for Azure Web-Direct subscriptions. Other subscription types which were not purchased directly through the Azure web portal are not supported through this preview API.",
                "x-ms-examples": {
                    "InvoicesGet": {
                        "$ref": "./examples/InvoicesGet.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "name": "invoiceName",
                        "description": "The name of an invoice resource.",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/Invoice"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices/latest": {
            "get": {
                "tags": [
                    "Invoices"
                ],
                "operationId": "Invoices_GetLatest",
                "description": "Gets the most recent invoice. When getting a single invoice, the downloadUrl property is expanded automatically.  This is only supported for Azure Web-Direct subscriptions. Other subscription types which were not purchased directly through the Azure web portal are not supported through this preview API.",
                "x-ms-examples": {
                    "InvoicesGetLatest": {
                        "$ref": "./examples/InvoicesGetLatest.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/Invoice"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/operations": {
            "get": {
                "tags": [
                    "Operations"
                ],
                "operationId": "Operations_List",
                "description": "Lists all of the available billing REST API operations.",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/OperationListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts": {
            "get": {
                "tags": [
                    "BillingAccounts"
                ],
                "x-ms-examples": {
                    "BillingAccountsList": {
                        "$ref": "./examples/BillingAccountsList.json"
                    },
                    "BillingAccountsListWithExpand": {
                        "$ref": "./examples/BillingAccountsListWithExpand.json"
                    },
                    "BillingAccountsListWithExpandForEnrollmentDetails": {
                        "$ref": "./examples/BillingAccountsListWithExpandForEnrollmentDetails.json"
                    }
                },
                "operationId": "BillingAccounts_List",
                "description": "Lists all billing accounts for a user which he has access to.",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "name": "$expand",
                        "description": "May be used to expand the projects and billingProfiles.",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "description": "May be used to filter by permission. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/BillingAccountListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}": {
            "get": {
                "tags": [
                    "BillingAccounts"
                ],
                "x-ms-examples": {
                    "BillingAccounts": {
                        "$ref": "./examples/BillingAccount.json"
                    },
                    "BillingAccountWithExpand": {
                        "$ref": "./examples/BillingAccountWithExpand.json"
                    },
                    "BillingAccountsListWithExpandForEnrollmentDetails": {
                        "$ref": "./examples/BillingAccountsListWithExpandForEnrollmentDetails.json"
                    }
                },
                "operationId": "BillingAccounts_Get",
                "description": "Get the billing account by id.",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountIdParameter"
                    },
                    {
                        "name": "$expand",
                        "description": "May be used to expand the projects and billingProfiles.",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "description": "May be used to filter by permission. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/BillingAccount"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles": {
            "get": {
                "tags": [
                    "BillingProfiles"
                ],
                "x-ms-examples": {
                    "BillingProfilesListByBillingAccountId": {
                        "$ref": "./examples/BillingProfilesListByBillingAccountId.json"
                    }
                },
                "operationId": "BillingProfiles_ListByBillingAccountId",
                "description": "Lists all billing profiles for a user which that user has access to.",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/BillingProfileListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}": {
            "get": {
                "tags": [
                    "BillingProfiles"
                ],
                "x-ms-examples": {
                    "BillingProfile": {
                        "$ref": "./examples/BillingProfile.json"
                    }
                },
                "operationId": "BillingProfiles_Get",
                "description": "Get the billing profile by id.",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountIdParameter"
                    },
                    {
                        "$ref": "#/parameters/billingProfileIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/BillingProfile"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/projects": {
            "get": {
                "tags": [
                    "Projects"
                ],
                "x-ms-examples": {
                    "ProjectsListByBillingAccountId": {
                        "$ref": "./examples/ProjectsListByBillingAccountId.json"
                    },
                    "ProjectsListByBillingAccountIdWithExpand": {
                        "$ref": "./examples/ProjectsListByBillingAccountIdWithExpand.json"
                    }
                },
                "operationId": "Projects_ListByBillingAccountId",
                "description": "Lists all projects for a user which he has access to.",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountIdParameter"
                    },
                    {
                        "name": "$expand",
                        "description": "May be used to expand the eligibleOffers.",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "description": "May be used to filter by permission. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/ProjectListResult"
                        }
                    },
                    "202": {
                        "description": "Accepted. Project creation is in progress.",
                        "headers": {
                            "Location": {
                                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                                "type": "string"
                            },
                            "Retry-After": {
                                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                                "type": "string"
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Projects"
                ],
                "operationId": "Projects_Create",
                "description": "The operation to create a project.",
                "x-ms-examples": {
                    "CreateProject": {
                        "$ref": "./examples/CreateProject.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountIdParameter"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Project"
                        },
                        "description": "Parameters supplied to the Create Project operation."
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created.",
                        "schema": {
                            "$ref": "#/definitions/Project"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/projects/{projectId}": {
            "get": {
                "tags": [
                    "Projects"
                ],
                "x-ms-examples": {
                    "Project": {
                        "$ref": "./examples/Project.json"
                    },
                    "ProjectWithExpand": {
                        "$ref": "./examples/ProjectWithExpand.json"
                    }
                },
                "operationId": "Projects_Get",
                "description": "Get the project by id.",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountIdParameter"
                    },
                    {
                        "$ref": "#/parameters/projectIdParameter"
                    },
                    {
                        "name": "$expand",
                        "description": "May be used to expand the eligibleOffers.",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "description": "May be used to filter by permission. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/Project"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Projects"
                ],
                "operationId": "Projects_Update",
                "description": "The operation to update a project.",
                "x-ms-examples": {
                    "UpdateProject": {
                        "$ref": "./examples/UpdateProject.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountIdParameter"
                    },
                    {
                        "$ref": "#/parameters/projectIdParameter"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Project"
                        },
                        "description": "Parameters supplied to the Create Project operation."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/Project"
                        }
                    },
                    "202": {
                        "description": "Accepted. Project update is in progress.",
                        "headers": {
                            "Location": {
                                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                                "type": "string"
                            },
                            "Retry-After": {
                                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                                "type": "string"
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/eligibleOffers": {
            "get": {
                "tags": [
                    "EligibleOffers"
                ],
                "x-ms-examples": {
                    "EligibleOffersListByBillingAccountId": {
                        "$ref": "./examples/EligibleOffersListByBillingAccountId.json"
                    }
                },
                "operationId": "EligibleOffers_ListByBillingAccountId",
                "description": "Lists all eligible offers for specified billing account id.",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountIdParameter"
                    },
                    {
                        "name": "$expand",
                        "description": "May be used to expand the billingProfiles.",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/EligibleOfferListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/projects/{projectId}/eligibleOffers/{eligibleOfferId}": {
            "get": {
                "tags": [
                    "EligibleOffers"
                ],
                "x-ms-examples": {
                    "EligibleOfferById": {
                        "$ref": "./examples/EligibleOfferById.json"
                    }
                },
                "operationId": "EligibleOffers_GetById",
                "description": "Get the eligible offer by id.",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountIdParameter"
                    },
                    {
                        "$ref": "#/parameters/eligibleOfferIdParameter"
                    },
                    {
                        "$ref": "#/parameters/projectIdParameter"
                    },
                    {
                        "name": "$expand",
                        "description": "May be used to expand the billingProfiles.",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/EligibleOffer"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments": {
            "get": {
                "tags": [
                    "Departments"
                ],
                "x-ms-examples": {
                    "DepartmentsListByBillingAccountId": {
                        "$ref": "./examples/DepartmentsListByBillingAccountId.json"
                    },
                    "DepartmentsListByBillingAccountIdWithExpand": {
                        "$ref": "./examples/DepartmentsListByBillingAccountIdWithExpand.json"
                    }
                },
                "operationId": "Departments_ListByBillingAccountId",
                "description": "Lists all departments for a user which he has access to.",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountIdParameter"
                    },
                    {
                        "name": "$expand",
                        "description": "May be used to expand the enrollmentAccounts.",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "description": "The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/DepartmentListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}": {
            "get": {
                "tags": [
                    "Departments"
                ],
                "x-ms-examples": {
                    "Department": {
                        "$ref": "./examples/Department.json"
                    },
                    "DepartmentWithExpand": {
                        "$ref": "./examples/DepartmentWithExpand.json"
                    }
                },
                "operationId": "Departments_Get",
                "description": "Get the department by id.",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountIdParameter"
                    },
                    {
                        "$ref": "#/parameters/departmentIdParameter"
                    },
                    {
                        "name": "$expand",
                        "description": "May be used to expand the enrollmentAccounts.",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "description": "The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/Department"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts": {
            "get": {
                "tags": [
                    "EnrollmentAccounts"
                ],
                "x-ms-examples": {
                    "EnrollmentAccountsListByBillingAccountId": {
                        "$ref": "./examples/EnrollmentAccountsListByBillingAccountId.json"
                    },
                    "EnrollmentAccountsListByBillingAccountIdWithExpand": {
                        "$ref": "./examples/EnrollmentAccountsListByBillingAccountIdWithExpand.json"
                    }
                },
                "operationId": "EnrollmentAccounts_ListByBillingAccountId",
                "description": "Lists all Enrollment Accounts for a user which he has access to.",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountIdParameter"
                    },
                    {
                        "name": "$expand",
                        "description": "May be used to expand the department.",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "description": "The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/EnrollmentAccountListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}": {
            "get": {
                "tags": [
                    "EnrollmentAccounts"
                ],
                "x-ms-examples": {
                    "EnrollmentAccount": {
                        "$ref": "./examples/EnrollmentAccount.json"
                    },
                    "ProjectWithExpand": {
                        "$ref": "./examples/EnrollmentAccountWithExpand.json"
                    }
                },
                "operationId": "EnrollmentAccounts_GetByEnrollmentAccountAccountId",
                "description": "Get the enrollment account by id.",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountIdParameter"
                    },
                    {
                        "$ref": "#/parameters/enrollmentAccountIdParameter"
                    },
                    {
                        "name": "$expand",
                        "description": "May be used to expand the Department.",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "description": "The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/EnrollmentAccount"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/operationStatus/{operationId}": {
            "get": {
                "description": "Get the status of pending Microsoft.Billing API operation.",
                "operationId": "OperationStatus_Get",
                "x-ms-examples": {
                    "OperationStatus": {
                        "$ref": "./examples/OperationStatus.json"
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/OperationStatus"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/operationIdParameter"
                    }
                ]
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoices": {
            "get": {
                "tags": [
                    "invoices"
                ],
                "x-ms-examples": {
                    "invoicesList": {
                        "$ref": "./examples/BillingAccountInvoicesList.json"
                    }
                },
                "operationId": "BillingAccountInvoices_List",
                "description": "List of invoices for a billing account.",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountIdParameter"
                    },
                    {
                        "name": "periodStartDate",
                        "description": "Invoice period start date.",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "periodEndDate",
                        "description": "Invoice period end date.",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/InvoicesListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoices": {
            "get": {
                "tags": [
                    "invoices"
                ],
                "x-ms-examples": {
                    "invoicesList": {
                        "$ref": "./examples/InvoicesListByBillingProfile.json"
                    }
                },
                "operationId": "BillingProfileInvoices_List",
                "description": "List of invoices for a billing profile.",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountIdParameter"
                    },
                    {
                        "$ref": "#/parameters/billingProfileIdParameter"
                    },
                    {
                        "name": "periodStartDate",
                        "description": "Invoice period start date.",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "periodEndDate",
                        "description": "Invoice period end date.",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/InvoicesListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoices/{invoiceId}": {
            "get": {
                "tags": [
                    "invoices"
                ],
                "x-ms-examples": {
                    "invoice": {
                        "$ref": "./examples/Invoice.json"
                    }
                },
                "operationId": "Invoice_Get",
                "description": "Get the invoice by id.",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountIdParameter"
                    },
                    {
                        "$ref": "#/parameters/billingProfileIdParameter"
                    },
                    {
                        "$ref": "#/parameters/invoiceIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/InvoiceSummary"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/providers/Microsoft.Billing/billingPermissions": {
            "get": {
                "tags": [
                    "billingPermissions"
                ],
                "x-ms-examples": {
                    "BillingAccountPermissionsList": {
                        "$ref": "./examples/BillingAccountPermissionsList.json"
                    }
                },
                "operationId": "BillingAccountbillingPermissions_List",
                "description": "Lists all billingPermissions for the caller has for a billing account.",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/billingPermissionsListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/projects/{projectName}/providers/Microsoft.Billing/billingPermissions": {
            "get": {
                "tags": [
                    "billingPermissions"
                ],
                "x-ms-examples": {
                    "ProjectPermissionsList": {
                        "$ref": "./examples/ProjectPermissionsList.json"
                    }
                },
                "operationId": "ProjectbillingPermissions_List",
                "description": "Lists all billingPermissions for the caller has for a billing account.",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountNameParameter"
                    },
                    {
                        "$ref": "#/parameters/projectNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/billingPermissionsListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Billing/billingPermissions": {
            "get": {
                "tags": [
                    "billingPermissions"
                ],
                "x-ms-examples": {
                    "BillingProfilePermissionsList": {
                        "$ref": "./examples/BillingProfilePermissionsList.json"
                    }
                },
                "operationId": "BillingProfilebillingPermissions_List",
                "description": "Lists all billingPermissions for the caller has for a billing account.",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountNameParameter"
                    },
                    {
                        "$ref": "#/parameters/billingProfileNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/billingPermissionsListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/providers/Microsoft.Billing/billingRoleDefinitions/{billingRoleDefinitionId}": {
            "get": {
                "tags": [
                    "billingRoleDefinition"
                ],
                "x-ms-examples": {
                    "BillingAccountRoleDefinition": {
                        "$ref": "./examples/BillingAccountRoleDefinition.json"
                    }
                },
                "operationId": "BillingAccountbillingRoleDefinition_Get",
                "description": "Gets the role definition for a role",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountNameParameter"
                    },
                    {
                        "$ref": "#/parameters/billingRoleDefinitionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/billingRoleDefinition"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/projects/{projectName}/providers/Microsoft.Billing/billingRoleDefinitions/{billingRoleDefinitionId}": {
            "get": {
                "tags": [
                    "billingRoleDefinition"
                ],
                "x-ms-examples": {
                    "ProjectRoleDefinition": {
                        "$ref": "./examples/ProjectRoleDefinition.json"
                    }
                },
                "operationId": "ProjectbillingRoleDefinition_Get",
                "description": "Gets the role definition for a role",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountNameParameter"
                    },
                    {
                        "$ref": "#/parameters/projectNameParameter"
                    },
                    {
                        "$ref": "#/parameters/billingRoleDefinitionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/billingRoleDefinition"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Billing/billingRoleDefinitions/{billingRoleDefinitionId}": {
            "get": {
                "tags": [
                    "billingRoleDefinition"
                ],
                "x-ms-examples": {
                    "BillingProfileRoleDefinition": {
                        "$ref": "./examples/BillingProfileRoleDefinition.json"
                    }
                },
                "operationId": "BillingProfilebillingRoleDefinition_Get",
                "description": "Gets the role definition for a role",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountNameParameter"
                    },
                    {
                        "$ref": "#/parameters/billingProfileNameParameter"
                    },
                    {
                        "$ref": "#/parameters/billingRoleDefinitionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/billingRoleDefinition"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/providers/Microsoft.Billing/billingRoleDefinitions": {
            "get": {
                "tags": [
                    "billingRoleDefinition"
                ],
                "x-ms-examples": {
                    "BillingAccountRoleDefinitionsList": {
                        "$ref": "./examples/BillingAccountRoleDefinitionsList.json"
                    }
                },
                "operationId": "BillingAccountbillingRoleDefinition_List",
                "description": "Lists the role definition for a billing account",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/billingRoleDefinitionListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/projects/{projectName}/providers/Microsoft.Billing/billingRoleDefinitions": {
            "get": {
                "tags": [
                    "billingRoleDefinition"
                ],
                "x-ms-examples": {
                    "ProjectRoleDefinitionsList": {
                        "$ref": "./examples/ProjectRoleDefinitionsList.json"
                    }
                },
                "operationId": "ProjectbillingRoleDefinition_List",
                "description": "Lists the role definition for a project",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountNameParameter"
                    },
                    {
                        "$ref": "#/parameters/projectNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/billingRoleDefinitionListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Billing/billingRoleDefinitions": {
            "get": {
                "tags": [
                    "billingRoleDefinition"
                ],
                "x-ms-examples": {
                    "BillingProfileRoleDefinitionsList": {
                        "$ref": "./examples/BillingProfileRoleDefinitionsList.json"
                    }
                },
                "operationId": "BillingProfilebillingRoleDefinition_List",
                "description": "Lists the role definition for a Billing Profile",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountNameParameter"
                    },
                    {
                        "$ref": "#/parameters/billingProfileNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/billingRoleDefinitionListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/providers/Microsoft.Billing/billingRoleAssignments/{billingRoleAssignmentId}": {
            "get": {
                "tags": [
                    "billingRoleAssignment"
                ],
                "x-ms-examples": {
                    "BillingAccountRoleAssignment": {
                        "$ref": "./examples/BillingAccountRoleAssignment.json"
                    }
                },
                "operationId": "BillingAccountbillingRoleAssignment_Get",
                "description": "Get the role assignment for the caller",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountNameParameter"
                    },
                    {
                        "$ref": "#/parameters/billingRoleAssignmentIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/billingRoleAssignment"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "billingRoleAssignment"
                ],
                "x-ms-examples": {
                    "BillingAccountRoleAssignmentDelete": {
                        "$ref": "./examples/BillingAccountRoleAssignmentDelete.json"
                    }
                },
                "operationId": "BillingAccountbillingRoleAssignment_Delete",
                "description": "Delete the role assignment on this billing account",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountNameParameter"
                    },
                    {
                        "$ref": "#/parameters/billingRoleAssignmentIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/billingRoleAssignment"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/projects/{projectName}/providers/Microsoft.Billing/billingRoleAssignments/{billingRoleAssignmentId}": {
            "get": {
                "tags": [
                    "billingRoleAssignment"
                ],
                "x-ms-examples": {
                    "ProjectRoleAssignment": {
                        "$ref": "./examples/ProjectRoleAssignment.json"
                    }
                },
                "operationId": "ProjectbillingRoleAssignment_Get",
                "description": "Get the role assignment for the caller on the Project",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountNameParameter"
                    },
                    {
                        "$ref": "#/parameters/projectNameParameter"
                    },
                    {
                        "$ref": "#/parameters/billingRoleAssignmentIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/billingRoleAssignment"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "billingRoleAssignment"
                ],
                "x-ms-examples": {
                    "ProjectRoleAssignmentDelete": {
                        "$ref": "./examples/ProjectRoleAssignmentDelete.json"
                    }
                },
                "operationId": "ProjectbillingRoleAssignment_Delete",
                "description": "Delete the role assignment on this project",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountNameParameter"
                    },
                    {
                        "$ref": "#/parameters/projectNameParameter"
                    },
                    {
                        "$ref": "#/parameters/billingRoleAssignmentIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/billingRoleAssignment"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Billing/billingRoleAssignments/{billingRoleAssignmentId}": {
            "get": {
                "tags": [
                    "billingRoleAssignment"
                ],
                "x-ms-examples": {
                    "BillingProfileRoleAssignment": {
                        "$ref": "./examples/BillingProfileRoleAssignment.json"
                    }
                },
                "operationId": "BillingProfilebillingRoleAssignment_Get",
                "description": "Get the role assignment for the caller on the Billing Profile",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountNameParameter"
                    },
                    {
                        "$ref": "#/parameters/billingProfileNameParameter"
                    },
                    {
                        "$ref": "#/parameters/billingRoleAssignmentIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/billingRoleAssignment"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "billingRoleAssignment"
                ],
                "x-ms-examples": {
                    "BillingProfileRoleAssignmentDelete": {
                        "$ref": "./examples/BillingProfileRoleAssignmentDelete.json"
                    }
                },
                "operationId": "BillingProfilebillingRoleAssignment_Delete",
                "description": "Delete the role assignment on this Billing Profile",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountNameParameter"
                    },
                    {
                        "$ref": "#/parameters/billingProfileNameParameter"
                    },
                    {
                        "$ref": "#/parameters/billingRoleAssignmentIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/billingRoleAssignment"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/providers/Microsoft.Billing/billingRoleAssignments": {
            "get": {
                "tags": [
                    "billingRoleAssignment"
                ],
                "x-ms-examples": {
                    "BillingAccountRoleAssignmentList": {
                        "$ref": "./examples/BillingAccountRoleAssignmentList.json"
                    }
                },
                "operationId": "BillingAccountbillingRoleAssignment_List",
                "description": "Get the role assignments on the Billing Account",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/billingRoleAssignmentListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "billingRoleAssignment"
                ],
                "operationId": "BillingAccountbillingRoleAssignment_Add",
                "description": "The operation to add a role assignment to a billing account.",
                "x-ms-examples": {
                    "AddRoleAssignmentToBillingAccount": {
                        "$ref": "./examples/AddRoleAssignmentToBillingAccount.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountNameParameter"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/billingRoleAssignmentPayload"
                        },
                        "description": "Parameters supplied to add a role assginment."
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Role assignment is successfully created",
                        "schema": {
                            "$ref": "#/definitions/billingRoleAssignmentListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/projects/{projectName}/providers/Microsoft.Billing/billingRoleAssignments": {
            "get": {
                "tags": [
                    "billingRoleAssignment"
                ],
                "x-ms-examples": {
                    "ProjectRoleAssignmentList": {
                        "$ref": "./examples/ProjectRoleAssignmentList.json"
                    }
                },
                "operationId": "ProjectbillingRoleAssignment_List",
                "description": "Get the role assignments on the Project",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountNameParameter"
                    },
                    {
                        "$ref": "#/parameters/projectNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/billingRoleAssignmentListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "billingRoleAssignment"
                ],
                "operationId": "ProjectbillingRoleAssignment_Add",
                "description": "The operation to add a role assignment to a project.",
                "x-ms-examples": {
                    "AddRoleAssignmentToProject": {
                        "$ref": "./examples/AddRoleAssignmentToProject.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountNameParameter"
                    },
                    {
                        "$ref": "#/parameters/projectNameParameter"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/billingRoleAssignmentPayload"
                        },
                        "description": "Parameters supplied to add a role assginment."
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Role assignment is successfully created",
                        "schema": {
                            "$ref": "#/definitions/billingRoleAssignmentListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Billing/billingRoleAssignments": {
            "get": {
                "tags": [
                    "billingRoleAssignment"
                ],
                "x-ms-examples": {
                    "BillingProfileRoleAssignmentList": {
                        "$ref": "./examples/BillingProfileRoleAssignmentList.json"
                    }
                },
                "operationId": "BillingProfilebillingRoleAssignment_List",
                "description": "Get the role assignments on the Billing Profile",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountNameParameter"
                    },
                    {
                        "$ref": "#/parameters/billingProfileNameParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/billingRoleAssignmentListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "billingRoleAssignment"
                ],
                "operationId": "BillingProfilebillingRoleAssignment_Add",
                "description": "The operation to add a role assignment to a billing profile.",
                "x-ms-examples": {
                    "AddRoleAssignmentToBillingProfile": {
                        "$ref": "./examples/AddRoleAssignmentToBillingProfile.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/billingAccountNameParameter"
                    },
                    {
                        "$ref": "#/parameters/billingProfileNameParameter"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/billingRoleAssignmentPayload"
                        },
                        "description": "Parameters supplied to add a role assginment."
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Role assignment is successfully created",
                        "schema": {
                            "$ref": "#/definitions/billingRoleAssignmentListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/transactions": {
            "get": {
                "tags": [
                    "Transactions"
                ],
                "operationId": "TransactionsByBillingAccount_List",
                "description": "Lists the transactions by billingAccountId for given start and end date.",
                "externalDocs": {
                    "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
                },
                "x-ms-examples": {
                    "TransactionsListByBillingAccount": {
                        "$ref": "./examples/TransactionsListByBillingAccount.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/billingAccountIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/periodStartDateParameter"
                    },
                    {
                        "$ref": "#/parameters/periodEndDateParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/TransactionsListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/transactions": {
            "get": {
                "tags": [
                    "Transactions"
                ],
                "operationId": "TransactionsByBillingProfile",
                "description": "Lists the transactions by billingProfileId for given start date and end date.",
                "externalDocs": {
                    "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
                },
                "x-ms-examples": {
                    "TransactionsListByBillingProfile": {
                        "$ref": "./examples/TransactionsListByBillingProfile.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/billingAccountIdParameter"
                    },
                    {
                        "$ref": "#/parameters/billingProfileIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/periodStartDateParameter"
                    },
                    {
                        "$ref": "#/parameters/periodEndDateParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/TransactionsListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingSubscriptions": {
            "get": {
                "tags": [
                    "BillingSubscriptions"
                ],
                "operationId": "Products_ByBillingSubscriptions_List",
                "description": "Lists billing subscriptions by billingAccountId.",
                "externalDocs": {
                    "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
                },
                "x-ms-examples": {
                    "BllingSubscriptionsListByBillingAccount": {
                        "$ref": "./examples/BillingSubscriptionsListByBillingAccount.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/billingAccountIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/BillingSubscriptionsListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfile/{billingProfileId}/billingSubscriptions": {
            "get": {
                "tags": [
                    "BillingSubscriptions"
                ],
                "operationId": "BillingSubscriptions_ByBillingProfile_List",
                "description": "Lists billing subscriptions by billingProfileId.",
                "externalDocs": {
                    "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
                },
                "x-ms-examples": {
                    "BillingSubscriptionsListByBillingProfile": {
                        "$ref": "./examples/BillingSubscriptionsListByBillingProfile.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/billingAccountIdParameter"
                    },
                    {
                        "$ref": "#/parameters/billingProfileIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/BillingSubscriptionsListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/projects/{projectId}/billingSubscriptions": {
            "get": {
                "tags": [
                    "BillingSubscriptions"
                ],
                "operationId": "BillingSubscription_ByProject_List",
                "description": "Lists billing subscription by projectId.",
                "externalDocs": {
                    "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
                },
                "x-ms-examples": {
                    "BillingSubscriptionsListByProject": {
                        "$ref": "./examples/BillingSubscriptionsListByProject.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/billingAccountIdParameter"
                    },
                    {
                        "$ref": "#/parameters/projectIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/BillingSubscriptionsListResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/projects/{projectId}/billingSubscriptions/{billingSubscriptionId}": {
            "get": {
                "tags": [
                    "BillingSubscriptions"
                ],
                "operationId": "BillingSubscription_Get",
                "description": "Get a single billing subscription by name.",
                "externalDocs": {
[...]
