{
  "swagger": "2.0",
  "info": {
    "version": "2018-08-01-preview",
    "title": "BillingManagementClient",
    "description": "Billing client provides access to billing resources for Azure subscriptions."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Billing/enrollmentAccounts": {
      "get": {
        "tags": [
          "EnrollmentAccounts"
        ],
        "x-ms-examples": {
          "EnrollmentAccountsList": {
            "$ref": "./examples/EnrollmentAccountsList.json"
          }
        },
        "operationId": "EnrollmentAccounts_List",
        "description": "Lists the enrollment accounts the caller has access to.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EnrollmentAccountListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/enrollmentAccounts/{name}": {
      "get": {
        "tags": [
          "EnrollmentAccounts"
        ],
        "x-ms-examples": {
          "EnrollmentAccountsGet": {
            "$ref": "./examples/EnrollmentAccountsGet.json"
          }
        },
        "operationId": "EnrollmentAccounts_Get",
        "description": "Gets a enrollment account by name.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Enrollment Account name.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EnrollmentAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods": {
      "get": {
        "tags": [
          "BillingPeriods"
        ],
        "operationId": "BillingPeriods_List",
        "description": "Lists the available billing periods for a subscription in reverse chronological order. This is only supported for Azure Web-Direct subscriptions. Other subscription types which were not purchased directly through the Azure web portal are not supported through this preview API.",
        "externalDocs": {
          "url": "https://go.microsoft.com/fwlink/?linkid=844490"
        },
        "x-ms-examples": {
          "BillingPeriodsList": {
            "$ref": "./examples/BillingPeriodsList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "description": "May be used to filter billing periods by billingPeriodEndDate. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "description": "May be used to limit the number of results to the most recent N billing periods.",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingPeriodsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}": {
      "get": {
        "tags": [
          "BillingPeriods"
        ],
        "operationId": "BillingPeriods_Get",
        "description": "Gets a named billing period.  This is only supported for Azure Web-Direct subscriptions. Other subscription types which were not purchased directly through the Azure web portal are not supported through this preview API.",
        "x-ms-examples": {
          "BillingPeriodsGet": {
            "$ref": "./examples/BillingPeriodsGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingPeriodName",
            "description": "The name of a BillingPeriod resource.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingPeriod"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "operationId": "Invoices_List",
        "description": "Lists the available invoices for a subscription in reverse chronological order beginning with the most recent invoice. In preview, invoices are available via this API only for invoice periods which end December 1, 2016 or later.  This is only supported for Azure Web-Direct subscriptions. Other subscription types which were not purchased directly through the Azure web portal are not supported through this preview API.",
        "externalDocs": {
          "url": "https://go.microsoft.com/fwlink/?linkid=842057"
        },
        "x-ms-examples": {
          "InvoicesList": {
            "$ref": "./examples/InvoicesList.json"
          },
          "InvoicesExpand": {
            "$ref": "./examples/InvoicesExpand.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the downloadUrl property within a list of invoices. This enables download links to be generated for multiple invoices at once. By default, downloadURLs are not included when listing invoices.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "May be used to filter invoices by invoicePeriodEndDate. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "description": "May be used to limit the number of results to the most recent N invoices.",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoicesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices/{invoiceName}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "operationId": "Invoices_Get",
        "description": "Gets a named invoice resource. When getting a single invoice, the downloadUrl property is expanded automatically.  This is only supported for Azure Web-Direct subscriptions. Other subscription types which were not purchased directly through the Azure web portal are not supported through this preview API.",
        "x-ms-examples": {
          "InvoicesGet": {
            "$ref": "./examples/InvoicesGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "invoiceName",
            "description": "The name of an invoice resource.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices/latest": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "operationId": "Invoices_GetLatest",
        "description": "Gets the most recent invoice. When getting a single invoice, the downloadUrl property is expanded automatically.  This is only supported for Azure Web-Direct subscriptions. Other subscription types which were not purchased directly through the Azure web portal are not supported through this preview API.",
        "x-ms-examples": {
          "InvoicesGetLatest": {
            "$ref": "./examples/InvoicesGetLatest.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Lists all of the available billing REST API operations.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}/initiateTransfer": {
      "post": {
        "description": "Initiates the request to transfer the GTM or legacy subscriptions or RIs to GTM.",
        "operationId": "Transfer_Initiate",
        "x-ms-examples": {
          "InitiateTransfer": {
            "$ref": "./examples/InitiateTransfer.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/BillingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/InvoiceSectionIdParameter"
          },
          {
            "$ref": "#/parameters/InitiateTransferRequestParameter"
          }
        ],
        "tags": [
          "AIPController"
        ],
        "responses": {
          "200": {
            "description": "Initiated transfer details.",
            "schema": {
              "$ref": "#/definitions/TransferDetails"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}/transfers/{transferId}": {
      "get": {
        "description": "Gets the transfer details for given transfer Id.",
        "operationId": "Transfer_Get",
        "x-ms-examples": {
          "TransferGet": {
            "$ref": "./examples/GetTransfer.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/BillingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/InvoiceSectionIdParameter"
          },
          {
            "$ref": "#/parameters/TransferIdParameter"
          }
        ],
        "tags": [
          "AIPController"
        ],
        "responses": {
          "200": {
            "description": "Details of transfer.",
            "schema": {
              "$ref": "#/definitions/TransferDetails"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Cancels the transfer for given transfer Id.",
        "operationId": "Transfer_Cancel",
        "x-ms-examples": {
          "TransferCancel": {
            "$ref": "./examples/CancelTransfer.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/BillingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/InvoiceSectionIdParameter"
          },
          {
            "$ref": "#/parameters/TransferIdParameter"
          }
        ],
        "tags": [
          "AIPController"
        ],
        "responses": {
          "200": {
            "description": "Details of canceled transfer.",
            "schema": {
              "$ref": "#/definitions/TransferDetails"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}/transfers": {
      "get": {
        "description": "Lists all transfer's details initiated from given invoice section.",
        "operationId": "Transfers_List",
        "x-ms-examples": {
          "TransfersList": {
            "$ref": "./examples/ListTransfers.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/BillingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/InvoiceSectionIdParameter"
          }
        ],
        "tags": [
          "AIPController"
        ],
        "responses": {
          "200": {
            "description": "List of transfers initiated from this invoice section.",
            "schema": {
              "$ref": "#/definitions/TransferDetailsListResult"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/transfers/{transferId}/acceptTransfer": {
      "post": {
        "summary": "Accepts the transfer with given transfer Id.",
        "operationId": "Transfer_Accept",
        "x-ms-examples": {
          "AcceptTransfer": {
            "$ref": "./examples/AcceptTransfer.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/TransferIdParameter"
          },
          {
            "$ref": "#/parameters/AcceptTransferRequestParameter"
          }
        ],
        "tags": [
          "AIPController"
        ],
        "responses": {
          "200": {
            "description": "Details of the accepted transfer.",
            "schema": {
              "$ref": "#/definitions/RecipientTransferDetails"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/transfers/{transferId}/declineTransfer": {
      "post": {
        "summary": "Declines the transfer with given transfer Id.",
        "operationId": "Transfer_Decline",
        "x-ms-examples": {
          "DeclineTransfer": {
            "$ref": "./examples/DeclineTransfer.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/TransferIdParameter"
          }
        ],
        "tags": [
          "AIPController"
        ],
        "responses": {
          "200": {
            "description": "Details of the declined transfer.",
            "schema": {
              "$ref": "#/definitions/RecipientTransferDetails"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/transfers/{transferId}/": {
      "get": {
        "summary": "Gets the transfer with given transfer Id.",
        "operationId": "RecipientTransfer_Get",
        "x-ms-examples": {
          "RecipientTransferGet": {
            "$ref": "./examples/GetRecipientTransfer.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/TransferIdParameter"
          }
        ],
        "tags": [
          "AIPController"
        ],
        "responses": {
          "200": {
            "description": "Details of the transfers with given Id.",
            "schema": {
              "$ref": "#/definitions/RecipientTransferDetails"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/transfers": {
      "get": {
        "summary": "Lists the transfers received by caller.",
        "operationId": "RecipientTransfer_List",
        "x-ms-examples": {
          "RecipientTransfersList": {
            "$ref": "./examples/ListRecipientTransfers.json"
          }
        },
        "tags": [
          "AIPController"
        ],
        "responses": {
          "200": {
            "description": "List of transfers received by caller.",
            "schema": {
              "$ref": "#/definitions/RecipientTransferDetailsListResult"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "EnrollmentAccount": {
      "description": "An enrollment account resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "An enrollment account.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/EnrollmentAccountProperties"
        }
      }
    },
    "EnrollmentAccountListResult": {
      "description": "Result of listing enrollment accounts.",
      "properties": {
        "value": {
          "description": "The list of enrollment accounts.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/EnrollmentAccount"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "EnrollmentAccountProperties": {
      "description": "The properties of the enrollment account.",
      "properties": {
        "principalName": {
          "description": "The account owner's principal name.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BillingPeriod": {
      "description": "A billing period resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "A billing period.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BillingPeriodProperties"
        }
      }
    },
    "BillingPeriodsListResult": {
      "description": "Result of listing billing periods. It contains a list of available billing periods in reverse chronological order.",
      "properties": {
        "value": {
          "description": "The list of billing periods.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/BillingPeriod"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BillingPeriodProperties": {
      "description": "The properties of the billing period.",
      "properties": {
        "billingPeriodStartDate": {
          "description": "The start of the date range covered by the billing period.",
          "type": "string",
          "format": "date",
          "readOnly": true
        },
        "billingPeriodEndDate": {
          "description": "The end of the date range covered by the billing period.",
          "type": "string",
          "format": "date",
          "readOnly": true
        },
        "invoiceIds": {
          "description": "Array of invoice ids that associated with.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DownloadUrl": {
      "description": "A secure URL that can be used to download a PDF invoice until the URL expires.",
      "properties": {
        "expiryTime": {
          "description": "The time in UTC at which this download URL will expire.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "url": {
          "description": "The URL to the PDF file.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorDetails": {
      "description": "The details of the error.",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "The target of the particular error.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "$ref": "#/definitions/ErrorDetails"
        }
      }
    },
    "Invoice": {
      "description": "An invoice resource can be used download a PDF version of an invoice.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "An invoice.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/InvoiceProperties"
        }
      }
    },
    "InvoicesListResult": {
      "description": "Result of listing invoices. It contains a list of available invoices in reverse chronological order.",
      "properties": {
        "value": {
          "description": "The list of invoices.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Invoice"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "InvoiceProperties": {
      "description": "The properties of the invoice.",
      "properties": {
        "downloadUrl": {
          "description": "A secure link to download the PDF version of an invoice. The link will cease to work after its expiry time is reached.",
          "$ref": "#/definitions/DownloadUrl"
        },
        "invoicePeriodStartDate": {
          "description": "The start of the date range covered by the invoice.",
          "type": "string",
          "format": "date",
          "readOnly": true
        },
        "invoicePeriodEndDate": {
          "description": "The end of the date range covered by the invoice.",
          "type": "string",
          "format": "date",
          "readOnly": true
        },
        "billingPeriodIds": {
          "description": "Array of billing perdiod ids that the invoice is attributed to.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Operation": {
      "description": "A Billing REST API operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}.",
          "type": "string",
          "readOnly": true
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.Billing.",
              "type": "string",
              "readOnly": true
            },
            "resource": {
              "description": "Resource on which the operation is performed: Invoice, etc.",
              "type": "string",
              "readOnly": true
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "OperationListResult": {
      "description": "Result listing billing operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "description": "List of billing operations supported by the Microsoft.Billing resource provider.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of operation list results if there are any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "x-ms-azure-resource": true
    },
    "InitiateTransferRequest": {
      "type": "object",
      "description": "Request parameters to initiate transfer.",
      "properties": {
        "properties": {
          "description": "Request parameters to initiate transfer.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/InitiateTransferProperties"
        }
      }
    },
    "InitiateTransferProperties": {
      "type": "object",
      "description": "Request parameters to initiate transfer.",
      "properties": {
        "billingProfileId": {
          "type": "string",
          "description": "Target Usage context for devTest subscriptions."
        },
        "recipientEmailId": {
          "type": "string",
          "description": "Email Id of recipient for transfer."
        }
      }
    },
    "AcceptTransferRequest": {
      "type": "object",
      "description": "Request parameters to accept transfer.",
      "properties": {
        "properties": {
          "description": "Request parameters to accept transfer.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AcceptTransferProperties"
        }
      }
    },
    "AcceptTransferProperties": {
      "type": "object",
      "description": "Request parameters to accept transfer.",
      "properties": {
        "productDetails": {
          "description": "Request parameters to accept transfer.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductDetails"
          }
        }
      }
    },
    "ProductDetails": {
      "type": "object",
      "description": "Details of the product to be transferred.",
      "properties": {
        "productType": {
          "description": "Type of the prouct to be transferred.",
          "$ref": "#/definitions/ProductType"
        },
        "productId": {
          "type": "string",
          "description": "Id of product to be transferred."
        }
      }
    },
    "ProductType": {
      "type": "string",
      "description": "Type of the product to be transferred.",
      "enum": [
        "AzureSubscription",
        "AzureReservation"
      ],
      "x-ms-enum": {
        "name": "productType",
        "modelAsString": true
      }
    },
    "TransferDetails": {
      "type": "object",
      "description": "Details of the transfer.",
      "properties": {
        "properties": {
          "description": "Details of the transfer.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TransferProperties"
        }
      }
    },
    "RecipientTransferDetails": {
      "type": "object",
      "description": "Details of the transfer.",
      "properties": {
        "properties": {
          "description": "Details of the transfer.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RecipientTransferProperties"
        }
      }
    },
    "DetailedTransferStatus": {
      "type": "object",
      "description": "Detailed transfer status.",
      "properties": {
        "productType": {
          "type": "string",
          "$ref": "#/definitions/ProductType",
          "readOnly": true,
          "description": "Type of product being transferred."
        },
        "productId": {
          "type": "string",
          "readOnly": true,
          "description": "Id of product being transferred."
        },
        "transferStatus": {
          "type": "string",
          "$ref": "#/definitions/ProductTransferStatus",
          "readOnly": true,
          "description": "Transfer status."
        },
        "errorDetails": {
          "description": "Error details for transfer execution.",
          "$ref": "#/definitions/Error"
        }
      }
    },
    "Error": {
      "description": "Error details for transfer execution.",
      "properties": {
        "errorCode": {
          "type": "string",
          "readOnly": true,
          "description": "Error code."
        },
        "errorMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Error message."
        }
      }
    },
    "EligibleProductType": {
      "type": "string",
      "description": "Type of the products that can be transferred.",
      "enum": [
        "DevTestAzureSubscription",
        "StandardAzureSubscription",
        "AzureReservation"
      ],
      "x-ms-enum": {
        "name": "eligibleProductType",
        "modelAsString": true
      }
    },
    "TransferProperties": {
      "description": "Transfer details",
      "type": "object",
      "properties": {
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Transfer creation time.",
          "readOnly": true
        },
        "expirationTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Transfer expiration time."
        },
        "invoiceSectionId": {
          "type": "string",
          "description": "Target invoice setion Id.",
          "readOnly": true
        },
        "billingAccountId": {
          "type": "string",
          "description": "Target billing account Id.",
          "readOnly": true
        },
        "transferStatus": {
          "type": "string",
          "$ref": "#/definitions/TransferStatus",
          "description": "Overall transfer status.",
          "readOnly": true
        },
        "recipientEmailId": {
          "type": "string",
          "readOnly": true,
          "description": "Email Id of recipient of transfer."
        },
        "initiatorEmailId": {
          "type": "string",
          "readOnly": true,
          "description": "Email Id of initiator of transfer."
        },
        "canceledBy": {
          "type": "string",
          "readOnly": true,
          "description": "Email Id who user canceled the transfer."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Transfer last modification time."
        },
        "detailedTransferStatus": {
          "type": "array",
          "readOnly": true,
          "description": "Detailed transfer status.",
          "items": {
            "$ref": "#/definitions/DetailedTransferStatus"
          }
        }
      }
    },
    "RecipientTransferProperties": {
      "description": "Transfer Details.",
      "type": "object",
      "properties": {
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Transfer creation time.",
          "readOnly": true
        },
        "expirationTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Transfer expiration time."
        },
        "allowedProductType": {
          "type": "array",
          "readOnly": true,
          "description": "Type of subscriptions that can be transferred.",
          "items": {
            "$ref": "#/definitions/EligibleProductType"
          }
        },
        "transferStatus": {
          "type": "string",
          "$ref": "#/definitions/TransferStatus",
          "description": "Overall transfer status.",
          "readOnly": true
        },
        "recipientEmailId": {
          "type": "string",
          "readOnly": true,
          "description": "Email Id of recipient of transfer."
        },
        "initiatorEmailId": {
          "type": "string",
          "readOnly": true,
          "description": "Email Id of initiator of transfer."
        },
        "canceledBy": {
          "type": "string",
          "readOnly": true,
          "description": "Email Id who user canceled the transfer."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Transfer last modification time."
        },
        "detailedTransferStatus": {
          "type": "array",
          "readOnly": true,
          "description": "Detailed transfer status.",
          "items": {
            "$ref": "#/definitions/DetailedTransferStatus"
          }
        }
      }
    },
    "TransferStatus": {
      "type": "string",
      "description": "Possible transfer status.",
      "enum": [
        "Pending",
        "InProgress",
        "Completed",
        "CompletedWithErrors",
        "Failed",
        "Canceled",
        "Declined"
      ],
      "x-ms-enum": {
        "name": "transferStatus",
        "modelAsString": true
      }
    },
    "ProductTransferStatus": {
      "type": "string",
      "description": "Possible transfer status.",
      "enum": [
        "NotStarted",
        "InProgress",
        "Completed",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "productTransferStatus",
        "modelAsString": true
      }
    },
    "RecipientTransferDetailsListResult": {
      "description": "Result of listing details of the transfer received by caller.",
      "properties": {
        "value": {
          "description": "The list of transfers received by caller.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/RecipientTransferDetails"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "TransferDetailsListResult": {
      "description": "Result of listing details of the transfer initiated by caller.",
      "properties": {
        "value": {
          "description": "The list of transfers initiated by caller.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/TransferDetails"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request. The current version is 2018-03-01-preview."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Azure Subscription ID.",
      "required": true,
      "type": "string"
    },
    "BillingAccountIdParameter": {
      "name": "billingAccountId",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Billing account Id."
    },
    "InvoiceSectionIdParameter": {
      "name": "invoiceSectionId",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Invoice section Id."
    },
    "TransferIdParameter": {
      "name": "transferId",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Transfer Id."
    },
    "InitiateTransferRequestParameter": {
      "name": "body",
      "x-ms-parameter-location": "method",
      "in": "body",
      "required": true,
      "description": "Initiate transfer parameters.",
      "schema": {
        "$ref": "#/definitions/InitiateTransferRequest"
      }
    },
    "AcceptTransferRequestParameter": {
      "name": "body",
      "x-ms-parameter-location": "method",
      "in": "body",
      "required": true,
      "description": "Accept transfer parameters.",
      "schema": {
        "$ref": "#/definitions/AcceptTransferRequest"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}