{
  "swagger": "2.0",
  "info": {
    "version": "2018-08-01-preview",
    "title": "BillingManagementClient",
    "description": "Billing client provides access to billing resources for Azure subscriptions."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/providers/Microsoft.Billing/permissions": {
        "get": {
          "tags": [
            "Permissions"
          ],
          "x-ms-examples": {
            "BillingAccountPermissionsList": {
              "$ref": "./examples/BillingAccountPermissionsList.json"
            }
          },
          "operationId": "BillingAccountPermissions_List",
          "description": "Lists all permissions for the caller has for a billing account.",
          "parameters": [
            {
              "$ref": "#/parameters/apiVersionParameter"
            },
            {
              "$ref": "#/parameters/billingAccountNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK. The request has succeeded.",
              "schema": {
                "$ref": "#/definitions/PermissionsListResult"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
          }   
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/projects/{projectName}/providers/Microsoft.Billing/permissions": {
          "get": {
            "tags": [
              "Permissions"
            ],
            "x-ms-examples": {
                "ProjectPermissionsList": {
                    "$ref": "./examples/ProjectPermissionsList.json"
                }
            },
            "operationId": "ProjectPermissions_List",
            "description": "Lists all permissions for the caller has for a billing account.",
            "parameters": [
              {
                "$ref": "#/parameters/apiVersionParameter"
              },
              {
                "$ref": "#/parameters/billingAccountNameParameter"
              },
              {
                "$ref": "#/parameters/projectNameParameter"
              }
            ],
            "responses": {
              "200": {
                "description": "OK. The request has succeeded.",
                "schema": {
                  "$ref": "#/definitions/PermissionsListResult"
                }
              },
              "default": {
                "description": "Error response describing why the operation failed.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
          }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Billing/permissions": {
          "get": {
            "tags": [
              "Permissions"
            ],
            "x-ms-examples": {
                "BillingProfilePermissionsList": {
                    "$ref": "./examples/BillingProfilePermissionsList.json"
                }
            },
            "operationId": "BillingProfilePermissions_List",
            "description": "Lists all permissions for the caller has for a billing account.",
            "parameters": [
              {
                "$ref": "#/parameters/apiVersionParameter"
              },
              {
                "$ref": "#/parameters/billingAccountNameParameter"
              },
              {
                "$ref": "#/parameters/billingProfileNameParameter"
              }
            ],
            "responses": {
              "200": {
                "description": "OK. The request has succeeded.",
                "schema": {
                  "$ref": "#/definitions/PermissionsListResult"
                }
              },
              "default": {
                "description": "Error response describing why the operation failed.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
          }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/providers/Microsoft.Billing/roleDefinitions/{roleDefinitionId}": {
        "get": {
            "tags": [
              "RoleDefinition"
            ],
            "x-ms-examples": {
                "BillingAccountRoleDefinition": {
                    "$ref": "./examples/BillingAccountRoleDefinition.json"
                }
            },
            "operationId": "BillingAccountRoleDefinition_Get",
            "description": "Gets the role definition for a role",
            "parameters": [
              {
                "$ref": "#/parameters/apiVersionParameter"
              },
              {
                "$ref": "#/parameters/billingAccountNameParameter"
              },
              {
                "$ref": "#/parameters/roleDefinitionIdParameter"
              }
            ],
            "responses": {
              "200": {
                "description": "OK. The request has succeeded.",
                "schema": {
                  "$ref": "#/definitions/RoleDefinition"
                }
              },
              "default": {
                "description": "Error response describing why the operation failed.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
            }   
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/projects/{projectName}/providers/Microsoft.Billing/roleDefinitions/{roleDefinitionId}": {
        "get": {
            "tags": [
              "RoleDefinition"
            ],
            "x-ms-examples": {
                "ProjectRoleDefinition": {
                    "$ref": "./examples/ProjectRoleDefinition.json"
                }
            },
            "operationId": "ProjectRoleDefinition_Get",
            "description": "Gets the role definition for a role",
            "parameters": [
              {
                "$ref": "#/parameters/apiVersionParameter"
              },
              {
                "$ref": "#/parameters/billingAccountNameParameter"
              },
              {
                "$ref": "#/parameters/projectNameParameter"
              },
              {
                "$ref": "#/parameters/roleDefinitionIdParameter"
              }
            ],
            "responses": {
              "200": {
                "description": "OK. The request has succeeded.",
                "schema": {
                  "$ref": "#/definitions/RoleDefinition"
                }
              },
              "default": {
                "description": "Error response describing why the operation failed.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
        }   
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Billing/roleDefinitions/{roleDefinitionId}": {
        "get": {
            "tags": [
              "RoleDefinition"
            ],
            "x-ms-examples": {
                "BillingProfileRoleDefinition": {
                    "$ref": "./examples/BillingProfileRoleDefinition.json"
                }
            },
            "operationId": "BillingProfileRoleDefinition_Get",
            "description": "Gets the role definition for a role",
            "parameters": [
              {
                "$ref": "#/parameters/apiVersionParameter"
              },
              {
                "$ref": "#/parameters/billingAccountNameParameter"
              },
              {
                "$ref": "#/parameters/billingProfileNameParameter"
              },
              {
                "$ref": "#/parameters/roleDefinitionIdParameter"
              }
            ],
            "responses": {
              "200": {
                "description": "OK. The request has succeeded.",
                "schema": {
                  "$ref": "#/definitions/RoleDefinition"
                }
              },
              "default": {
                "description": "Error response describing why the operation failed.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
        }   
    },   
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/providers/Microsoft.Billing/roleDefinitions": {
        "get": {
            "tags": [
              "RoleDefinition"
            ],
            "x-ms-examples": {
                "BillingAccountRoleDefinitionsList": {
                    "$ref": "./examples/BillingAccountRoleDefinitionsList.json"
                }
            },
            "operationId": "BillingAccountRoleDefinition_List",
            "description": "Lists the role definition for a billing account",
            "parameters": [
              {
                "$ref": "#/parameters/apiVersionParameter"
              },
              {
                "$ref": "#/parameters/billingAccountNameParameter"
              }
            ],
            "responses": {
              "200": {
                "description": "OK. The request has succeeded.",
                "schema": {
                  "$ref": "#/definitions/RoleDefinitionListResult"
                }
              },
              "default": {
                "description": "Error response describing why the operation failed.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
        }   
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/projects/{projectName}/providers/Microsoft.Billing/roleDefinitions": {
        "get": {
            "tags": [
              "RoleDefinition"
            ],
            "x-ms-examples": {
                "ProjectRoleDefinitionsList": {
                    "$ref": "./examples/ProjectRoleDefinitionsList.json"
                }
            },
            "operationId": "ProjectRoleDefinition_List",
            "description": "Lists the role definition for a project",
            "parameters": [
              {
                "$ref": "#/parameters/apiVersionParameter"
              },
              {
                "$ref": "#/parameters/billingAccountNameParameter"
              },
              {
                  "$ref": "#/parameters/projectNameParameter"
              }
            ],
            "responses": {
              "200": {
                "description": "OK. The request has succeeded.",
                "schema": {
                  "$ref": "#/definitions/RoleDefinitionListResult"
                }
              },
              "default": {
                "description": "Error response describing why the operation failed.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
        }   
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Billing/roleDefinitions": {
        "get": {
            "tags": [
              "RoleDefinition"
            ],
            "x-ms-examples": {
                "BillingProfileRoleDefinitionsList": {
                    "$ref": "./examples/BillingProfileRoleDefinitionsList.json"
                }
            },
            "operationId": "BillingProfileRoleDefinition_List",
            "description": "Lists the role definition for a Billing Profile",
            "parameters": [
              {
                "$ref": "#/parameters/apiVersionParameter"
              },
              {
                "$ref": "#/parameters/billingAccountNameParameter"
              },
              {
                  "$ref": "#/parameters/billingProfileNameParameter"
              }
            ],
            "responses": {
              "200": {
                "description": "OK. The request has succeeded.",
                "schema": {
                  "$ref": "#/definitions/RoleDefinitionListResult"
                }
              },
              "default": {
                "description": "Error response describing why the operation failed.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
        }   
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/providers/Microsoft.Billing/roleAssignments/{roleAssignmentId}": {
        "get": {
            "tags": [
              "RoleAssignment"
            ],
            "x-ms-examples": {
                "BillingAccountRoleAssignment": {
                    "$ref": "./examples/BillingAccountRoleAssignment.json"
                }
            },
            "operationId": "BillingAccountRoleAssignment_Get",
            "description": "Get the role assignment for the caller",
            "parameters": [
              {
                "$ref": "#/parameters/apiVersionParameter"
              },
              {
                "$ref": "#/parameters/billingAccountNameParameter"
              },
              {
                "$ref": "#/parameters/roleAssignmentIdParameter"
              }
            ],
            "responses": {
              "200": {
                "description": "OK. The request has succeeded.",
                "schema": {
                  "$ref": "#/definitions/RoleAssignment"
                }
              },
              "default": {
                "description": "Error response describing why the operation failed.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
        },
        "delete":{
            "tags": [
              "RoleAssignment"
            ],
            "x-ms-examples": {
                "BillingAccountRoleAssignmentDelete": {
                    "$ref": "./examples/BillingAccountRoleAssignmentDelete.json"
                }
            },
            "operationId": "BillingAccountRoleAssignment_Delete",
            "description": "Delete the role assignment on this billing account",
            "parameters": [
              {
                "$ref": "#/parameters/apiVersionParameter"
              },
              {
                "$ref": "#/parameters/billingAccountNameParameter"
              },
              {
                "$ref": "#/parameters/roleAssignmentIdParameter"
              }
            ],
            "responses": {
              "200": {
                "description": "OK. The request has succeeded.",
                "schema": {
                    "$ref": "#/definitions/RoleAssignment"
                }
              },
              "default": {
                "description": "Error response describing why the operation failed.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
        }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/projects/{projectName}/providers/Microsoft.Billing/roleAssignments/{roleAssignmentId}": {
        "get": {
            "tags": [
              "RoleAssignment"
            ],
            "x-ms-examples": {
                "ProjectRoleAssignment": {
                    "$ref": "./examples/ProjectRoleAssignment.json"
                }
            },
            "operationId": "ProjectRoleAssignment_Get",
            "description": "Get the role assignment for the caller on the Project",
            "parameters": [
              {
                "$ref": "#/parameters/apiVersionParameter"
              },
              {
                "$ref": "#/parameters/billingAccountNameParameter"
              },
              {
                "$ref": "#/parameters/projectNameParameter"
              },
              {
                "$ref": "#/parameters/roleAssignmentIdParameter"
              }
            ],
            "responses": {
              "200": {
                "description": "OK. The request has succeeded.",
                "schema": {
                  "$ref": "#/definitions/RoleAssignment"
                }
              },
              "default": {
                "description": "Error response describing why the operation failed.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
        },
        "delete":{
            "tags": [
              "RoleAssignment"
            ],
            "x-ms-examples": {
                "ProjectRoleAssignmentDelete": {
                    "$ref": "./examples/ProjectRoleAssignmentDelete.json"
                }
            },
            "operationId": "ProjectRoleAssignment_Delete",
            "description": "Delete the role assignment on this project",
            "parameters": [
              {
                "$ref": "#/parameters/apiVersionParameter"
              },
              {
                "$ref": "#/parameters/billingAccountNameParameter"
              },
              {
                "$ref": "#/parameters/projectNameParameter"
              },
              {
                "$ref": "#/parameters/roleAssignmentIdParameter"
              }
            ],
            "responses": {
              "200": {
                "description": "OK. The request has succeeded.",
                "schema": {
                  "$ref": "#/definitions/RoleAssignment"
                }
              },
              "default": {
                "description": "Error response describing why the operation failed.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
        }   
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Billing/roleAssignments/{roleAssignmentId}": {
        "get": {
            "tags": [
              "RoleAssignment"
            ],
            "x-ms-examples": {
                "BillingProfileRoleAssignment": {
                    "$ref": "./examples/BillingProfileRoleAssignment.json"
                }
            },
            "operationId": "BillingProfileRoleAssignment_Get",
            "description": "Get the role assignment for the caller on the Billing Profile",
            "parameters": [
              {
                "$ref": "#/parameters/apiVersionParameter"
              },
              {
                "$ref": "#/parameters/billingAccountNameParameter"
              },
              {
                "$ref": "#/parameters/billingProfileNameParameter"
              },
              {
                "$ref": "#/parameters/roleAssignmentIdParameter"
              }
            ],
            "responses": {
              "200": {
                "description": "OK. The request has succeeded.",
                "schema": {
                  "$ref": "#/definitions/RoleAssignment"
                }
              },
              "default": {
                "description": "Error response describing why the operation failed.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
        },
        "delete":{
            "tags": [
              "RoleAssignment"
            ],
            "x-ms-examples": {
                "BillingProfileRoleAssignmentDelete": {
                    "$ref": "./examples/BillingProfileRoleAssignmentDelete.json"
                }
            },
            "operationId": "BillingProfileRoleAssignment_Delete",
            "description": "Delete the role assignment on this Billing Profile",
            "parameters": [
              {
                "$ref": "#/parameters/apiVersionParameter"
              },
              {
                "$ref": "#/parameters/billingAccountNameParameter"
              },
              {
                "$ref": "#/parameters/billingProfileNameParameter"
              },
              {
                "$ref": "#/parameters/roleAssignmentIdParameter"
              }
            ],
            "responses": {
              "200": {
                "description": "OK. The request has succeeded.",
                "schema": {
                  "$ref": "#/definitions/RoleAssignment"
                }
              },
              "default": {
                "description": "Error response describing why the operation failed.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
        }        
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/providers/Microsoft.Billing/roleAssignments":
    {
        "get": {
            "tags": [
              "RoleAssignment"
            ],
            "x-ms-examples": {
                "BillingAccountRoleAssignmentList": {
                    "$ref": "./examples/BillingAccountRoleAssignmentList.json"
                }
            },
            "operationId": "BillingAccountRoleAssignment_List",
            "description": "Get the role assignments on the Billing Account",
            "parameters": [
              {
                "$ref": "#/parameters/apiVersionParameter"
              },
              {
                "$ref": "#/parameters/billingAccountNameParameter"
              }
            ],
            "responses": {
                "200": {
                    "description": "OK. The request has succeeded.",
                    "schema": {
                        "$ref": "#/definitions/RoleAssignmentListResult"
                    }
                },
                "default": {
                    "description": "Error response describing why the operation failed.",
                    "schema": {
                        "$ref": "#/definitions/ErrorResponse"
                    }
                }
            }
        },
        "post": {
            "tags": [
              "RoleAssignment"
            ],
            "operationId": "BillingAccountRoleAssignment_Add",
            "description": "The operation to add a role assignment to a billing account.",
            "x-ms-examples": {
                "AddRoleAssignmentToBillingAccount": {
                    "$ref": "./examples/AddRoleAssignmentToBillingAccount.json"
                }
            },
            "parameters": [
              {
                "$ref": "#/parameters/apiVersionParameter"
              },
              {
                "$ref": "#/parameters/billingAccountNameParameter"
              },
              {
                "name": "parameters",
                "in": "body",
                "required": true,
                "schema": {
                  "$ref": "#/definitions/RoleAssignmentPayload"
                },
                "description": "Parameters supplied to add a role assginment."
              }
            ],
            "responses": {
              "201": {
                "description": "Role assignment is successfully created",
                "schema": {
                  "$ref": "#/definitions/RoleAssignmentListResult"
                }
              },
              "default": {
                "description": "Error response describing why the operation failed.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
        }   
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/projects/{projectName}/providers/Microsoft.Billing/roleAssignments":
    {
        "get": {
            "tags": [
              "RoleAssignment"
            ],
            "x-ms-examples": {
                "ProjectRoleAssignmentList": {
                    "$ref": "./examples/ProjectRoleAssignmentList.json"
                }
            },
            "operationId": "ProjectRoleAssignment_List",
            "description": "Get the role assignments on the Project",
            "parameters": [
              {
                "$ref": "#/parameters/apiVersionParameter"
              },
              {
                "$ref": "#/parameters/billingAccountNameParameter"
              },
              {
                "$ref": "#/parameters/projectNameParameter"
              }
            ],
            "responses": {
              "200": {
                "description": "OK. The request has succeeded.",
                "schema": {
                    "$ref": "#/definitions/RoleAssignmentListResult"
                }
              },
              "default": {
                "description": "Error response describing why the operation failed.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
        },
        "post": {
            "tags": [
              "RoleAssignment"
            ],
            "operationId": "ProjectRoleAssignment_Add",
            "description": "The operation to add a role assignment to a project.",
            "x-ms-examples": {
                "AddRoleAssignmentToProject": {
                    "$ref": "./examples/AddRoleAssignmentToProject.json"
                }
            },
            "parameters": [
              {
                "$ref": "#/parameters/apiVersionParameter"
              },
              {
                "$ref": "#/parameters/billingAccountNameParameter"
              },
              {
                "$ref": "#/parameters/projectNameParameter"
              },
              {
                "name": "parameters",
                "in": "body",
                "required": true,
                "schema": {
                  "$ref": "#/definitions/RoleAssignmentPayload"
                },
                "description": "Parameters supplied to add a role assginment."
              }
            ],
            "responses": {
              "201": {
                "description": "Role assignment is successfully created",
                "schema": {
                  "$ref": "#/definitions/RoleAssignmentListResult"
                }
              },
              "default": {
                "description": "Error response describing why the operation failed.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
        }    
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Billing/roleAssignments":
    {
        "get": {
            "tags": [
              "RoleAssignment"
            ],
            "x-ms-examples": {
                "BillingProfileRoleAssignmentList": {
                    "$ref": "./examples/BillingProfileRoleAssignmentList.json"
                }
            },
            "operationId": "BillingProfileRoleAssignment_List",
            "description": "Get the role assignments on the Billing Profile",
            "parameters": [
              {
                "$ref": "#/parameters/apiVersionParameter"
              },
              {
                "$ref": "#/parameters/billingAccountNameParameter"
              },
              {
                "$ref": "#/parameters/billingProfileNameParameter"
              }
            ],
            "responses": {
              "200": {
                "description": "OK. The request has succeeded.",
                "schema": {
                  "$ref": "#/definitions/RoleAssignmentListResult"
                }
              },
              "default": {
                "description": "Error response describing why the operation failed.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
        },
        "post": {
            "tags": [
              "RoleAssignment"
            ],
            "operationId": "BillingProfileRoleAssignment_Add",
            "description": "The operation to add a role assignment to a billing profile.",
            "x-ms-examples": {
                "AddRoleAssignmentToBillingProfile": {
                    "$ref": "./examples/AddRoleAssignmentToBillingProfile.json"
                }
            },
            "parameters": [
              {
                "$ref": "#/parameters/apiVersionParameter"
              },
              {
                "$ref": "#/parameters/billingAccountNameParameter"
              },
              {
                "$ref": "#/parameters/billingProfileNameParameter"
              },
              {
                "name": "parameters",
                "in": "body",
                "required": true,
                "schema": {
                  "$ref": "#/definitions/RoleAssignmentPayload"
                },
                "description": "Parameters supplied to add a role assginment."
              }
            ],
            "responses": {
              "201": {
                "description": "Role assignment is successfully created",
                "schema": {
                    "$ref": "#/definitions/RoleAssignmentListResult"
                }
              },
              "default": {
                "description": "Error response describing why the operation failed.",
                "schema": {
                  "$ref": "#/definitions/ErrorResponse"
                }
              }
            }
        } 
    }
  },
  "definitions": {
    "RoleAssignmentPayload":{
        "description": "The payload use to update role assignment on a scope",
        "properties":{
            "principalId": {
                "description": "The user's principal id that the role gets assigned to",
                "type": "string",
                "readOnly": true
            },
            "roleDefinitionId": {
              "description": "The role defintion id",
              "type": "string",
              "readOnly": true
            }
        }
    },
    "RoleAssignmentListResult":{
        "description": "Result of get list of role assignments",
        "properties": {
            "value":{
                "description": "The list role assignments",
                "type": "array",
                "readOnly": true,
                "items": {
                    "$ref": "#/definitions/RoleAssignment"
                }
            }
        }
    },
    "RoleAssignment":{
        "description": "a role assignment",
        "type": "object",
        "allOf": [
            {
              "$ref": "#/definitions/Resource"
            }
        ],
        "properties": {
            "properties":{
            "description": "The role assignment the caller has",
            "x-ms-client-flatten": true,
            "$ref": "#/definitions/RoleAssignmentProperties"
            }
        }
    },
    "RoleAssignmentProperties":{
        "description": "The properties of the a role assignment.",
        "properties": {
          "createdOn": {
            "description": "the date the role assignment is created",
            "type": "string",
            "readOnly": true
          },
          "createdByPrincipalTenantId": {
            "description": "the creator's tenant Id",
            "type": "string",
            "readOnly": true
          },
          "createdByPrincipalId": {
            "description": "the creator's principal Id",
            "type": "string",
            "readOnly": true
          },
          "name": {
            "description": "the name of the role assignment",
            "type": "string",
            "readOnly": true
          },
          "principalId": {
              "description": "The user's principal id that the role gets assigned to",
              "type": "string",
              "readOnly": true
          },
          "roleDefinitionId": {
            "description": "The role defintion id",
            "type": "string",
            "readOnly": true
          },
          "scope": {
            "description": "The scope the role get assigned to",
            "type": "string",
            "readOnly": true
          }
        }
    },
    "RoleDefinitionListResult":{
        "description": "list the role definitions.",
        "properties": {
            "value": {
                "description": "The list of role definitions.",
                "type": "array",
                "readOnly": true,
                "items": {
                  "$ref": "#/definitions/RoleDefinition"
                }
            }
        }
    },
    "RoleDefinition":{
        "description": "Result of get role definition for a role.",
        "type": "object",
        "allOf": [
            {
              "$ref": "#/definitions/Resource"
            }
        ],
        "properties": {
            "properties":{
            "description": "The role definition for a role.",
            "x-ms-client-flatten": true,
            "$ref": "#/definitions/RoleDefinitionProperties"
            }
        }
    },
    "RoleDefinitionProperties":{
        "description": "The properties of the a role definition.",
        "properties": {
          "description": {
            "description": "The role description",
            "type": "string",
            "readOnly": true
          },
            "permissions": {
                "description": "The permissions the role has",
                "x-ms-client-flatten": true,
                "$ref": "#/definitions/PermissionsListResult"
            },
          "roleName": {
              "description": "The name of the role",
              "type": "string",
              "readOnly": true
          }
        }
    },
    "PermissionsListResult": {
        "description": "Result of list permissions a caller has on a billing account.",
        "properties": {
          "value": {
            "description": "The list OF permissions a caller has on a billing account.",
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "#/definitions/Permissions"
            }
          }
        } 
      },
    "Permissions": {
        "description": "The set of allowed action and not allowed actions a caller has on a billing account",
        "type":  "object",
        "properties": {
          "actions": {
            "description": "The set of actions that the caller is allowed to do",
            "type": "array",
            "readOnly":  true,
            "items": {
                "$ref": "#/definitions/Action"
            }
          },
            "notActions": {
                "description": "The set of actions the caller is not allowed to do",
                "type": "array",
                "readOnly": true,
                "items": {
                    "$ref": "#/definitions/NotAction"
                }
            }
        }
    },
    "Action": {
        "description": "the action the caller allowed to do",
        "type": "string",
        "readOnly": true
    },
    "NotAction": {
        "description": "the action the caller doesn't allowed to do",
        "type": "string",
        "readOnly": true
    },
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "x-ms-azure-resource": true
    },
    "ErrorDetails": {
        "description": "The details of the error.",
        "properties": {
          "code": {
            "description": "Error code.",
            "type": "string",
            "readOnly": true
          },
          "message": {
            "description": "Error message indicating why the operation failed.",
            "type": "string",
            "readOnly": true
          },
          "target": {
            "description": "The target of the particular error.",
            "type": "string",
            "readOnly": true
          }
        }
      },
      "ErrorResponse": {
        "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
        "type": "object",
        "properties": {
          "error": {
            "description": "The details of the error.",
            "$ref": "#/definitions/ErrorDetails"
          }
        }
    }
  },
  "parameters": {
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request. The current version is 2018-03-01-preview."
    },
    "billingAccountNameParameter": {
          "name": "billingAccountName",
          "in": "path",
          "description": "billing Account name.",
          "required": true,
          "type": "string",
          "x-ms-parameter-location": "method"
      },
    "billingProfileNameParameter": {
        "name": "billingProfileName",
        "in": "path",
        "description": "Billing Profile Name.",
        "required": true,
        "type": "string",
        "x-ms-parameter-location": "method"
    },
    "projectNameParameter": {
          "name": "projectName",
          "in": "path",
          "description": "Project name.",
          "required": true,
          "type": "string",
          "x-ms-parameter-location": "method"
    },
    "roleDefinitionIdParameter": {
        "name": "roleDefinitionId",
        "in": "path",
        "description": "role definition id.",
        "required": true,
        "type": "string",
        "x-ms-parameter-location": "method"
    },
    "roleAssignmentIdParameter": {
        "name": "roleAssignmentId",
        "in": "path",
        "description": "role assignment id.",
        "required": true,
        "type": "string",
        "x-ms-parameter-location": "method"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}