{
  "swagger": "2.0",
  "info": {
    "version": "2018-08-01-preview",
    "title": "BillingManagementClient",
    "description": "Billing client provides access to billing resources for Azure subscriptions."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Billing/enrollmentAccounts": {
      "get": {
        "tags": [
          "EnrollmentAccounts"
        ],
        "x-ms-examples": {
          "EnrollmentAccountsList": {
            "$ref": "./examples/EnrollmentAccountsList.json"
          }
        },
        "operationId": "EnrollmentAccounts_List",
        "description": "Lists the enrollment accounts the caller has access to.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EnrollmentAccountListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/enrollmentAccounts/{name}": {
      "get": {
        "tags": [
          "EnrollmentAccounts"
        ],
        "x-ms-examples": {
          "EnrollmentAccountsGet": {
            "$ref": "./examples/EnrollmentAccountsGet.json"
          }
        },
        "operationId": "EnrollmentAccounts_Get",
        "description": "Gets a enrollment account by name.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Enrollment Account name.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EnrollmentAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods": {
      "get": {
        "tags": [
          "BillingPeriods"
        ],
        "operationId": "BillingPeriods_List",
        "description": "Lists the available billing periods for a subscription in reverse chronological order. This is only supported for Azure Web-Direct subscriptions. Other subscription types which were not purchased directly through the Azure web portal are not supported through this preview API.",
        "externalDocs": {
          "url": "https://go.microsoft.com/fwlink/?linkid=844490"
        },
        "x-ms-examples": {
          "BillingPeriodsList": {
            "$ref": "./examples/BillingPeriodsList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$filter",
            "description": "May be used to filter billing periods by billingPeriodEndDate. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "description": "May be used to limit the number of results to the most recent N billing periods.",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingPeriodsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}": {
      "get": {
        "tags": [
          "BillingPeriods"
        ],
        "operationId": "BillingPeriods_Get",
        "description": "Gets a named billing period.  This is only supported for Azure Web-Direct subscriptions. Other subscription types which were not purchased directly through the Azure web portal are not supported through this preview API.",
        "x-ms-examples": {
          "BillingPeriodsGet": {
            "$ref": "./examples/BillingPeriodsGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingPeriodName",
            "description": "The name of a BillingPeriod resource.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingPeriod"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "operationId": "Invoices_List",
        "description": "Lists the available invoices for a subscription in reverse chronological order beginning with the most recent invoice. In preview, invoices are available via this API only for invoice periods which end December 1, 2016 or later.  This is only supported for Azure Web-Direct subscriptions. Other subscription types which were not purchased directly through the Azure web portal are not supported through this preview API.",
        "externalDocs": {
          "url": "https://go.microsoft.com/fwlink/?linkid=842057"
        },
        "x-ms-examples": {
          "InvoicesList": {
            "$ref": "./examples/InvoicesList.json"
          },
          "InvoicesExpand": {
            "$ref": "./examples/InvoicesExpand.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the downloadUrl property within a list of invoices. This enables download links to be generated for multiple invoices at once. By default, downloadURLs are not included when listing invoices.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "May be used to filter invoices by invoicePeriodEndDate. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "description": "May be used to limit the number of results to the most recent N invoices.",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoicesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices/{invoiceName}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "operationId": "Invoices_Get",
        "description": "Gets a named invoice resource. When getting a single invoice, the downloadUrl property is expanded automatically.  This is only supported for Azure Web-Direct subscriptions. Other subscription types which were not purchased directly through the Azure web portal are not supported through this preview API.",
        "x-ms-examples": {
          "InvoicesGet": {
            "$ref": "./examples/InvoicesGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "invoiceName",
            "description": "The name of an invoice resource.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices/latest": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "operationId": "Invoices_GetLatest",
        "description": "Gets the most recent invoice. When getting a single invoice, the downloadUrl property is expanded automatically.  This is only supported for Azure Web-Direct subscriptions. Other subscription types which were not purchased directly through the Azure web portal are not supported through this preview API.",
        "x-ms-examples": {
          "InvoicesGetLatest": {
            "$ref": "./examples/InvoicesGetLatest.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Lists all of the available billing REST API operations.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/projects/{projectId}/initiateImportRequest": {
      "post": {
        "description": "Initiates the request to import the GTM or legacy subscriptions or RIs to GTM.",
        "operationId": "ImportRequest_Initiate",
        "x-ms-examples": {
          "InitiateImportRequest": {
            "$ref": "./examples/InitiateImportRequest.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/BillingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/ProjectIdParameter"
          },
          {
            "$ref": "#/parameters/InitiateImportRequestParameter"
          }
        ],
        "tags": [
          "AIPController"
        ],
        "responses": {
          "200": {
            "description": "Initiated import request details.",
            "schema": {
              "$ref": "#/definitions/ImportRequestDetails"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/projects/{projectId}/importRequests/{importRequestId}": {
      "get": {
        "description": "Gets the import request details for given import request Id.",
        "operationId": "ImportRequest_Get",
        "x-ms-examples": {
          "ImportRequestGet": {
            "$ref": "./examples/GetImportRequest.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/BillingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/ProjectIdParameter"
          },
          {
            "$ref": "#/parameters/ImportRequestIdParameter"
          }
        ],
        "tags": [
          "AIPController"
        ],
        "responses": {
          "200": {
            "description": "Details of import request.",
            "schema": {
                "$ref": "#/definitions/ImportRequestDetails"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Cancels the import request for given import request Id.",
        "operationId": "ImportRequest_Cancel",
        "x-ms-examples": {
          "ImportRequestCancel": {
            "$ref": "./examples/CancelImportRequest.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/BillingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/ProjectIdParameter"
          },
          {
            "$ref": "#/parameters/ImportRequestIdParameter"
          }
        ],
        "tags": [
          "AIPController"
        ],
        "responses": {
          "200": {
            "description": "Details of canceled import request.",
            "schema": {
                "$ref": "#/definitions/ImportRequestDetails"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/projects/{projectId}/importRequests": {
      "get": {
        "description": "Lists all import requests' details initiated from given project.",
        "operationId": "ImportRequests_List",
        "x-ms-examples": {
          "ImportRequestsList": {
            "$ref": "./examples/ListImportRequests.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/BillingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/ProjectIdParameter"
          }
        ],
        "tags": [
          "AIPController"
        ],
        "responses": {
          "200": {
            "description": "List of import requests initiated from this project.",
            "schema": {
              "$ref": "#/definitions/ImportRequestDetailsListResult"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/importRequests/{importRequestId}/acceptImportRequest": {
      "post": {
        "summary": "Accepts the import request with given import request Id.",
        "operationId": "ImportRequest_Accept",
        "x-ms-examples": {
          "AcceptImportRequest": {
            "$ref": "./examples/AcceptImportRequest.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ImportRequestIdParameter"
          },
          {
            "$ref": "#/parameters/AcceptImportRequestParameter"
          }
        ],
        "tags": [
          "AIPController"
        ],
        "responses": {
          "200": {
            "description": "Details of the accepted import request.",
            "schema": {
                "$ref": "#/definitions/RecipientImportRequestDetails"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/importRequests/{importRequestId}/declineImportRequest": {
      "post": {
        "summary": "Declines the import request with given import request Id.",
        "operationId": "ImportRequest_Decline",
        "x-ms-examples": {
          "DeclineImportRequest": {
            "$ref": "./examples/DeclineImportRequest.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ImportRequestIdParameter"
          }
        ],
        "tags": [
          "AIPController"
        ],
        "responses": {
          "200": {
            "description": "Details of the declined import request.",
            "schema": {
                "$ref": "#/definitions/RecipientImportRequestDetails"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/importRequests/{importRequestId}/": {
      "get": {
        "summary": "Gets the import request with given import request Id.",
        "operationId": "RecipientImportRequest_Get",
        "x-ms-examples": {
          "RecipientImportRequestGet": {
            "$ref": "./examples/GetRecipientImportRequest.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ImportRequestIdParameter"
          }
        ],
        "tags": [
          "AIPController"
        ],
        "responses": {
          "200": {
            "description": "Details of the import requests with given Id.",
            "schema": {
                "$ref": "#/definitions/RecipientImportRequestDetails"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/importRequests": {
      "get": {
        "summary": "Lists the import requests received by caller.",
        "operationId": "RecipientImportRequest_List",
        "x-ms-examples": {
          "RecipientImportRequestsList": {
            "$ref": "./examples/ListRecipientImportRequests.json"
          }
        },
        "tags": [
          "AIPController"
        ],
        "responses": {
          "200": {
            "description": "List of import requests received by caller.",
            "schema": {
              "$ref": "#/definitions/RecipientImportRequestDetailsListResult"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "EnrollmentAccount": {
      "description": "An enrollment account resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "An enrollment account.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/EnrollmentAccountProperties"
        }
      }
    },
    "EnrollmentAccountListResult": {
      "description": "Result of listing enrollment accounts.",
      "properties": {
        "value": {
          "description": "The list of enrollment accounts.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/EnrollmentAccount"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "EnrollmentAccountProperties": {
      "description": "The properties of the enrollment account.",
      "properties": {
        "principalName": {
          "description": "The account owner's principal name.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BillingPeriod": {
      "description": "A billing period resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "A billing period.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BillingPeriodProperties"
        }
      }
    },
    "BillingPeriodsListResult": {
      "description": "Result of listing billing periods. It contains a list of available billing periods in reverse chronological order.",
      "properties": {
        "value": {
          "description": "The list of billing periods.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/BillingPeriod"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BillingPeriodProperties": {
      "description": "The properties of the billing period.",
      "properties": {
        "billingPeriodStartDate": {
          "description": "The start of the date range covered by the billing period.",
          "type": "string",
          "format": "date",
          "readOnly": true
        },
        "billingPeriodEndDate": {
          "description": "The end of the date range covered by the billing period.",
          "type": "string",
          "format": "date",
          "readOnly": true
        },
        "invoiceIds": {
          "description": "Array of invoice ids that associated with.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DownloadUrl": {
      "description": "A secure URL that can be used to download a PDF invoice until the URL expires.",
      "properties": {
        "expiryTime": {
          "description": "The time in UTC at which this download URL will expire.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "url": {
          "description": "The URL to the PDF file.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorDetails": {
      "description": "The details of the error.",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "The target of the particular error.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "$ref": "#/definitions/ErrorDetails"
        }
      }
    },
    "Invoice": {
      "description": "An invoice resource can be used download a PDF version of an invoice.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "An invoice.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/InvoiceProperties"
        }
      }
    },
    "InvoicesListResult": {
      "description": "Result of listing invoices. It contains a list of available invoices in reverse chronological order.",
      "properties": {
        "value": {
          "description": "The list of invoices.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Invoice"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "InvoiceProperties": {
      "description": "The properties of the invoice.",
      "properties": {
        "downloadUrl": {
          "description": "A secure link to download the PDF version of an invoice. The link will cease to work after its expiry time is reached.",
          "$ref": "#/definitions/DownloadUrl"
        },
        "invoicePeriodStartDate": {
          "description": "The start of the date range covered by the invoice.",
          "type": "string",
          "format": "date",
          "readOnly": true
        },
        "invoicePeriodEndDate": {
          "description": "The end of the date range covered by the invoice.",
          "type": "string",
          "format": "date",
          "readOnly": true
        },
        "billingPeriodIds": {
          "description": "Array of billing perdiod ids that the invoice is attributed to.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Operation": {
      "description": "A Billing REST API operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}.",
          "type": "string",
          "readOnly": true
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.Billing.",
              "type": "string",
              "readOnly": true
            },
            "resource": {
              "description": "Resource on which the operation is performed: Invoice, etc.",
              "type": "string",
              "readOnly": true
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "OperationListResult": {
      "description": "Result listing billing operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "description": "List of billing operations supported by the Microsoft.Billing resource provider.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of operation list results if there are any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "x-ms-azure-resource": true
    },
    "InitiateImportRequest": {
      "type": "object",
      "description": "Request parameters to initiate import request.",
      "properties": {
        "properties": {
          "description": "Request parameters to initiate import request.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/InitiateImportRequestProperties"
        }
      }
    },
    "InitiateImportRequestProperties": {
      "type": "object",
      "description": "Request parameters to initiate import request.",
      "properties": {
        "devTestUsageContext": {
          "type": "string",
          "description": "Target Usage context for devTest subscriptions."
        },
        "standardUsageContext": {
          "type": "string",
          "description": "Target Usage context for standard subscriptions."
        },
        "recipientEmailId": {
          "type": "string",
          "description": "Email Id of recipient for import request."
        }
      }
    },
    "AcceptImportRequest": {
      "type": "object",
      "description": "Request parameters to accept import request.",
      "properties": {
        "properties": {
          "description": "Request parameters to accept import request.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AcceptImportRequestProperties"
        }
      }
    },
    "AcceptImportRequestProperties": {
      "type": "object",
      "description": "Request parameters to accept import request.",
      "properties": {
        "productDetails": {
          "description": "Request parameters to accept import request.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductDetails"
          }
        }
      }
    },
    "ProductDetails": {
      "type": "object",
      "description": "Details of the product to be imported.",
      "properties": {
        "productType": {
          "description": "Type of the prouct to be imported.",
          "$ref": "#/definitions/ProductType"
        },
        "productId": {
          "type": "string",
          "description": "Id of product to be imported."
        }
      }
    },
    "ProductType": {
      "type": "string",
      "description": "Type of the product to be imported.",
      "enum": [
        "Subscription",
        "ReservedInstance"
      ],
      "x-ms-enum": {
        "name": "productType",
        "modelAsString": true
      }
    },
    "ImportRequestDetails": {
      "type": "object",
      "description": "Details of the import request.",
      "properties": {
        "properties": {
          "description": "Details of the import request.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ImportRequestProperties"
        }
      }
    },
    "RecipientImportRequestDetails": {
      "type": "object",
      "description": "Details of the import request.",
      "properties": {
        "properties": {
          "description": "Details of the import request.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RecipientImportRequestProperties"
        }
      }
    },
    "ExtendedImportRequestStatus": {
      "type": "object",
      "description": "Detailed import request status.",
      "properties": {
        "productType": {
          "type": "string",
          "readOnly": true,
          "description": "Type of product being imported."
        },
        "productId": {
          "type": "string",
          "readOnly": true,
          "description": "Id of product being imported."
        },
        "importRequestStatus": {
          "type": "string",
          "readOnly": true,
          "description": "Import request status."
        },
        "errorDetails": {
          "description": "Error details for import request execution.",
          "$ref": "#/definitions/Error"
        }
      }
    },
    "Error": {
      "description": "Error details for import request execution.",
      "properties": {
        "errorCode": {
          "type": "string",
          "readOnly": true,
          "description": "Error code."
        },
        "errorMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Error message."
        }
      }
    },
    "SubscriptionType": {
      "type": "string",
      "description": "Type of the subscriptions that can be imported.",
      "enum": [
        "DevTest",
        "Standard"
      ],
      "x-ms-enum": {
        "name": "subscriptionType",
        "modelAsString": true
      }
    },
    "ImportRequestProperties": {
      "description": "Import request details",
      "type": "object",
      "properties": {
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Import request creation time.",
          "readOnly": true
        },
        "expirationTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Import request expiration time."
        },
        "projectId": {
          "type": "string",
          "description": "Target project Id.",
          "readOnly": true
        },
        "billingAccountId": {
          "type": "string",
          "description": "Target billing account Id.",
          "readOnly": true
        },
        "devTestUsageContext": {
          "type": "string",
          "readOnly": true,
          "description": "Target usage context for dev-test  susbcriptions."
        },
        "standardUsageContext": {
          "type": "string",
          "description": "Target usage context for standard subscriptions.",
          "readOnly": true
        },
        "importRequestStatus": {
          "type": "string",
          "description": "Overall import request status.",
          "readOnly": true
        },
        "recipientEmailId": {
          "type": "string",
          "readOnly": true,
          "description": "Email Id of recipient of import request."
        },
        "initiatorEmailId": {
          "type": "string",
          "readOnly": true,
          "description": "Email Id of initiator of import request."
        },
        "canceledBy": {
          "type": "string",
          "readOnly": true,
          "description": "Email Id who user canceled the import request."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Import request last modification time."
        },
        "extendedImportRequestStatus": {
          "type": "array",
          "readOnly": true,
          "description": "Detailed import request status.",
          "items": {
            "$ref": "#/definitions/ExtendedImportRequestStatus"
          }
        }
      }
    },
    "RecipientImportRequestProperties": {
      "description": "Import request Details.",
      "type": "object",
      "properties": {
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Import request creation time.",
          "readOnly": true
        },
        "expirationTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Import request expiration time."
        },
        "allowedSubscriptionType": {
          "type": "array",
          "readOnly": true,
          "description": "Type of subscriptions that can be imported.",
          "items": {
            "$ref": "#/definitions/SubscriptionType"
          }
        },
        "importRequestStatus": {
          "type": "string",
          "description": "Overall import request status.",
          "readOnly": true
        },
        "recipientEmailId": {
          "type": "string",
          "readOnly": true,
          "description": "Email Id of recipient of import request."
        },
        "initiatorEmailId": {
          "type": "string",
          "readOnly": true,
          "description": "Email Id of initiator of import request."
        },
        "canceledBy": {
          "type": "string",
          "readOnly": true,
          "description": "Email Id who user canceled the import request."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Import request last modification time."
        },
        "extendedImportRequestStatus": {
          "type": "array",
          "readOnly": true,
          "description": "Detailed import request status.",
          "items": {
            "$ref": "#/definitions/ExtendedImportRequestStatus"
          }
        }
      }
    },
    "RecipientImportRequestDetailsListResult": {
      "description": "Result of listing details of the import request received by caller.",
      "properties": {
        "value": {
          "description": "The list of import requests received by caller.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/RecipientImportRequestDetails"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ImportRequestDetailsListResult": {
      "description": "Result of listing details of the import request initiated by caller.",
      "properties": {
        "value": {
          "description": "The list of import requests initiated by caller.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ImportRequestDetails"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request. The current version is 2018-03-01-preview."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Azure Subscription ID.",
      "required": true,
      "type": "string"
    },
    "BillingAccountIdParameter": {
      "name": "billingAccountId",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Billing account Id."
    },
    "ProjectIdParameter": {
      "name": "projectId",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Project Id."
    },
    "ImportRequestIdParameter": {
      "name": "importRequestId",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Import request Id."
    },
    "InitiateImportRequestParameter": {
      "name": "body",
      "x-ms-parameter-location": "method",
      "in": "body",
      "required": true,
      "description": "Initiate import request parameters.",
      "schema": {
        "$ref": "#/definitions/InitiateImportRequest"
      }
    },
    "AcceptImportRequestParameter": {
      "name": "body",
      "x-ms-parameter-location": "method",
      "in": "body",
      "required": true,
      "description": "Accept import request parameters.",
      "schema": {
        "$ref": "#/definitions/AcceptImportRequest"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}