{
  "swagger": "2.0",
  "info": {
    "title": "ProgrammableConnectivity",
    "version": "2023-11-01-preview",
    "description": "Azure Programmable Connectivity Provider management API",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "OpenApiGatewayOfferings"
    }
  ],
  "paths": {
    "/providers/Microsoft.ProgrammableConnectivity/openApiGatewayOfferings": {
      "get": {
        "operationId": "OpenApiGatewayOfferings_ListByTenant",
        "tags": [
          "OpenApiGatewayOfferings"
        ],
        "description": "List OpenApiGatewayOffering resources by tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OpenApiGatewayOfferingListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "OpenApiGatewayOfferings_ListByTenant_MaximumSet_Gen": {
            "$ref": "./examples/OpenApiGatewayOfferings_ListByTenant_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/providers/Microsoft.ProgrammableConnectivity/openApiGatewayOfferings/{name}": {
      "get": {
        "operationId": "OpenApiGatewayOfferings_Get",
        "tags": [
          "OpenApiGatewayOfferings"
        ],
        "description": "Get a OpenApiGatewayOffering",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "APC Gateway Offering Name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OpenApiGatewayOffering"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OpenApiGatewayOfferings_Get_MaximumSet_Gen": {
            "$ref": "./examples/OpenApiGatewayOfferings_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProgrammableConnectivity/openApiGatewayOfferings": {
      "get": {
        "operationId": "OpenApiGatewayOfferings_ListBySubscription",
        "tags": [
          "OpenApiGatewayOfferings"
        ],
        "description": "List OpenApiGatewayOffering resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OpenApiGatewayOfferingListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "OpenApiGatewayOfferings_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/OpenApiGatewayOfferings_ListBySubscription_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "OpenApiGatewayOffering": {
      "type": "object",
      "description": "A Programmable Connectivity Open API Gateway Offerings resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OpenApiGatewayOfferingProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "OpenApiGatewayOfferingListResult": {
      "type": "object",
      "description": "The response of a OpenApiGatewayOffering list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OpenApiGatewayOffering items on this page",
          "items": {
            "$ref": "#/definitions/OpenApiGatewayOffering"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OpenApiGatewayOfferingProperties": {
      "type": "object",
      "description": "OpenAPI Gateway Offering properties",
      "properties": {
        "offerName": {
          "type": "string",
          "description": "Open Gateway Offering Display Name"
        },
        "operatorName": {
          "type": "string",
          "description": "Name of the Operator this offering belongs to."
        },
        "endpoint": {
          "type": "string",
          "description": "Endpoint (Base URL) for the Operator's Network API in current region/country."
        },
        "country": {
          "type": "string",
          "description": "Name of the country where this offering is being supported."
        },
        "features": {
          "type": "array",
          "description": "List of Network API features supported in this offering. The features are specific to a country/region.",
          "items": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource."
        }
      },
      "required": [
        "offerName",
        "operatorName",
        "endpoint",
        "country",
        "features",
        "provisioningState"
      ]
    }
  },
  "parameters": {}
}
