{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Marketplace management service",
    "version": "2025-05-01",
    "description": "Microsoft.Marketplace Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ProductList"
    },
    {
      "name": "ProductGet"
    }
  ],
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Marketplace/products": {
      "get": {
        "operationId": "ProductList_ListByBillingProfile",
        "tags": [
          "ProductList"
        ],
        "description": "Lists products for billing profile.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/BillingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/BillingProfileIdParameter"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language to search, ISO 639-1 two-letter code, possible values - 'en,cs,de,es,fr,hu,it,ja,ko,nl,pl,pt-br,pt-pt,ru,sv,tr,id,zh-hans,zh-hant'. Default is \"en\"",
            "required": false,
            "type": "string",
            "default": "en"
          },
          {
            "name": "excludePublicOffersAndPublicPlans",
            "in": "query",
            "description": "Whether to exclude public offers and public plans from the response. Default is false, which means that public offers and public plans are included in the response. If set to true, only private plans will be returned.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "locations",
            "in": "query",
            "description": "Return products available in selected location. Enumeration of the Azure datacenter regions. See https://azure.microsoft.com/regions/",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition. Example: $filter=productType eq 'VirtualMachine'. Fields that can be filtered by are:\n- `displayName`\n- `productId`\n- `popularity`\n- `categoryIds`\n- `industryIds`\n- `publisherId`\n- `uniqueProductId`\n- `productType`\n- `operatingSystems`\n- `pricingTypes`\n- `publisherDisplayName`\n- `longSummary`\n- `summary`\n- `linkedAddinsTypes`\n- `description`\n- `supportedProducts`\n- `applicableProducts`\n- `lastModifiedDateTime`\n- `plan.planId`\n- `plan.displayName`\n- `plan.cspState`\n- `plan.altStackReference`\n- `plan.stackType`\n- `plan.categoryIds`\n- `plan.hasProtectedArtifacts`\n- `plan.pricingTypes`\n- `plan.summary`\n- `plan.description`\n- `plan.skuId`\n- `plan.displayRank`\n- `plan.isPrivate`",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the results. Example: $select=displayName",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "Ordering expression for the results using OData notation. Avoid using orderby unless essential as this may impact the latency of your request.  Example: $orderby=displayName desc.This API only supports ordering by a single field. Fields that can be ordered by are:\n- `lastModifiedDateTime`\n- `uniqueProductId`\n- `productType`\n- `displayName`\n- `publisherId`'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$search",
            "in": "query",
            "description": "Optional search by display name, publisher display name, or keywords. Example $search=Microsoft",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ProductSummaryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DiscoveryErrorPayload"
            }
          }
        },
        "x-ms-examples": {
          "ProductList_ListByBillingProfile": {
            "$ref": "./examples/ProductList_ListByBillingProfile.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Marketplace/products/{productId}": {
      "get": {
        "operationId": "ProductGet_GetByBillingProfile",
        "tags": [
          "ProductGet"
        ],
        "description": "Gets a single product by billing profile.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/BillingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/BillingProfileIdParameter"
          },
          {
            "$ref": "#/parameters/ProductIdParameter"
          },
          {
            "name": "includeStopSoldPlans",
            "in": "query",
            "description": "Indicates whether to include plans that are no longer available for purchase in the response. By default, includeStopSoldPlans is set to FALSE.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language to search, ISO 639-1 two-letter code, possible values - 'en,cs,de,es,fr,hu,it,ja,ko,nl,pl,pt-br,pt-pt,ru,sv,tr,id,zh-hans,zh-hant'. Default is \"en\"",
            "required": false,
            "type": "string"
          },
          {
            "name": "includeHiddenPlans",
            "in": "query",
            "description": "Indicates whether to include hidden plans in the response. By default, includeHiddenPlans is set to FALSE.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "includeServiceInstructionTemplates",
            "in": "query",
            "description": "Indicates whether to include the product's service instruction templates in the response. By default, includeServiceInstructionTemplates is set to FALSE.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "planId",
            "in": "query",
            "description": "Optional to pass the plan id to filter to a specific plan within the product. If not specified, the response will include all plans of the product.",
            "required": false,
            "type": "string"
          },
          {
            "name": "skuId",
            "in": "query",
            "description": "Optional to pass the sku id to filter to a specific sku within the product. If not specified, the response will include all skus of the product.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProductDetails"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DiscoveryErrorPayload"
            }
          }
        },
        "x-ms-examples": {
          "ProductGet_GetByBillingProfile": {
            "$ref": "./examples/ProductGet_GetByBillingProfile.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Marketplace/products": {
      "get": {
        "operationId": "ProductList_ListByBillingAccount",
        "tags": [
          "ProductList"
        ],
        "description": "Lists products for billing account.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/BillingAccountIdParameter"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language to search, ISO 639-1 two-letter code, possible values - 'en,cs,de,es,fr,hu,it,ja,ko,nl,pl,pt-br,pt-pt,ru,sv,tr,id,zh-hans,zh-hant'. Default is \"en\"",
            "required": false,
            "type": "string",
            "default": "en"
          },
          {
            "name": "excludePublicOffersAndPublicPlans",
            "in": "query",
            "description": "Whether to exclude public offers and public plans from the response. Default is false, which means that public offers and public plans are included in the response. If set to true, only private plans will be returned.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "locations",
            "in": "query",
            "description": "Return products available in selected location. Enumeration of the Azure datacenter regions. See https://azure.microsoft.com/regions/",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition. Example: $filter=productType eq 'VirtualMachine'. Fields that can be filtered by are:\n- `displayName`\n- `productId`\n- `popularity`\n- `categoryIds`\n- `industryIds`\n- `publisherId`\n- `uniqueProductId`\n- `productType`\n- `operatingSystems`\n- `pricingTypes`\n- `publisherDisplayName`\n- `longSummary`\n- `summary`\n- `linkedAddinsTypes`\n- `description`\n- `supportedProducts`\n- `applicableProducts`\n- `lastModifiedDateTime`\n- `plan.planId`\n- `plan.displayName`\n- `plan.cspState`\n- `plan.altStackReference`\n- `plan.stackType`\n- `plan.categoryIds`\n- `plan.hasProtectedArtifacts`\n- `plan.pricingTypes`\n- `plan.summary`\n- `plan.description`\n- `plan.skuId`\n- `plan.displayRank`\n- `plan.isPrivate`",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the results. Example: $select=displayName",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "Ordering expression for the results using OData notation. Avoid using orderby unless essential as this may impact the latency of your request.  Example: $orderby=displayName desc.This API only supports ordering by a single field. Fields that can be ordered by are:\n- `lastModifiedDateTime`\n- `uniqueProductId`\n- `productType`\n- `displayName`\n- `publisherId`'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$search",
            "in": "query",
            "description": "Optional search by display name, publisher display name, or keywords. Example $search=Microsoft",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ProductSummaryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DiscoveryErrorPayload"
            }
          }
        },
        "x-ms-examples": {
          "ProductList_ListByBillingAccount": {
            "$ref": "./examples/ProductList_ListByBillingAccount.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Marketplace/products/{productId}": {
      "get": {
        "operationId": "ProductGet_GetByBillingAccount",
        "tags": [
          "ProductGet"
        ],
        "description": "Gets a single product by billing account.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/BillingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/ProductIdParameter"
          },
          {
            "name": "includeStopSoldPlans",
            "in": "query",
            "description": "Indicates whether to include plans that are no longer available for purchase in the response. By default, includeStopSoldPlans is set to FALSE.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language to search, ISO 639-1 two-letter code, possible values - 'en,cs,de,es,fr,hu,it,ja,ko,nl,pl,pt-br,pt-pt,ru,sv,tr,id,zh-hans,zh-hant'. Default is \"en\"",
            "required": false,
            "type": "string"
          },
          {
            "name": "includeHiddenPlans",
            "in": "query",
            "description": "Indicates whether to include hidden plans in the response. By default, includeHiddenPlans is set to FALSE.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "includeServiceInstructionTemplates",
            "in": "query",
            "description": "Indicates whether to include the product's service instruction templates in the response. By default, includeServiceInstructionTemplates is set to FALSE.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "planId",
            "in": "query",
            "description": "Optional to pass the plan id to filter to a specific plan within the product. If not specified, the response will include all plans of the product.",
            "required": false,
            "type": "string"
          },
          {
            "name": "skuId",
            "in": "query",
            "description": "Optional to pass the sku id to filter to a specific sku within the product. If not specified, the response will include all skus of the product.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProductDetails"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DiscoveryErrorPayload"
            }
          }
        },
        "x-ms-examples": {
          "ProductGet_GetByBillingAccount": {
            "$ref": "./examples/ProductGet_GetByBillingAccount.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Marketplace/products": {
      "get": {
        "operationId": "ProductList_ListByTenant",
        "tags": [
          "ProductList"
        ],
        "description": "Lists products for tenant.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "market",
            "in": "query",
            "description": "Product market value  (the response will include only products that can be sold in the specified market)\nPossible values can be found at https://docs.microsoft.com/en-us/azure/marketplace/marketplace-geo-availability-currencies. Example: 'US'",
            "required": false,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language to search, ISO 639-1 two-letter code, possible values - 'en,cs,de,es,fr,hu,it,ja,ko,nl,pl,pt-br,pt-pt,ru,sv,tr,id,zh-hans,zh-hant'. Default is \"en\"",
            "required": false,
            "type": "string",
            "default": "en"
          },
          {
            "name": "excludePublicOffersAndPublicPlans",
            "in": "query",
            "description": "Whether to exclude public offers and public plans from the response. Default is false, which means that public offers and public plans are included in the response. If set to true, only private plans will be returned.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition. Example: $filter=productType eq 'VirtualMachine'. Fields that can be filtered by are:\n- `displayName`\n- `productId`\n- `popularity`\n- `categoryIds`\n- `industryIds`\n- `publisherId`\n- `uniqueProductId`\n- `productType`\n- `operatingSystems`\n- `pricingTypes`\n- `publisherDisplayName`\n- `longSummary`\n- `summary`\n- `linkedAddinsTypes`\n- `description`\n- `supportedProducts`\n- `applicableProducts`\n- `lastModifiedDateTime`\n- `plan.planId`\n- `plan.displayName`\n- `plan.cspState`\n- `plan.altStackReference`\n- `plan.stackType`\n- `plan.categoryIds`\n- `plan.hasProtectedArtifacts`\n- `plan.pricingTypes`\n- `plan.summary`\n- `plan.description`\n- `plan.skuId`\n- `plan.displayRank`\n- `plan.isPrivate`",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the results. Example: $select=displayName",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "Ordering expression for the results using OData notation. Avoid using orderby unless essential as this may impact the latency of your request.  Example: $orderby=displayName desc.This API only supports ordering by a single field. Fields that can be ordered by are:\n- `lastModifiedDateTime`\n- `uniqueProductId`\n- `productType`\n- `displayName`\n- `publisherId`'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$search",
            "in": "query",
            "description": "Optional search by display name, publisher display name, or keywords. Example $search=Microsoft",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProductSummaryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DiscoveryErrorPayload"
            }
          }
        },
        "x-ms-examples": {
          "ProductList_ListByTenant": {
            "$ref": "./examples/ProductList_ListByTenant.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/products/{productId}": {
      "get": {
        "operationId": "ProductGet_GetByTenant",
        "tags": [
          "ProductGet"
        ],
        "description": "Gets a single product by tenant.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ProductIdParameter"
          },
          {
            "name": "market",
            "in": "query",
            "description": "Product market value that will be used to fetch the product and affect the returning result.Possible values can be found at https://docs.microsoft.com/en-us/azure/marketplace/marketplace-geo-availability-currencies. Example: 'US'",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeStopSoldPlans",
            "in": "query",
            "description": "Indicates whether to include plans that are no longer available for purchase in the response. By default, includeStopSoldPlans is set to FALSE.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language to search, ISO 639-1 two-letter code, possible values - 'en,cs,de,es,fr,hu,it,ja,ko,nl,pl,pt-br,pt-pt,ru,sv,tr,id,zh-hans,zh-hant'. Default is \"en\"",
            "required": false,
            "type": "string"
          },
          {
            "name": "pricingAudience",
            "in": "query",
            "description": "Direct-Commercial or Partner-Commercial. This value is used to determine the pricing audience for the product. If not specified, the default value is Direct-Commercial.",
            "required": false,
            "type": "string"
          },
          {
            "name": "includeHiddenPlans",
            "in": "query",
            "description": "Indicates whether to include hidden plans in the response. By default, includeHiddenPlans is set to FALSE.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "includeServiceInstructionTemplates",
            "in": "query",
            "description": "Indicates whether to include the product's service instruction templates in the response. By default, includeServiceInstructionTemplates is set to FALSE.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "planId",
            "in": "query",
            "description": "Optional to pass the plan id to filter to a specific plan within the product. If not specified, the response will include all plans of the product.",
            "required": false,
            "type": "string"
          },
          {
            "name": "skuId",
            "in": "query",
            "description": "Optional to pass the sku id to filter to a specific sku within the product. If not specified, the response will include all skus of the product.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProductDetails"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DiscoveryErrorPayload"
            }
          }
        },
        "x-ms-examples": {
          "ProductGet_GetByTenant": {
            "$ref": "./examples/ProductGet_GetByTenant.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Marketplace/products": {
      "get": {
        "operationId": "ProductList_ListBySubscription",
        "tags": [
          "ProductList"
        ],
        "description": "Lists products for subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language to search, ISO 639-1 two-letter code, possible values - 'en,cs,de,es,fr,hu,it,ja,ko,nl,pl,pt-br,pt-pt,ru,sv,tr,id,zh-hans,zh-hant'. Default is \"en\"",
            "required": false,
            "type": "string",
            "default": "en"
          },
          {
            "name": "excludePublicOffersAndPublicPlans",
            "in": "query",
            "description": "Whether to exclude public offers and public plans from the response. Default is false, which means that public offers and public plans are included in the response. If set to true, only private plans will be returned.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition. Example: $filter=productType eq 'VirtualMachine'. Fields that can be filtered by are:\n- `displayName`\n- `productId`\n- `popularity`\n- `categoryIds`\n- `industryIds`\n- `publisherId`\n- `uniqueProductId`\n- `productType`\n- `operatingSystems`\n- `pricingTypes`\n- `publisherDisplayName`\n- `longSummary`\n- `summary`\n- `linkedAddinsTypes`\n- `description`\n- `supportedProducts`\n- `applicableProducts`\n- `lastModifiedDateTime`\n- `plan.planId`\n- `plan.displayName`\n- `plan.cspState`\n- `plan.altStackReference`\n- `plan.stackType`\n- `plan.categoryIds`\n- `plan.hasProtectedArtifacts`\n- `plan.pricingTypes`\n- `plan.summary`\n- `plan.description`\n- `plan.skuId`\n- `plan.displayRank`\n- `plan.isPrivate`",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the results. Example: $select=displayName",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "Ordering expression for the results using OData notation. Avoid using orderby unless essential as this may impact the latency of your request.  Example: $orderby=displayName desc.This API only supports ordering by a single field. Fields that can be ordered by are:\n- `lastModifiedDateTime`\n- `uniqueProductId`\n- `productType`\n- `displayName`\n- `publisherId`'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$search",
            "in": "query",
            "description": "Optional search by display name, publisher display name, or keywords. Example $search=Microsoft",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ProductSummaryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DiscoveryErrorPayload"
            }
          }
        },
        "x-ms-examples": {
          "ProductList_ListBySubscription": {
            "$ref": "./examples/ProductList_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Marketplace/products/{productId}": {
      "get": {
        "operationId": "ProductGet_GetBySubscription",
        "tags": [
          "ProductGet"
        ],
        "description": "Gets a single product by subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProductIdParameter"
          },
          {
            "name": "includeStopSoldPlans",
            "in": "query",
            "description": "Indicates whether to include plans that are no longer available for purchase in the response. By default, includeStopSoldPlans is set to FALSE.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language to search, ISO 639-1 two-letter code, possible values - 'en,cs,de,es,fr,hu,it,ja,ko,nl,pl,pt-br,pt-pt,ru,sv,tr,id,zh-hans,zh-hant'. Default is \"en\"",
            "required": false,
            "type": "string"
          },
          {
            "name": "includeHiddenPlans",
            "in": "query",
            "description": "Indicates whether to include hidden plans in the response. By default, includeHiddenPlans is set to FALSE.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "includeServiceInstructionTemplates",
            "in": "query",
            "description": "Indicates whether to include the product's service instruction templates in the response. By default, includeServiceInstructionTemplates is set to FALSE.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "planId",
            "in": "query",
            "description": "Optional to pass the plan id to filter to a specific plan within the product. If not specified, the response will include all plans of the product.",
            "required": false,
            "type": "string"
          },
          {
            "name": "skuId",
            "in": "query",
            "description": "Optional to pass the sku id to filter to a specific sku within the product. If not specified, the response will include all skus of the product.",
            "required": false,
            "type": "string"
          },
          {
            "name": "lookUpOfferInTenantLevel",
            "in": "query",
            "description": "Indicates whether to use the tenant in context to fetch the product. By default, lookUpOfferInTenantLevel is set to FALSE.",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProductDetails"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DiscoveryErrorPayload"
            }
          }
        },
        "x-ms-examples": {
          "ProductGet_GetBySubscription": {
            "$ref": "./examples/ProductGet_GetBySubscription.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Artifact": {
      "type": "object",
      "description": "Plan level resources and configuration files",
      "properties": {
        "name": {
          "type": "string",
          "description": "Artifact name"
        },
        "uri": {
          "type": "string",
          "description": "Artifact uri"
        },
        "artifactType": {
          "type": "string",
          "description": "Defines the artifact resource type and its role in the marketplace offering deployment process.\n- `Template` - Primary Azure Resource Manager template containing the main deployment configuration\n- `Fragment` - Nested Azure Resource Manager template referenced by the primary template for modular deployments\n- `Custom` - Publisher-defined artifact with specialized deployment or configuration requirements\n- `Metadata` - Supplementary information and configuration data supporting the deployment process"
        }
      },
      "required": [
        "artifactType"
      ]
    },
    "AssetOwnershipLimit": {
      "type": "object",
      "description": "Defines ownership restrictions and limits for SKU assets",
      "properties": {
        "type": {
          "type": "string",
          "description": "Limit type"
        },
        "minAssets": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of assets"
        },
        "maxAssets": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of assets"
        }
      }
    },
    "Attribute": {
      "type": "object",
      "description": "Represents a SKU attribute, which consists of a key and value. The attributes may differ across various services.",
      "properties": {
        "key": {
          "type": "string",
          "description": "The attribute key"
        },
        "value": {
          "type": "string",
          "description": "The attribute value"
        }
      }
    },
    "Availability": {
      "type": "object",
      "description": "Availability for a given plan",
      "properties": {
        "id": {
          "type": "string",
          "description": "The document id"
        },
        "actions": {
          "type": "array",
          "description": "List of allowed actions",
          "items": {
            "type": "string"
          }
        },
        "meter": {
          "$ref": "#/definitions/Meter",
          "description": "Applicable billing meter information"
        },
        "pricingAudience": {
          "type": "string",
          "description": "Specifies the distribution channel and customer segment for product pricing and availability. Possible values:\n- `Direct-Commercial` - Available through direct Azure Marketplace purchases for commercial customers without intermediaries like partners or resellers\n- `Partner-Commercial` - Available through Cloud Solution Provider partner channel for reseller distribution"
        },
        "terms": {
          "type": "array",
          "description": "List of applicable terms",
          "items": {
            "$ref": "#/definitions/Term"
          },
          "x-ms-identifiers": []
        },
        "hasFreeTrials": {
          "type": "boolean",
          "description": "A value indicating whether it has free trials"
        },
        "consumptionUnitType": {
          "type": "string",
          "description": "Consumption unit type"
        },
        "displayRank": {
          "type": "integer",
          "format": "int32",
          "description": "Display rank"
        }
      },
      "required": [
        "pricingAudience",
        "hasFreeTrials",
        "displayRank"
      ]
    },
    "Benefit": {
      "type": "object",
      "description": "Benefit information for a plan",
      "properties": {
        "benefitType": {
          "type": "string",
          "description": "Benefit type"
        },
        "basePlanId": {
          "type": "string",
          "description": "Base plan ID"
        },
        "billingPlan": {
          "type": "string",
          "description": "Billing plan"
        },
        "termDuration": {
          "type": "string",
          "description": "Term duration. Examples: 'P1M' (1 month), 'P30D' (30 days)"
        }
      }
    },
    "BillingAccountBaseParameters": {
      "type": "object",
      "description": "The static parameters for a billing based resource",
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "The API version to use for this operation.",
          "minLength": 1
        },
        "billingAccountId": {
          "type": "string",
          "description": "The ID of the target billing account.",
          "minLength": 1
        }
      },
      "required": [
        "apiVersion",
        "billingAccountId"
      ]
    },
    "BillingComponent": {
      "type": "object",
      "description": "Represents a billing component model",
      "properties": {
        "billingTag": {
          "type": "string",
          "description": "Billing Tag"
        }
      }
    },
    "BillingPlan": {
      "type": "object",
      "description": "Renew Billing Plan",
      "properties": {
        "billingPeriod": {
          "type": "string",
          "description": "Billing period"
        },
        "title": {
          "type": "string",
          "description": "Title of the billing plan"
        },
        "description": {
          "type": "string",
          "description": "Description of the billing plan"
        },
        "price": {
          "$ref": "#/definitions/Price",
          "description": "Retail price with currency"
        }
      }
    },
    "BillingProfileBaseParameters": {
      "type": "object",
      "description": "The static parameters for a billing based resource",
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "The API version to use for this operation.",
          "minLength": 1
        },
        "billingAccountId": {
          "type": "string",
          "description": "The ID of the target billing account.",
          "minLength": 1
        },
        "billingProfileId": {
          "type": "string",
          "description": "The ID of the target billing account.",
          "minLength": 1
        }
      },
      "required": [
        "apiVersion",
        "billingAccountId",
        "billingProfileId"
      ]
    },
    "ConstraintsData": {
      "type": "object",
      "description": "Constraints data for a plan",
      "properties": {
        "seatConstraints": {
          "type": "array",
          "description": "Seat constraint configurations defining minimum and maximum seat limits",
          "items": {
            "$ref": "#/definitions/MinMaxSeatsConstraint"
          },
          "x-ms-identifiers": []
        },
        "assetOwnershipLimits": {
          "type": "array",
          "description": "Asset ownership limits",
          "items": {
            "$ref": "#/definitions/AssetOwnershipLimit"
          },
          "x-ms-identifiers": []
        },
        "prerequisiteSkus": {
          "$ref": "#/definitions/Prerequisites",
          "description": "Lists eligible prerequisite SKUs"
        }
      }
    },
    "DiscoveryErrorDetails": {
      "type": "object",
      "description": "Error details returned in DiscoveryErrorPayload",
      "properties": {
        "code": {
          "type": "string",
          "description": "The HTTP error code"
        },
        "message": {
          "type": "string",
          "description": "The error message"
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "DiscoveryErrorPayload": {
      "type": "object",
      "description": "Error payload returned by Marketplace Discovery APIs",
      "properties": {
        "error": {
          "$ref": "#/definitions/DiscoveryErrorDetails",
          "description": "The error details object"
        }
      },
      "required": [
        "error"
      ]
    },
    "FulfillmentAttributes": {
      "type": "object",
      "description": "Attributes that define fulfillment timing and delay handling",
      "properties": {
        "fulfillmentTiming": {
          "type": "string",
          "description": "Timing configuration for product fulfillment"
        },
        "fulfillmentDelayMitigation": {
          "type": "string",
          "description": "Mitigation explanation for delayed fulfillment"
        }
      }
    },
    "FulfillmentData": {
      "type": "object",
      "description": "Contains fulfillment configuration and instructions",
      "properties": {
        "fulfillmentType": {
          "type": "string",
          "description": "Differentiates between fulfillment types"
        },
        "attributes": {
          "$ref": "#/definitions/FulfillmentAttributes",
          "description": "Fulfillment attributes"
        },
        "additionalProducts": {
          "type": "array",
          "description": "Bundled products included defining additional product/SKU combinations",
          "items": {
            "$ref": "#/definitions/ProductFulfillmentConfig"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "Image": {
      "type": "object",
      "description": "Includes link to the product image",
      "properties": {
        "id": {
          "type": "string",
          "description": "Image id"
        },
        "uri": {
          "type": "string",
          "description": "Image uri"
        },
        "type": {
          "type": "string",
          "description": "Image type"
        }
      }
    },
    "ImageGroup": {
      "type": "object",
      "description": "List of image objects",
      "properties": {
        "context": {
          "type": "string",
          "description": "Context of the image group"
        },
        "items": {
          "type": "array",
          "description": "List of images",
          "items": {
            "$ref": "#/definitions/Image"
          }
        }
      }
    },
    "IncludedQuantityProperty": {
      "type": "object",
      "description": "Included quantity properties",
      "properties": {
        "termId": {
          "type": "string",
          "description": "Term id"
        },
        "quantity": {
          "type": "string",
          "description": "Included quantity"
        }
      }
    },
    "LifecyclePolicy": {
      "type": "object",
      "description": "Defines lifecycle management policy",
      "properties": {
        "graceDuration": {
          "type": "string",
          "description": "Grace period duration where customers retain access to their product. Examples: 'P1M' (1 month), 'P30D' (30 days), 'P0D' (0 days)"
        },
        "inactiveDuration": {
          "type": "string",
          "description": "Inactive period duration"
        },
        "lockoutDuration": {
          "type": "string",
          "description": "Lockout period duration"
        }
      }
    },
    "LinkProperties": {
      "type": "object",
      "description": "Represents a link item read from the gallery item package",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of the link"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the link"
        },
        "uri": {
          "type": "string",
          "description": "Uri of the link"
        }
      }
    },
    "MarketingMaterial": {
      "type": "object",
      "description": "Includes links to the learning and marketing materials as configured by the publisher",
      "properties": {
        "path": {
          "type": "string",
          "description": "Path to the marketing site"
        },
        "learnUri": {
          "type": "string",
          "description": "Path to the learn site"
        }
      }
    },
    "Meter": {
      "type": "object",
      "description": "Applicable billing meter information",
      "properties": {
        "meterId": {
          "type": "string",
          "description": "Meter id"
        },
        "partNumber": {
          "type": "string",
          "description": "Compute part number"
        },
        "consumptionResourceId": {
          "type": "string",
          "description": "Consumption resource id"
        },
        "price": {
          "$ref": "#/definitions/Price",
          "description": "Retail price with currency"
        },
        "type": {
          "type": "string",
          "description": "Type of this meter"
        },
        "includedQuantityProperties": {
          "type": "array",
          "description": "Included quantity properties",
          "items": {
            "$ref": "#/definitions/IncludedQuantityProperty"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "MeterTypeDescription": {
      "type": "object",
      "description": "Meter type description",
      "properties": {
        "key": {
          "type": "string",
          "description": "Meter Type Description key"
        },
        "value": {
          "$ref": "#/definitions/MeterTypeDescriptionValue",
          "description": "Meter type description value"
        }
      }
    },
    "MeterTypeDescriptionValue": {
      "type": "object",
      "description": "Meter type description value",
      "properties": {
        "meterType": {
          "type": "string",
          "description": "The type of meter"
        },
        "unitOfMeasure": {
          "type": "string",
          "description": "The unit of measurement for the meter"
        }
      }
    },
    "MinMaxPercentageSeatsConstraint": {
      "type": "object",
      "description": "Minimum and maximum percentage seats constraint",
      "properties": {
        "type": {
          "type": "string",
          "description": "Constraint type"
        },
        "minPercentSeats": {
          "type": "number",
          "format": "double",
          "description": "Minimum percent seats"
        },
        "maxPercentSeats": {
          "type": "number",
          "format": "double",
          "description": "Maximum percent seats"
        }
      }
    },
    "MinMaxSeatsConstraint": {
      "type": "object",
      "description": "Defines minimum and maximum seat limits for a specific constraint type",
      "properties": {
        "type": {
          "type": "string",
          "description": "Constraint type"
        },
        "minSeats": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum seats"
        },
        "maxSeats": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum seats"
        }
      }
    },
    "OfferingProperties": {
      "type": "object",
      "description": "SKU price related properties",
      "properties": {
        "productCode": {
          "type": "string",
          "description": "The product code (UPN)"
        },
        "termId": {
          "type": "string",
          "description": "The term id"
        },
        "meterType": {
          "type": "string",
          "description": "The meter type"
        },
        "billingMeterId": {
          "type": "string",
          "description": "The billing meter id"
        },
        "offeringId": {
          "type": "string",
          "description": "The offering id"
        },
        "type": {
          "type": "string",
          "description": "Entitlement, Consumption or Reservation"
        }
      }
    },
    "PlanDetails": {
      "type": "object",
      "description": "Returns the full set of Plan attributes",
      "properties": {
        "planId": {
          "type": "string",
          "description": "Plan identifier"
        },
        "uniquePlanId": {
          "type": "string",
          "description": "Unique plan identifier which is prefixed by combining uniqueProductId and PlanId with no separator in between"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the plan / sku"
        },
        "vmArchitectureType": {
          "type": "string",
          "description": "Specifies the virtual machine processor architecture and generation. Applies exclusively to Virtual Machine product types.\n- `X64Gen1` - x64 processor architecture with Generation 1 virtual machine firmware and BIOS support\n- `X64Gen2` - x64 processor architecture with Generation 2 virtual machine firmware and UEFI support\n- `Arm64` - ARM 64-bit processor architecture optimized for energy efficiency and cloud-native workloads"
        },
        "cspState": {
          "type": "string",
          "description": "Controls plan availability and partner access within the Microsoft Cloud Solution Provider (CSP) program.\n- `OptIn` - Enables all authorized Cloud Solution Provider partners to resell and deploy the product to customers\n- `OptOut` - Excluded from Cloud Solution Provider program, available only through direct channels\n- `SelectiveOptIn` - Available only to selected Cloud Solution Provider partners for resale and customer deployment"
        },
        "metadata": {
          "$ref": "#/definitions/PlanMetadata",
          "description": "Expanded plan/SKU metadata."
        },
        "altStackReference": {
          "type": "string",
          "description": "Alternative stack reference"
        },
        "stackType": {
          "type": "string",
          "description": "Stack type : Classic, Gen1, Gen2"
        },
        "altArchitectureReference": {
          "type": "string",
          "description": "The alternative architecture reference"
        },
        "categoryIds": {
          "type": "array",
          "description": "Plan CategoryIds",
          "items": {
            "type": "string"
          }
        },
        "hasProtectedArtifacts": {
          "type": "boolean",
          "description": "Set to true if plan has artifacts that are to be hidden for non authenticated users"
        },
        "pricingTypes": {
          "type": "array",
          "description": "Indicates the billing models and cost structures available for the plan.\n- `Free` - No charge for plan usage, typically for community editions or basic service tiers\n- `FreeTrial` - Time-limited free access period before transitioning to paid billing model\n- `Byol` - Bring Your Own License model where customers provide existing software licenses\n- `Payg` - Pay As You Go consumption-based billing calculated on actual resource usage\n- `Ri` - Reserved Instance billing with upfront commitment for discounted long-term pricing",
          "items": {
            "type": "string"
          }
        },
        "vmSecuritytypes": {
          "type": "array",
          "description": "Defines the security enhancement level for virtual machine deployments. Applies exclusively to Virtual Machine product types.\n- `None` - Standard virtual machine security without additional protection features\n- `Trusted` - Trusted Launch security with secure boot and virtual Trusted Platform Module capabilities\n- `Confidential` - Confidential computing with memory encryption and attestation for sensitive workloads",
          "items": {
            "type": "string"
          }
        },
        "summary": {
          "type": "string",
          "description": "The plan summary text"
        },
        "description": {
          "type": "string",
          "description": "Plan / sku description"
        },
        "skuId": {
          "type": "string",
          "description": "The SKU id"
        },
        "planType": {
          "type": "string",
          "description": "Specifies the primary deployment model and hosting architecture for the marketplace product. Currently supported values are:\n- `None` - Unspecified product type, typically used for products without a defined deployment model\n- `DevService` - Development-focused services and tools for software creation workflows\n- `ManagedApplication` - Azure Managed Applications that deploy and manage resources in customer subscriptions\n- `VirtualMachine` - Pre-configured virtual machine images deployable to Azure compute infrastructure\n- `AzureApplication` - Native Azure applications leveraging platform services and APIs\n- `Container` - Containerized applications deployed through Azure Container Instances or similar services\n- `SaaS` - Software as a Service solutions hosted and managed by the publisher\n- `SolutionTemplate` - Azure Resource Manager templates that provision multiple Azure resources\n- `IotEdgeModules` - Modules designed for deployment to Azure IoT Edge runtime environments\n- `ManagedServices` - Fully managed services where the publisher handles infrastructure and operations\n- `ContainerApps` - Applications built for Azure Container Apps serverless container platform\n- `VisualStudioExtension` - Extensions that integrate with Visual Studio IDE functionality\n- `DynamicsOps` - Microsoft Dynamics 365 Finance and Operations applications and extensions\n- `DynamicsCE` - Microsoft Dynamics 365 Customer Engagement applications and customizations\n- `DynamicsBC` - Microsoft Dynamics 365 Business Central applications and add-ons\n- `PowerBI` - Microsoft Power BI reports, dashboards, and data visualization components\n- `ConsultingServices` - Professional services offerings including implementation and advisory services\n- `CosellOnly` - Products available exclusively through Microsoft co-sell partner programs\n- `CoreVirtualMachine` - Core virtual machine offerings with baseline Azure compute capabilities\n- `PowerBIVisuals` - Custom visualizations for Microsoft Power BI reporting platform\n- `Office365` - Microsoft 365 and Office 365 applications, add-ins, and integrations\n- `AADApps` - Azure Active Directory integrated applications supporting organizational identity\n- `AzureServices` - Native Azure platform services and resource providers\n- `AppService` - Web applications hosted on Azure App Service platform\n- `LogAnalytics` - Azure Monitor Log Analytics solutions and workspace configurations\n- `MicrosoftProduct` - First-party Microsoft products available through marketplace channels"
        },
        "displayRank": {
          "type": "string",
          "description": "The order the plan is displayed in the 'Plans' table"
        },
        "isPrivate": {
          "type": "boolean",
          "description": "Indication that the plan is accessible to restricted audience only"
        },
        "hasRi": {
          "type": "boolean",
          "description": "Indication whether the SKU supports reservations"
        },
        "id": {
          "type": "string",
          "description": "The id"
        },
        "availabilities": {
          "type": "array",
          "description": "List of availabilities for this plan",
          "items": {
            "$ref": "#/definitions/Availability"
          }
        },
        "uiDefinitionUri": {
          "type": "string",
          "description": "What blade to open when someone wants to create a marketplace item"
        },
        "artifacts": {
          "type": "array",
          "description": "Files related to the marketplace item",
          "items": {
            "$ref": "#/definitions/Artifact"
          },
          "x-ms-identifiers": []
        },
        "version": {
          "type": "string",
          "description": "Version of the marketplace item"
        },
        "isHidden": {
          "type": "boolean",
          "description": "A value indicating whether the plan is hidden"
        },
        "isStopSell": {
          "type": "boolean",
          "description": "A value indicating whether plan has been stopped from selling"
        },
        "stopSellInfo": {
          "$ref": "#/definitions/StopSellInfo",
          "description": "A StopSellInfo object providing stop sell related data"
        },
        "minQuantity": {
          "type": "integer",
          "format": "int32",
          "description": "Min quantity"
        },
        "maxQuantity": {
          "type": "integer",
          "format": "int32",
          "description": "Max quantity"
        },
        "isQuantifiable": {
          "type": "boolean",
          "description": "A value indicating whether the plan is quantifiable"
        },
        "billingComponents": {
          "type": "array",
          "description": "Billing components",
          "items": {
            "$ref": "#/definitions/BillingComponent"
          },
          "x-ms-identifiers": []
        },
        "purchaseDurationDiscounts": {
          "type": "array",
          "description": "List of purchase duration discounts",
          "items": {
            "$ref": "#/definitions/PurchaseDurationDiscount"
          },
          "x-ms-identifiers": []
        },
        "isHiddenPrivateOffer": {
          "type": "boolean",
          "description": "A value indicating whether the plan is used as hidden private offer requiring a quote"
        },
        "certifications": {
          "type": "array",
          "description": "List of certifications",
          "items": {
            "$ref": "#/definitions/LinkProperties"
          }
        },
        "customerInstruction": {
          "type": "string",
          "description": "Plan's customer instruction for purchasing"
        },
        "planLabels": {
          "type": "array",
          "description": "Plan labels",
          "items": {
            "type": "string"
          }
        },
        "skuType": {
          "type": "string",
          "description": "SKU type"
        },
        "skuTitle": {
          "type": "string",
          "description": "Sku title localized"
        },
        "location": {
          "type": "string",
          "description": "SKU location"
        },
        "armRegionName": {
          "type": "string",
          "description": "The Arm region name"
        },
        "cloud": {
          "type": "string",
          "description": "Applicable cloud, such as 'Global'"
        },
        "locationType": {
          "type": "string",
          "description": "The location type, such as 'Region'"
        },
        "region": {
          "type": "string",
          "description": "The region"
        },
        "skuGroupId": {
          "type": "string",
          "description": "The sku group id"
        },
        "zone": {
          "type": "string",
          "description": "The zone, such as 'Zone 1'"
        },
        "feature": {
          "type": "string",
          "description": "The feature, such as 'Spot'"
        },
        "serviceType": {
          "type": "string",
          "description": "The service type"
        },
        "skuAttributes": {
          "type": "array",
          "description": "Set of SKU attributes (varies per sku type), where each attribute is represented by a pair of key (attribute name) and value(attribute value)",
          "items": {
            "$ref": "#/definitions/Attribute"
          },
          "x-ms-identifiers": []
        },
        "skuProperties": {
          "$ref": "#/definitions/SkuProperties",
          "description": "The sku properties"
        },
        "offeringProperties": {
          "type": "array",
          "description": "SKU price related properties.",
          "items": {
            "$ref": "#/definitions/OfferingProperties"
          },
          "x-ms-identifiers": []
        },
        "hasConsumptionComponents": {
          "type": "boolean",
          "description": "Indicates if this SKU has consumption components"
        },
        "isEndUserEligible": {
          "type": "boolean",
          "description": "Indicates if this SKU is available for end users"
        },
        "isAdminEligible": {
          "type": "boolean",
          "description": "Indicates if this SKU is available for admins"
        },
        "entraIdVersion": {
          "type": "string",
          "description": "The entra id version for products that come with entra id support"
        },
        "technicalRequirements": {
          "type": "string",
          "description": "Technical Requirements"
        },
        "faqUri": {
          "type": "string",
          "description": "The URI to the FAQ page"
        },
        "fulfillmentData": {
          "$ref": "#/definitions/FulfillmentData",
          "description": "Fulfillment instructions for this SKU"
        },
        "benefits": {
          "type": "array",
          "description": "Provides promotion data",
          "items": {
            "$ref": "#/definitions/Benefit"
          },
          "x-ms-identifiers": []
        },
        "constraintsData": {
          "$ref": "#/definitions/ConstraintsData",
          "description": "Contains constraint product properties to determine eligibility"
        },
        "meterTypeDescriptions": {
          "type": "array",
          "description": "Meter type descriptions",
          "items": {
            "$ref": "#/definitions/MeterTypeDescription"
          },
          "x-ms-identifiers": []
        },
        "usageUnit": {
          "type": "string",
          "description": "Usage unit"
        },
        "skuName": {
          "type": "string",
          "description": "Sku name"
        }
      },
      "required": [
        "planType",
        "isHidden",
        "isStopSell",
        "isQuantifiable"
      ]
    },
    "PlanMetadata": {
      "type": "object",
      "description": "Additional metadata",
      "properties": {
        "generation": {
          "type": "string",
          "description": "The VM image generation (applicable to Virtual Machine products only)"
        },
        "altStackReference": {
          "type": "string",
          "description": "Pointing to a planId which holds the alternative stack reference"
        }
      }
    },
    "PlanSummary": {
      "type": "object",
      "description": "Returns a subset of Plan attributes",
      "properties": {
        "planId": {
          "type": "string",
          "description": "Plan identifier"
        },
        "uniquePlanId": {
          "type": "string",
          "description": "Unique plan identifier which is prefixed by combining uniqueProductId and PlanId with no separator in between"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the plan / sku"
        },
        "vmArchitectureType": {
          "type": "string",
          "description": "Specifies the virtual machine processor architecture and generation. Applies exclusively to Virtual Machine product types.\n- `X64Gen1` - x64 processor architecture with Generation 1 virtual machine firmware and BIOS support\n- `X64Gen2` - x64 processor architecture with Generation 2 virtual machine firmware and UEFI support\n- `Arm64` - ARM 64-bit processor architecture optimized for energy efficiency and cloud-native workloads"
        },
        "cspState": {
          "type": "string",
          "description": "Controls plan availability and partner access within the Microsoft Cloud Solution Provider (CSP) program.\n- `OptIn` - Enables all authorized Cloud Solution Provider partners to resell and deploy the product to customers\n- `OptOut` - Excluded from Cloud Solution Provider program, available only through direct channels\n- `SelectiveOptIn` - Available only to selected Cloud Solution Provider partners for resale and customer deployment"
        },
        "metadata": {
          "$ref": "#/definitions/PlanMetadata",
          "description": "Expanded plan/SKU metadata."
        },
        "altStackReference": {
          "type": "string",
          "description": "Alternative stack reference"
        },
        "stackType": {
          "type": "string",
          "description": "Stack type : Classic, Gen1, Gen2"
        },
        "altArchitectureReference": {
          "type": "string",
          "description": "The alternative architecture reference"
        },
        "categoryIds": {
          "type": "array",
          "description": "Plan CategoryIds",
          "items": {
            "type": "string"
          }
        },
        "hasProtectedArtifacts": {
          "type": "boolean",
          "description": "Set to true if plan has artifacts that are to be hidden for non authenticated users"
        },
        "pricingTypes": {
          "type": "array",
          "description": "Indicates the billing models and cost structures available for the plan.\n- `Free` - No charge for plan usage, typically for community editions or basic service tiers\n- `FreeTrial` - Time-limited free access period before transitioning to paid billing model\n- `Byol` - Bring Your Own License model where customers provide existing software licenses\n- `Payg` - Pay As You Go consumption-based billing calculated on actual resource usage\n- `Ri` - Reserved Instance billing with upfront commitment for discounted long-term pricing",
          "items": {
            "type": "string"
          }
        },
        "vmSecuritytypes": {
          "type": "array",
          "description": "Defines the security enhancement level for virtual machine deployments. Applies exclusively to Virtual Machine product types.\n- `None` - Standard virtual machine security without additional protection features\n- `Trusted` - Trusted Launch security with secure boot and virtual Trusted Platform Module capabilities\n- `Confidential` - Confidential computing with memory encryption and attestation for sensitive workloads",
          "items": {
            "type": "string"
          }
        },
        "summary": {
          "type": "string",
          "description": "The plan summary text"
        },
        "description": {
          "type": "string",
          "description": "Plan / sku description"
        },
        "skuId": {
          "type": "string",
          "description": "The SKU id"
        },
        "planType": {
          "type": "string",
          "description": "Specifies the primary deployment model and hosting architecture for the marketplace product. Currently supported values are:\n- `None` - Unspecified product type, typically used for products without a defined deployment model\n- `DevService` - Development-focused services and tools for software creation workflows\n- `ManagedApplication` - Azure Managed Applications that deploy and manage resources in customer subscriptions\n- `VirtualMachine` - Pre-configured virtual machine images deployable to Azure compute infrastructure\n- `AzureApplication` - Native Azure applications leveraging platform services and APIs\n- `Container` - Containerized applications deployed through Azure Container Instances or similar services\n- `SaaS` - Software as a Service solutions hosted and managed by the publisher\n- `SolutionTemplate` - Azure Resource Manager templates that provision multiple Azure resources\n- `IotEdgeModules` - Modules designed for deployment to Azure IoT Edge runtime environments\n- `ManagedServices` - Fully managed services where the publisher handles infrastructure and operations\n- `ContainerApps` - Applications built for Azure Container Apps serverless container platform\n- `VisualStudioExtension` - Extensions that integrate with Visual Studio IDE functionality\n- `DynamicsOps` - Microsoft Dynamics 365 Finance and Operations applications and extensions\n- `DynamicsCE` - Microsoft Dynamics 365 Customer Engagement applications and customizations\n- `DynamicsBC` - Microsoft Dynamics 365 Business Central applications and add-ons\n- `PowerBI` - Microsoft Power BI reports, dashboards, and data visualization components\n- `ConsultingServices` - Professional services offerings including implementation and advisory services\n- `CosellOnly` - Products available exclusively through Microsoft co-sell partner programs\n- `CoreVirtualMachine` - Core virtual machine offerings with baseline Azure compute capabilities\n- `PowerBIVisuals` - Custom visualizations for Microsoft Power BI reporting platform\n- `Office365` - Microsoft 365 and Office 365 applications, add-ins, and integrations\n- `AADApps` - Azure Active Directory integrated applications supporting organizational identity\n- `AzureServices` - Native Azure platform services and resource providers\n- `AppService` - Web applications hosted on Azure App Service platform\n- `LogAnalytics` - Azure Monitor Log Analytics solutions and workspace configurations\n- `MicrosoftProduct` - First-party Microsoft products available through marketplace channels"
        },
        "displayRank": {
          "type": "string",
          "description": "The order the plan is displayed in the 'Plans' table"
        },
        "isPrivate": {
          "type": "boolean",
          "description": "Indication that the plan is accessible to restricted audience only"
        },
        "hasRi": {
          "type": "boolean",
          "description": "Indication whether the SKU supports reservations"
        }
      },
      "required": [
        "planType"
      ]
    },
    "PrerequisiteSet": {
      "type": "object",
      "description": "Prerequisite set",
      "properties": {
        "productId": {
          "type": "string",
          "description": "Product ID"
        },
        "skuIds": {
          "type": "array",
          "description": "SKU IDs",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Prerequisites": {
      "type": "object",
      "description": "Defines prerequisite SKU requirements and seat constraints",
      "properties": {
        "mustHaveAll": {
          "type": "array",
          "description": "Prerequisite sets where all specified SKUs must be owned",
          "items": {
            "$ref": "#/definitions/PrerequisiteSet"
          },
          "x-ms-identifiers": []
        },
        "mustHaveAny": {
          "type": "array",
          "description": "Prerequisite sets where any one of the specified SKUs must be owned",
          "items": {
            "$ref": "#/definitions/PrerequisiteSet"
          },
          "x-ms-identifiers": []
        },
        "seatConstraints": {
          "type": "array",
          "description": "Percentage-based seat constraints for prerequisite SKUs",
          "items": {
            "$ref": "#/definitions/MinMaxPercentageSeatsConstraint"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "PreviewImage": {
      "type": "object",
      "description": "Video preview image",
      "properties": {
        "caption": {
          "type": "string",
          "description": "Image caption"
        },
        "uri": {
          "type": "string",
          "description": "Image uri"
        },
        "imagePurpose": {
          "type": "string",
          "description": "Purpose of the image"
        }
      }
    },
    "Price": {
      "type": "object",
      "description": "Retail price with currency",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "Currency code i.e. 'USD'"
        },
        "isPiRequired": {
          "type": "boolean",
          "description": "A value indicating whether a payment instrument is required"
        },
        "listPrice": {
          "type": "number",
          "format": "float",
          "description": "Retail price for the item"
        },
        "msrp": {
          "type": "number",
          "format": "float",
          "description": "Manufacturer's suggested retail price for the item"
        }
      },
      "required": [
        "isPiRequired",
        "listPrice",
        "msrp"
      ]
    },
    "ProductBase": {
      "type": "object",
      "description": "Base model containing common product attributes shared between ProductSummary and ProductDetails",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Product display name"
        },
        "popularity": {
          "type": "number",
          "format": "double",
          "description": "Popularity of the product"
        },
        "categoryIds": {
          "type": "array",
          "description": "Array of product categories",
          "items": {
            "type": "string"
          }
        },
        "industryIds": {
          "type": "array",
          "description": "List of industry IDs the item belongs to",
          "items": {
            "type": "string"
          }
        },
        "publisherId": {
          "type": "string",
          "description": "Publisher id"
        },
        "azureBenefit": {
          "type": "string",
          "description": "Indicates whether product purchases count toward Azure consumption commitment benefits for enterprise customers.\n- `Eligible` - Product costs apply to Azure consumption commitment benefit calculations and credits\n- `NotEligible` - Product costs do not qualify for Azure consumption commitment benefit programs"
        },
        "badges": {
          "type": "array",
          "description": "Displays certification and qualification badges earned by the product for marketplace visibility.\n- `PreferredSolution` - Microsoft-recognized solution meeting specific quality and partnership criteria\n- `PowerBICertified` - Certified compatibility and integration with Microsoft Power BI platform\n- `AdditionalPurchaseRequirement` - Product requires additional purchases or subscriptions for full functionality",
          "items": {
            "type": "string"
          }
        },
        "publisherType": {
          "type": "string",
          "description": "Identifies the publisher relationship to Microsoft for support and partnership classification.\n- `Microsoft` - First-party Microsoft product with direct Microsoft support and development\n- `ThirdParty` - Independent software vendor product with publisher-provided support and maintenance"
        },
        "publishingStage": {
          "type": "string",
          "description": "Indicates the product availability status and customer access level within Azure Marketplace.\n- `Preview` - Limited availability to selected customers for testing and early access evaluation\n- `Public` - General availability to all Azure Marketplace customers for production deployment"
        },
        "uniqueProductId": {
          "type": "string",
          "description": "Unique product identifier",
          "readOnly": true
        },
        "productType": {
          "type": "string",
          "description": "Specifies the primary deployment model and hosting architecture for the marketplace product stored in the Marketplace Catalog.\n- `None` - Unspecified product type, typically used for products without a defined deployment model\n- `ManagedApplication` - Azure Managed Applications that deploy and manage resources in customer subscriptions\n- `VirtualMachine` - Pre-configured virtual machine images deployable to Azure compute infrastructure\n- `AzureApplication` - Native Azure applications leveraging platform services and APIs\n- `Container` - Containerized applications deployed through Azure Container Instances or similar services\n- `SaaS` - Software as a Service solutions hosted and managed by the publisher\n- `SolutionTemplate` - Azure Resource Manager templates that provision multiple Azure resources\n- `IotEdgeModules` - Modules designed for deployment to Azure IoT Edge runtime environments\n- `ManagedServices` - Fully managed services where the publisher handles infrastructure and operations\n- `ContainerApps` - Applications built for Azure Container Apps serverless container platform\n- `DynamicsOps` - Microsoft Dynamics 365 Finance and Operations applications and extensions\n- `DynamicsCE` - Microsoft Dynamics 365 Customer Engagement applications and customizations\n- `DynamicsBC` - Microsoft Dynamics 365 Business Central applications and add-ons\n- `PowerBI` - Microsoft Power BI reports, dashboards, and data visualization components\n- `ConsultingServices` - Professional services offerings including implementation and advisory services\n- `CosellOnly` - Products available exclusively through Microsoft co-sell partner programs\n- `CoreVirtualMachine` - Core virtual machine offerings with baseline Azure compute capabilities\n- `PowerBIVisuals` - Custom visualizations for Microsoft Power BI reporting platform\n- `Office365` - Microsoft 365 and Office 365 applications, add-ins, and integrations\n- `AADApps` - Azure Active Directory integrated applications supporting organizational identity\n- `AzureServices` - Native Azure platform services and resource providers\n- `AppService` - Web applications hosted on Azure App Service platform\n- `LogAnalytics` - Azure Monitor Log Analytics solutions and workspace configurations\n- `MicrosoftProduct` - First-party Microsoft products available through marketplace channels"
        },
        "productSubType": {
          "type": "string",
          "description": "Product sub type"
        },
        "productFamily": {
          "type": "string",
          "description": "Product Family"
        },
        "operatingSystems": {
          "type": "array",
          "description": "Operating system info for this product",
          "items": {
            "type": "string"
          }
        },
        "pricingTypes": {
          "type": "array",
          "description": "Indicates the billing models and cost structures available for the plan.\n- `Free` - No charge for plan usage, typically for community editions or basic service tiers\n- `FreeTrial` - Time-limited free access period before transitioning to paid billing model\n- `Byol` - Bring Your Own License model where customers provide existing software licenses\n- `Payg` - Pay As You Go consumption-based billing calculated on actual resource usage\n- `Ri` - Reserved Instance billing with upfront commitment for discounted long-term pricing",
          "items": {
            "type": "string"
          }
        },
        "publisherDisplayName": {
          "type": "string",
          "description": "Publisher display name"
        },
        "longSummary": {
          "type": "string",
          "description": "Product long summary"
        },
        "summary": {
          "type": "string",
          "description": "Product summary"
        },
        "smallIconUri": {
          "type": "string",
          "description": "URI to the small product icon"
        },
        "description": {
          "type": "string",
          "description": "The product description text"
        },
        "cspLegalTermsUri": {
          "type": "string",
          "description": "The legal terms of the product for the CSP"
        },
        "privacyPolicyUri": {
          "type": "string",
          "description": "The privacy policy of the product"
        },
        "ratingBuckets": {
          "type": "array",
          "description": "Categorizes products by customer rating thresholds for marketplace filtering and discovery.\n- `AboveOne` - Products with customer ratings exceeding 1.0 stars based on marketplace reviews\n- `AboveTwo` - Products with customer ratings exceeding 2.0 stars based on marketplace reviews\n- `AboveThree` - Products with customer ratings exceeding 3.0 stars based on marketplace reviews\n- `AboveFour` - Products with customer ratings exceeding 4.0 stars based on marketplace reviews",
          "items": {
            "type": "string"
          }
        },
        "ratingAverage": {
          "type": "number",
          "format": "double",
          "description": "Average rating for the offer"
        },
        "ratingCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of ratings for the offer"
        },
        "supportedProducts": {
          "type": "array",
          "description": "Maps to the list of compatible products",
          "items": {
            "type": "string"
          }
        },
        "applicableProducts": {
          "type": "array",
          "description": "Product categories the offer belongs to",
          "items": {
            "type": "string"
          }
        },
        "lastModifiedDateTime": {
          "type": "string",
          "description": "Latest update date of the product"
        },
        "locations": {
          "type": "array",
          "description": "List of locations which are available on the SKUs",
          "items": {
            "type": "string"
          }
        },
        "serviceFamily": {
          "type": "string",
          "description": "The service family of the product, such as 'Compute'"
        },
        "service": {
          "type": "string",
          "description": "The service name of the product, such as 'Virtual Machines'"
        },
        "productId": {
          "type": "string",
          "description": "The unique id of the product"
        },
        "hasRiPlans": {
          "type": "boolean",
          "description": "Indication whether the product has plans with reservations"
        },
        "hasMarketplaceFootprint": {
          "type": "boolean",
          "description": "Indication if product has a representation in the marketplace"
        },
        "attributes": {
          "type": "array",
          "description": "Set of products attributes",
          "items": {
            "$ref": "#/definitions/Attribute"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "uniqueProductId",
        "productType"
      ]
    },
    "ProductDetails": {
      "type": "object",
      "description": "Returns the full set of Product attributes",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Product display name"
        },
        "popularity": {
          "type": "number",
          "format": "double",
          "description": "Popularity of the product"
        },
        "categoryIds": {
          "type": "array",
          "description": "Array of product categories",
          "items": {
            "type": "string"
          }
        },
        "industryIds": {
          "type": "array",
          "description": "List of industry IDs the item belongs to",
          "items": {
            "type": "string"
          }
        },
        "publisherId": {
          "type": "string",
          "description": "Publisher id"
        },
        "azureBenefit": {
          "type": "string",
          "description": "Indicates whether product purchases count toward Azure consumption commitment benefits for enterprise customers.\n- `Eligible` - Product costs apply to Azure consumption commitment benefit calculations and credits\n- `NotEligible` - Product costs do not qualify for Azure consumption commitment benefit programs"
        },
        "badges": {
          "type": "array",
          "description": "Displays certification and qualification badges earned by the product for marketplace visibility.\n- `PreferredSolution` - Microsoft-recognized solution meeting specific quality and partnership criteria\n- `PowerBICertified` - Certified compatibility and integration with Microsoft Power BI platform\n- `AdditionalPurchaseRequirement` - Product requires additional purchases or subscriptions for full functionality",
          "items": {
            "type": "string"
          }
        },
        "publisherType": {
          "type": "string",
          "description": "Identifies the publisher relationship to Microsoft for support and partnership classification.\n- `Microsoft` - First-party Microsoft product with direct Microsoft support and development\n- `ThirdParty` - Independent software vendor product with publisher-provided support and maintenance"
        },
        "publishingStage": {
          "type": "string",
          "description": "Indicates the product availability status and customer access level within Azure Marketplace.\n- `Preview` - Limited availability to selected customers for testing and early access evaluation\n- `Public` - General availability to all Azure Marketplace customers for production deployment"
        },
        "uniqueProductId": {
          "type": "string",
          "description": "Unique product identifier",
          "readOnly": true
        },
        "productType": {
          "type": "string",
          "description": "Specifies the primary deployment model and hosting architecture for the marketplace product stored in the Marketplace Catalog.\n- `None` - Unspecified product type, typically used for products without a defined deployment model\n- `ManagedApplication` - Azure Managed Applications that deploy and manage resources in customer subscriptions\n- `VirtualMachine` - Pre-configured virtual machine images deployable to Azure compute infrastructure\n- `AzureApplication` - Native Azure applications leveraging platform services and APIs\n- `Container` - Containerized applications deployed through Azure Container Instances or similar services\n- `SaaS` - Software as a Service solutions hosted and managed by the publisher\n- `SolutionTemplate` - Azure Resource Manager templates that provision multiple Azure resources\n- `IotEdgeModules` - Modules designed for deployment to Azure IoT Edge runtime environments\n- `ManagedServices` - Fully managed services where the publisher handles infrastructure and operations\n- `ContainerApps` - Applications built for Azure Container Apps serverless container platform\n- `DynamicsOps` - Microsoft Dynamics 365 Finance and Operations applications and extensions\n- `DynamicsCE` - Microsoft Dynamics 365 Customer Engagement applications and customizations\n- `DynamicsBC` - Microsoft Dynamics 365 Business Central applications and add-ons\n- `PowerBI` - Microsoft Power BI reports, dashboards, and data visualization components\n- `ConsultingServices` - Professional services offerings including implementation and advisory services\n- `CosellOnly` - Products available exclusively through Microsoft co-sell partner programs\n- `CoreVirtualMachine` - Core virtual machine offerings with baseline Azure compute capabilities\n- `PowerBIVisuals` - Custom visualizations for Microsoft Power BI reporting platform\n- `Office365` - Microsoft 365 and Office 365 applications, add-ins, and integrations\n- `AADApps` - Azure Active Directory integrated applications supporting organizational identity\n- `AzureServices` - Native Azure platform services and resource providers\n- `AppService` - Web applications hosted on Azure App Service platform\n- `LogAnalytics` - Azure Monitor Log Analytics solutions and workspace configurations\n- `MicrosoftProduct` - First-party Microsoft products available through marketplace channels"
        },
        "productSubType": {
          "type": "string",
          "description": "Product sub type"
        },
        "productFamily": {
          "type": "string",
          "description": "Product Family"
        },
        "operatingSystems": {
          "type": "array",
          "description": "Operating system info for this product",
          "items": {
            "type": "string"
          }
        },
        "pricingTypes": {
          "type": "array",
          "description": "Indicates the billing models and cost structures available for the plan.\n- `Free` - No charge for plan usage, typically for community editions or basic service tiers\n- `FreeTrial` - Time-limited free access period before transitioning to paid billing model\n- `Byol` - Bring Your Own License model where customers provide existing software licenses\n- `Payg` - Pay As You Go consumption-based billing calculated on actual resource usage\n- `Ri` - Reserved Instance billing with upfront commitment for discounted long-term pricing",
          "items": {
            "type": "string"
          }
        },
        "publisherDisplayName": {
          "type": "string",
          "description": "Publisher display name"
        },
        "longSummary": {
          "type": "string",
          "description": "Product long summary"
        },
        "summary": {
          "type": "string",
          "description": "Product summary"
        },
        "smallIconUri": {
          "type": "string",
          "description": "URI to the small product icon"
        },
        "description": {
          "type": "string",
          "description": "The product description text"
        },
        "cspLegalTermsUri": {
          "type": "string",
          "description": "The legal terms of the product for the CSP"
        },
        "privacyPolicyUri": {
          "type": "string",
          "description": "The privacy policy of the product"
        },
        "ratingBuckets": {
          "type": "array",
          "description": "Categorizes products by customer rating thresholds for marketplace filtering and discovery.\n- `AboveOne` - Products with customer ratings exceeding 1.0 stars based on marketplace reviews\n- `AboveTwo` - Products with customer ratings exceeding 2.0 stars based on marketplace reviews\n- `AboveThree` - Products with customer ratings exceeding 3.0 stars based on marketplace reviews\n- `AboveFour` - Products with customer ratings exceeding 4.0 stars based on marketplace reviews",
          "items": {
            "type": "string"
          }
        },
        "ratingAverage": {
          "type": "number",
          "format": "double",
          "description": "Average rating for the offer"
        },
        "ratingCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of ratings for the offer"
        },
        "supportedProducts": {
          "type": "array",
          "description": "Maps to the list of compatible products",
          "items": {
            "type": "string"
          }
        },
        "applicableProducts": {
          "type": "array",
          "description": "Product categories the offer belongs to",
          "items": {
            "type": "string"
          }
        },
        "lastModifiedDateTime": {
          "type": "string",
          "description": "Latest update date of the product"
        },
        "locations": {
          "type": "array",
          "description": "List of locations which are available on the SKUs",
          "items": {
            "type": "string"
          }
        },
        "serviceFamily": {
          "type": "string",
          "description": "The service family of the product, such as 'Compute'"
        },
        "service": {
          "type": "string",
          "description": "The service name of the product, such as 'Virtual Machines'"
        },
        "productId": {
          "type": "string",
          "description": "The unique id of the product"
        },
        "hasRiPlans": {
          "type": "boolean",
          "description": "Indication whether the product has plans with reservations"
        },
        "hasMarketplaceFootprint": {
          "type": "boolean",
          "description": "Indication if product has a representation in the marketplace"
        },
        "attributes": {
          "type": "array",
          "description": "Set of products attributes",
          "items": {
            "$ref": "#/definitions/Attribute"
          },
          "x-ms-identifiers": []
        },
        "videos": {
          "type": "array",
          "description": "List of product videos",
          "items": {
            "$ref": "#/definitions/ProductVideo"
          },
          "x-ms-identifiers": []
        },
        "images": {
          "type": "array",
          "description": "List of Images",
          "items": {
            "$ref": "#/definitions/ImageGroup"
          },
          "x-ms-identifiers": []
        },
        "linkedAddIns": {
          "type": "array",
          "description": "List of linked add ins provided for the item",
          "items": {
            "type": "string"
          }
        },
        "links": {
          "type": "array",
          "description": "List of Links provided for the item",
          "items": {
            "$ref": "#/definitions/LinkProperties"
          }
        },
        "language": {
          "type": "string",
          "description": "The product language"
        },
        "hasStandardContractAmendments": {
          "type": "boolean",
          "description": "A value indicating whether standard contract amendments are present"
        },
        "offerId": {
          "type": "string",
          "description": "The offer id"
        },
        "standardContractAmendmentsRevisionId": {
          "type": "string",
          "description": "Standard contract amendments for the product"
        },
        "universalAmendmentUrl": {
          "type": "string",
          "description": "The universal amendment link for an enterprise contract"
        },
        "isPrivate": {
          "type": "boolean",
          "description": "Indicates if a product is private"
        },
        "isStopSell": {
          "type": "boolean",
          "description": "Indicates if a product is no longer available for sale"
        },
        "legalTermsUri": {
          "type": "string",
          "description": "Legal terms URI"
        },
        "legalTermsType": {
          "type": "string",
          "description": "Identifies the legal agreement framework governing product licensing and usage terms.\n- `None` - Standard marketplace terms apply without additional legal agreement requirements\n- `EA` - Microsoft Enterprise Agreement terms for volume licensing and enterprise customer deployments"
        },
        "supportUri": {
          "type": "string",
          "description": "Support uri of the product"
        },
        "uiDefinitionUri": {
          "type": "string",
          "description": "User interface definition uri"
        },
        "screenshotUris": {
          "type": "array",
          "description": "List of screenshot image URIs",
          "items": {
            "type": "string"
          }
        },
        "mediumIconUri": {
          "type": "string",
          "description": "URI to the medium product icon"
        },
        "largeIconUri": {
          "type": "string",
          "description": "URI to the large product icon"
        },
        "wideIconUri": {
          "type": "string",
          "description": "URI to the wide product icon"
        },
        "pricingDetailsUri": {
          "type": "string",
          "description": "Pricing details uri of the product"
        },
        "isReseller": {
          "type": "boolean",
          "description": "A value indicating whether microsoft is acting as a reseller"
        },
        "productOwnershipSellingMotion": {
          "type": "string",
          "description": "Product ownership selling motion"
        },
        "disableSendEmailOnPurchase": {
          "type": "boolean",
          "description": "Indication to disable sending email on purchase"
        },
        "isCoreVm": {
          "type": "boolean",
          "description": "Indicates if VM was originally a Core Virtual Machine"
        },
        "stopSellInfo": {
          "$ref": "#/definitions/StopSellInfo",
          "description": "A StopSellInfo object providing stop sell related data"
        },
        "marketingMaterial": {
          "$ref": "#/definitions/MarketingMaterial",
          "description": "Includes links to the learning and marketing materials as configured by the publisher"
        },
        "artifacts": {
          "type": "array",
          "description": "List of artifacts",
          "items": {
            "$ref": "#/definitions/Artifact"
          },
          "x-ms-identifiers": []
        },
        "plans": {
          "type": "array",
          "description": "Full set of plan/SKU attributes",
          "items": {
            "$ref": "#/definitions/PlanDetails"
          }
        },
        "hasAddOns": {
          "type": "boolean",
          "description": "Indicates that the SKU has add-ons"
        }
      },
      "required": [
        "uniqueProductId",
        "productType",
        "isPrivate",
        "isStopSell"
      ]
    },
    "ProductFulfillmentConfig": {
      "type": "object",
      "description": "Configuration for additional products bundled with early access pass SKUs",
      "properties": {
        "productSkuId": {
          "type": "string",
          "description": "Product and SKU ID for bundled products included with the license"
        },
        "defaultKeyActivationCount": {
          "type": "integer",
          "format": "int32",
          "description": "Quantity of the bundled product per license "
        }
      }
    },
    "ProductSingle": {
      "type": "object",
      "description": "Product resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProductDetails",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ProductSummary": {
      "type": "object",
      "description": "Returns a subset of Product attributes",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Product display name"
        },
        "popularity": {
          "type": "number",
          "format": "double",
          "description": "Popularity of the product"
        },
        "categoryIds": {
          "type": "array",
[...]
