{
  "swagger": "2.0",
  "info": {
    "version": "2021-05-01-preview",
    "title": "ExtensionTypes",
    "description": "Use these APIs to create extension resources through ARM, for Kubernetes Clusters."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterType}/{clusterName}/providers/Microsoft.KubernetesConfiguration/extensionTypes/{extensionTypeName}": {
      "get": {
        "description": "Get Extension Type details",
        "operationId": "ClusterExtensionType_Get",
        "x-ms-examples": {
          "ClusterExtensionType_Get": {
            "$ref": "./examples/ClusterExtensionType_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterRpParameter"
          },
          {
            "$ref": "#/parameters/ClusterTypeParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ExtensionTypeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtensionType"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterType}/{clusterName}/providers/Microsoft.KubernetesConfiguration/extensionTypes": {
      "get": {
        "description": "Get Extension Types",
        "operationId": "ClusterExtensionTypes_List",
        "x-ms-examples": {
          "ClusterExtensionTypes_List": {
            "$ref": "./examples/ClusterExtensionTypes_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterRpParameter"
          },
          {
            "$ref": "#/parameters/ClusterTypeParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtensionType"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/{clusterRp}/{clusterType}/locations/{location}/extensionTypes/{extensionTypeName}/versions": {
      "get": {
        "description": "List available versions for an Extension Type",
        "operationId": "ExtensionTypeVersion_List",
        "x-ms-examples": {
          "ExtensionTypeVersion_List": {
            "$ref": "./examples/ExtensionTypeVersion_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ClusterRpParameter"
          },
          {
            "$ref": "#/parameters/ClusterTypeParameter"
          },
          {
            "$ref": "#/parameters/ExtensionLocationParameter"
          },
          {
            "$ref": "#/parameters/ExtensionTypeNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtensionVersionList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/{clusterRp}/{clusterType}/locations/{location}/extensionTypes": {
      "get": {
        "tags": [
          "ExtensionType"
        ],
        "description": "List all Extension Types",
        "operationId": "LocationExtensionTypes_List",
        "x-ms-examples": {
          "LocationExtensionTypes_List": {
            "$ref": "./examples/LocationExtensionTypes_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ClusterRpParameter"
          },
          {
            "$ref": "#/parameters/ClusterTypeParameter"
          },
          {
            "$ref": "#/parameters/ExtensionLocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtensionTypeList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ExtensionTypeList": {
      "description": "List Extension Types",
      "properties": {
        "value": {
          "description": "The list of Extension Types",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExtensionType"
          }
        },
        "nextLink": {
          "description": "The link to fetch the next page of Extension Types",
          "type": "string"
        }
      }
    },
    "ExtensionType": {
      "type": "object",
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ExtensionTypeProperties",
          "description": "Describes the Resource Type properties."
        },
        "nextLink": {
          "type": "string",
          "description": "The link to fetch the next page of Extension Types"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true
        }
      },
      "description": "Represents an Extension Type."
    },
    "ExtensionTypeProperties": {
      "type": "object",
      "properties": {
        "releaseTrains": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Extension release train: preview or stable"
        },
        "supportedScopes": {
          "readOnly": true,
          "type": "object",
          "description": "Extension scopes",
          "$ref": "#/definitions/SupportedScopes"
        }
      },
      "description": "Properties of the connected cluster."
    },
    "ExtensionVersionList": {
      "description": "List versions for an Extension",
      "properties": {
        "value": {
          "description": "The list of extension versions",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExtensionVersion"
          }
        },
        "nextLink": {
          "description": "The link to fetch the next page of Extension Types",
          "type": "string"
        }
      }
    },
    "ExtensionVersion": {
      "description": "Represents an Extension version.",
      "type": "object",
      "properties": {
        "releaseTrain": {
          "type": "string",
          "readOnly": true,
          "description": "The release train associated with the Extension versoin"
        },
        "version": {
          "type": "string",
          "readOnly": true,
          "description": "The version for this Extension Type"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true
        }
      }
    },
    "SupportedScopes": {
      "type": "object",
      "description": "Extension scopes",
      "properties": {
        "defaultScope": {
          "type": "string",
          "description": "Default extension scopes: cluster or namespace"
        },
        "clusterScopeSettings": {
          "$ref": "#/definitions/ClusterScopeSettings"
        }
      }
    },
    "ClusterScopeSettings": {
      "type": "object",
      "description": "Extension scope settings",
      "properties": {
        "allowMultipleInstances": {
          "type": "boolean",
          "description": "Describes if multiple instances of the extension are allowed"
        },
        "defaultReleaseNamespace": {
          "type": "string",
          "description": "Default extension release namespace"
        }
      }
    }
  },
  "parameters": {
    "ClusterRpParameter": {
      "name": "clusterRp",
      "in": "path",
      "required": true,
      "type": "string",
      "enum": [
        "Microsoft.ContainerService",
        "Microsoft.Kubernetes"
      ],
      "description": "The Kubernetes cluster RP - either Microsoft.ContainerService (for AKS clusters) or Microsoft.Kubernetes (for OnPrem K8S clusters).",
      "x-ms-parameter-location": "method"
    },
    "ClusterTypeParameter": {
      "name": "clusterType",
      "in": "path",
      "required": true,
      "type": "string",
      "enum": [
        "managedClusters",
        "connectedClusters"
      ],
      "description": "The Kubernetes cluster resource name - either managedClusters (for AKS clusters) or connectedClusters (for OnPrem K8S clusters).",
      "x-ms-parameter-location": "method"
    },
    "ClusterNameParameter": {
      "name": "clusterName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the kubernetes cluster.",
      "x-ms-parameter-location": "method"
    },
    "ExtensionLocationParameter": {
      "name": "location",
      "in": "path",
      "description": "extension location",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ExtensionTypeNameParameter": {
      "name": "extensionTypeName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Extension type name",
      "x-ms-parameter-location": "method"
    }
  }
}
