{
	"swagger": "2.0",
	"info": {
		"title": "NetworkManagementClient",
		"description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
		"version": "2020-03-01"
	},
	"host": "management.azure.com",
	"schemes": [
		"https"
	],
	"consumes": [
		"application/json"
	],
	"produces": [
		"application/json"
	],
	"security": [
		{
			"azure_auth": [
				"user_impersonation"
			]
		}
	],
	"securityDefinitions": {
    "azure_auth": {
			"type": "oauth2",
			"authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
			"flow": "implicit",
			"description": "Azure Active Directory OAuth2 Flow.",
			"scopes": {
				"user_impersonation": "impersonate your user account"
			}
		}
	},
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteProviderPorts": {
      "get": {
        "tags": [
          "ExpressRouteProviderPorts"
        ],
        "operationId": "ExpressRouteProviderPorts_List",
        "description": "Retrieves all the ExpressRouteProviderPorts in a subscription.",
        "parameters": [
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of ExpressRouteProviderPort resources. If there are no ports for the provider, an empty list is returned.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteProviderPortListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteProviderPortList": {
            "$ref": "./examples/ExpressRouteProviderPortList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteProviderPorts": {
      "get": {
        "tags": [
          "ExpressRouteProviderPorts"
        ],
        "operationId": "ExpressRouteProviderPorts_ListByResourceGroup",
        "description": "Retrieves all the ExpressRouteProviderPorts in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful.The operation returns a list of ExpressRouteProviderPort resources. If there are no ports for the provider, an empty list is returned.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteProviderPortListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ExpressRouteProviderPortListByResourceGroup": {
            "$ref": "./examples/ExpressRouteProviderPortListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteProviderPorts/{providerPortDescription}": {
      "get": {
        "tags": [
          "ExpressRouteProviderPorts"
        ],
        "operationId": "ExpressRouteProviderPorts_Get",
        "description": "Gets details about the specified ExpressRouteProviderPort.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group (peering location of the port)."
          },
          {
            "name": "providerPortDescription",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The description of the ExpressRouteProviderPort."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting ExpressRouteProviderPort resource.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteProviderPort"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetExpressRouteCrossConnection": {
            "$ref": "./examples/ExpressRouteProviderPortGet.json"
          }
        }
      }
    }
  },
	"definitions": {
    "ExpressRouteProviderPortProperties": {
      "properties": {
        "portPairDescription": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the port pair."
        },
        "primaryAzurePort": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the primary port."
        },
        "secondaryAzurePort": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the secondary port."
        },
        "peeringLocation": {
          "type": "string",
          "description": "The peering location of the port pair."
        },
        "overprovisionFactor": {
          "type": "integer",
          "format": "int32",
          "description": "Overprovisioning factor for the port pair."
        },
        "portBandwidthInMbps": {
          "type": "integer",
          "format": "int32",
          "description": "Bandwidth of the port in Mbps"
        },
        "usedBandwidthInMbps": {
          "type": "integer",
          "format": "int32",
          "description": "Used Bandwidth of the port in Mbps"
        },
        "remainingBandwidthInMbps": {
          "type": "integer",
          "format": "int32",
          "description": "Remaining Bandwidth of the port in Mbps"
        }
      },
      "description": "Properties of ExpressRouteProviderPort."
    },
		"ExpressRouteProviderPort": {
			"properties": {
				"properties": {
					"x-ms-client-flatten": true,
					"$ref": "#/definitions/ExpressRouteProviderPortProperties",
					"description": "Properties of the express route Service Provider Port."
				},
				"etag": {
					"readOnly": true,
					"type": "string",
					"description": "A unique read-only string that changes whenever the resource is updated."
				}
			},
			"allOf": [
				{
					"$ref": "./network.json#/definitions/Resource"
				}
			],
			"description": "ExpressRouteProviderPort resource."
		},
    "ExpressRouteProviderPortListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExpressRouteProviderPort"
          },
          "description": "A list of ExpressRouteProviderPort resources."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for ListExpressRouteProviderPort API service call."
    }   
	}
}