{
  "swagger": "2.0",
  "info": {
    "title": "Azure Clean Room API",
    "version": "2025-01-31-preview",
    "description": "Azure Clean Room API",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Collaborations"
    },
    {
      "name": "Consortiums"
    },
    {
      "name": "Contracts"
    }
  ],
  "paths": {
    "/providers/Microsoft.CleanRoom/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List operations": {
            "$ref": "./examples/operations/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CleanRoom/collaborations": {
      "get": {
        "operationId": "Collaborations_ListBySubscription",
        "tags": [
          "Collaborations"
        ],
        "description": "List collaborations in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CollaborationsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List collaborations in subscription": {
            "$ref": "./examples/collaborations/Collaborations_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CleanRoom/consortiums": {
      "get": {
        "operationId": "Consortiums_ListBySubscription",
        "tags": [
          "Consortiums"
        ],
        "description": "List consortiums in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConsortiumsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List consortiums in subscription": {
            "$ref": "./examples/consortiums/Consortiums_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/collaborations": {
      "get": {
        "operationId": "Collaborations_ListByResourceGroup",
        "tags": [
          "Collaborations"
        ],
        "description": "List collaborations in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CollaborationsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List collaborations in resource group": {
            "$ref": "./examples/collaborations/Collaborations_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/collaborations/{collaborationName}": {
      "get": {
        "operationId": "Collaborations_Get",
        "tags": [
          "Collaborations"
        ],
        "description": "Get a collaboration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "collaborationName",
            "in": "path",
            "description": "Name of the collaboration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Collaboration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a collaboration": {
            "$ref": "./examples/collaborations/Collaborations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Collaborations_Create",
        "tags": [
          "Collaborations"
        ],
        "description": "Create or update a collaboration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "collaborationName",
            "in": "path",
            "description": "Name of the collaboration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The collaboration to create or update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Collaboration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Collaboration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Collaboration"
            }
          },
          "201": {
            "description": "Resource 'Collaboration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Collaboration"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Collaboration": {
            "$ref": "./examples/collaborations/Collaborations_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Collaborations_Update",
        "tags": [
          "Collaborations"
        ],
        "description": "Updates tags on a collaboration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "collaborationName",
            "in": "path",
            "description": "Name of the collaboration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Resource properties to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceTags"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Collaboration"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update tags on a collaboration": {
            "$ref": "./examples/collaborations/Collaborations_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Collaborations_Delete",
        "tags": [
          "Collaborations"
        ],
        "description": "Deletes a collaboration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "collaborationName",
            "in": "path",
            "description": "Name of the collaboration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a collaboration": {
            "$ref": "./examples/collaborations/Collaborations_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/collaborations/{collaborationName}/contracts": {
      "get": {
        "operationId": "Contracts_ListByCollaboration",
        "tags": [
          "Contracts"
        ],
        "description": "List contracts in a collaboration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "collaborationName",
            "in": "path",
            "description": "Name of the collaboration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContractsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List contracts in collaboration": {
            "$ref": "./examples/contracts/Contracts_ListByCollaboration.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/collaborations/{collaborationName}/contracts/{contractName}": {
      "get": {
        "operationId": "Contracts_Get",
        "tags": [
          "Contracts"
        ],
        "description": "Get a contract.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "collaborationName",
            "in": "path",
            "description": "Name of the collaboration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "contractName",
            "in": "path",
            "description": "Name of the contract.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Contract"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a contract": {
            "$ref": "./examples/contracts/Contracts_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/collaborations/{collaborationName}/contracts/{contractName}/proposeTemplate": {
      "post": {
        "operationId": "Contracts_ProposeTemplate",
        "tags": [
          "Contracts"
        ],
        "description": "Generates and proposes contract template.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "collaborationName",
            "in": "path",
            "description": "Name of the collaboration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "contractName",
            "in": "path",
            "description": "Name of the contract.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Contract"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Generate template for a contract": {
            "$ref": "./examples/contracts/Contracts_ProposeTemplate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/consortiums": {
      "get": {
        "operationId": "Consortiums_ListByResourceGroup",
        "tags": [
          "Consortiums"
        ],
        "description": "List consortiums in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConsortiumsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List consortiums in resource group": {
            "$ref": "./examples/consortiums/Consortiums_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/consortiums/{consortiumName}": {
      "get": {
        "operationId": "Consortiums_Get",
        "tags": [
          "Consortiums"
        ],
        "description": "Get a consortium.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "consortiumName",
            "in": "path",
            "description": "Name of the consortium.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Consortium"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a consortium": {
            "$ref": "./examples/consortiums/Consortiums_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Consortiums_Create",
        "tags": [
          "Consortiums"
        ],
        "description": "Create or update a consortium.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "consortiumName",
            "in": "path",
            "description": "Name of the consortium.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The consortium to create or update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Consortium"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Consortium' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Consortium"
            }
          },
          "201": {
            "description": "Resource 'Consortium' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Consortium"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Consortium": {
            "$ref": "./examples/consortiums/Consortiums_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Consortiums_Update",
        "tags": [
          "Consortiums"
        ],
        "description": "Updates tags on a consortium.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "consortiumName",
            "in": "path",
            "description": "Name of the consortium.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Resource properties to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceTags"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Consortium"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update tags on a consortium": {
            "$ref": "./examples/consortiums/Consortiums_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Consortiums_Delete",
        "tags": [
          "Consortiums"
        ],
        "description": "Deletes a consortium.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "consortiumName",
            "in": "path",
            "description": "Name of the consortium.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a consortium": {
            "$ref": "./examples/consortiums/Consortiums_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/consortiums/{consortiumName}/pause": {
      "post": {
        "operationId": "Consortiums_Pause",
        "tags": [
          "Consortiums"
        ],
        "description": "Pauses consortium.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "consortiumName",
            "in": "path",
            "description": "Name of the consortium.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Consortium"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Pause consortium": {
            "$ref": "./examples/consortiums/Consortiums_Pause.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/consortiums/{consortiumName}/resume": {
      "post": {
        "operationId": "Consortiums_Resume",
        "tags": [
          "Consortiums"
        ],
        "description": "Resumes consortium.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "consortiumName",
            "in": "path",
            "description": "Name of the consortium.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Consortium"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Resume consortium": {
            "$ref": "./examples/consortiums/Consortiums_Resume.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Collaboration": {
      "type": "object",
      "description": "Defines the collaboration.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CollaborationProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        },
        "kind": {
          "type": "string",
          "description": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type.",
          "pattern": "^[-\\w\\._,\\(\\)]+$",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CollaborationMember": {
      "type": "object",
      "description": "Configuration details of the collaboration members.",
      "properties": {
        "identifier": {
          "type": "string",
          "description": "Identifier of the member.",
          "readOnly": true
        },
        "signature": {
          "type": "string",
          "description": "Signature of the member (member identifier signed using the member private certificate)."
        },
        "certificatePem": {
          "type": "string",
          "description": "Gets or sets the public certificate of the member in PEM format."
        }
      },
      "required": [
        "signature",
        "certificatePem"
      ]
    },
    "CollaborationProperties": {
      "type": "object",
      "description": "Defines the resource properties.",
      "properties": {
        "consortiumEndpoint": {
          "type": "string",
          "description": "Gets or sets the CCF endpoint."
        },
        "consortiumServiceCertificatePem": {
          "type": "string",
          "description": "Gets or sets the CCF public service certificate in PEM format."
        },
        "member": {
          "$ref": "#/definitions/CollaborationMember",
          "description": "Gets or sets the collaboration member."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets or sets the provisioning state.",
          "readOnly": true
        }
      },
      "required": [
        "consortiumEndpoint",
        "consortiumServiceCertificatePem",
        "member"
      ]
    },
    "CollaborationType": {
      "type": "string",
      "description": "Types of collaboration types.",
      "enum": [
        "CleanRoom"
      ],
      "x-ms-enum": {
        "name": "CollaborationType",
        "modelAsString": true,
        "values": [
          {
            "name": "CleanRoom",
            "value": "CleanRoom"
          }
        ]
      }
    },
    "CollaborationsList": {
      "type": "object",
      "description": "List of collaborations.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Collaboration items on this page",
          "items": {
            "$ref": "#/definitions/Collaboration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "Consortium": {
      "type": "object",
      "description": "Defines the consortium.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConsortiumProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        },
        "kind": {
          "type": "string",
          "description": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type.",
          "pattern": "^[-\\w\\._,\\(\\)]+$",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ConsortiumMember": {
      "type": "object",
      "description": "Configuration details of the consortium member.",
      "properties": {
        "identifier": {
          "type": "string",
          "description": "Identifier of the member."
        },
        "certificatePem": {
          "type": "string",
          "description": "Gets or sets the public certificate of the member in PEM format."
        },
        "encryptionKeyPem": {
          "type": "string",
          "description": "Gets or sets the public encryption key of the member in PEM format."
        },
        "isOperator": {
          "type": "boolean",
          "description": "Indicates if the member is an operator."
        }
      },
      "required": [
        "identifier",
        "certificatePem",
        "encryptionKeyPem",
        "isOperator"
      ]
    },
    "ConsortiumProperties": {
      "type": "object",
      "description": "Defines the resource properties.",
      "properties": {
        "consortiumType": {
          "$ref": "#/definitions/ConsortiumType",
          "description": "Gets or sets the consortium type."
        },
        "collaborationType": {
          "$ref": "#/definitions/CollaborationType",
          "description": "Gets or sets the collaboration type."
        },
        "endpoint": {
          "type": "string",
          "description": "Gets or sets the endpoint.",
          "readOnly": true
        },
        "serviceCertificatePem": {
          "type": "string",
          "description": "Gets or sets the public service certificate in PEM format.",
          "readOnly": true
        },
        "members": {
          "type": "array",
          "description": "Gets or sets the list of members to be added to the consortium.",
          "items": {
            "$ref": "#/definitions/ConsortiumMember"
          },
          "x-ms-identifiers": []
        },
        "managedOnBehalfOfConfiguration": {
          "$ref": "#/definitions/ManagedOnBehalfOfConfiguration",
          "description": "Gets or sets the managed on-behalf-of configuration.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets or sets the provisioning state.",
          "readOnly": true
        }
      }
    },
    "ConsortiumType": {
      "type": "string",
      "description": "Types of consortium types.",
      "enum": [
        "ConfidentialACI"
      ],
      "x-ms-enum": {
        "name": "ConsortiumType",
        "modelAsString": true,
        "values": [
          {
            "name": "ConfidentialACI",
            "value": "ConfidentialACI"
          }
        ]
      }
    },
    "ConsortiumsList": {
      "type": "object",
      "description": "List of consortiums.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Consortium items on this page",
          "items": {
            "$ref": "#/definitions/Consortium"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "Contract": {
      "type": "object",
      "description": "Defines the contract.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ContractProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        },
        "kind": {
          "type": "string",
          "description": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type.",
          "pattern": "^[-\\w\\._,\\(\\)]+$",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ContractProperties": {
      "type": "object",
      "description": "Defines the resource properties.",
      "properties": {
        "contractId": {
          "type": "string",
          "description": "Gets or sets the contract Id.",
          "readOnly": true
        },
        "deploymentPolicy": {
          "type": "string",
          "description": "Gets or sets the deployment policy.",
          "readOnly": true
        },
        "deploymentTemplate": {
          "type": "string",
          "description": "Gets or sets the deployment template.",
          "readOnly": true
        }
      },
      "required": [
        "contractId"
      ]
    },
    "ContractsList": {
      "type": "object",
      "description": "List of contracts.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Contract items on this page",
          "items": {
            "$ref": "#/definitions/Contract"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ManagedOnBehalfOfConfiguration": {
      "type": "object",
      "description": "Managed-On-Behalf-Of configuration properties. This configuration exists for the resources where a resource provider manages those resources on behalf of the resource owner.",
      "properties": {
        "moboBrokerResources": {
          "type": "array",
          "description": "Managed-On-Behalf-Of broker resources",
          "items": {
            "$ref": "#/definitions/MoboBrokerResource"
          },
          "x-ms-identifiers": [
            "id"
          ]
        }
      }
    },
    "MoboBrokerResource": {
      "type": "object",
      "description": "Managed-On-Behalf-Of broker resource. This resource is created by the Resource Provider to manage some resources on behalf of the user.",
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "Resource identifier of a Managed-On-Behalf-Of broker resource"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning states.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Resource is being created."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Resource is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Resource is being deleted."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Resource operation has been accepted."
          }
        ]
      },
      "readOnly": true
    },
    "ResourceTags": {
      "type": "object",
      "description": "Object containing resource tags for patch operations.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {}
}
