{
  "swagger": "2.0",
  "info": {
    "title": "Azure Monitor Workspaces Control Plane API",
    "version": "2023-04-03",
    "description": "Provides operations for working with Azure Monitor Workspaces",
    "contact": {
      "email": "obsaccounts@microsoft.com"
    },
    "x-ms-code-generation-settings": {
      "name": "MonitorManagementClient"
    }
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "AzureMonitorWorkspaces",
      "description": "A management operation for microsoft.monitor/accounts"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Monitor/accounts": {
      "get": {
        "operationId": "AzureMonitorWorkspaces_ListBySubscription",
        "tags": [
          "AzureMonitorWorkspaces"
        ],
        "description": "Lists all Azure Monitor Workspaces in the specified subscription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResourceListResult"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Azure Monitor Workspaces by subscription": {
            "$ref": "./examples/AzureMonitorWorkspacesListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts": {
      "get": {
        "operationId": "AzureMonitorWorkspaces_ListByResourceGroup",
        "tags": [
          "AzureMonitorWorkspaces"
        ],
        "description": "Lists all Azure Monitor Workspaces in the specified resource group",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResourceListResult"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Azure Monitor Workspaces by resource group": {
            "$ref": "./examples/AzureMonitorWorkspacesListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}": {
      "get": {
        "operationId": "AzureMonitorWorkspaces_Get",
        "tags": [
          "AzureMonitorWorkspaces"
        ],
        "description": "Returns the specified Azure Monitor Workspace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureMonitorWorkspaceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed successfully",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Azure Monitor Workspace": {
            "$ref": "./examples/AzureMonitorWorkspacesGet.json"
          }
        }
      },
      "put": {
        "operationId": "AzureMonitorWorkspaces_Create",
        "tags": [
          "AzureMonitorWorkspaces"
        ],
        "description": "Creates or updates an Azure Monitor Workspace",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureMonitorWorkspaceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "azureMonitorWorkspaceProperties",
            "in": "body",
            "description": "Properties that need to be specified to create a new Azure Monitor Workspace",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure Monitor Workspace was successfully updated",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResource"
            }
          },
          "201": {
            "description": "Azure Monitor Workspace was successfully created",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update an Azure Monitor Workspace": {
            "$ref": "./examples/AzureMonitorWorkspacesCreate.json"
          }
        }
      },
      "patch": {
        "operationId": "AzureMonitorWorkspaces_Update",
        "tags": [
          "AzureMonitorWorkspaces"
        ],
        "description": "Updates part of an Azure Monitor Workspace",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureMonitorWorkspaceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "azureMonitorWorkspaceProperties",
            "in": "body",
            "description": "The payload",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResourceForUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure Monitor Workspace was successfully updated",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update an Azure Monitor Workspace": {
            "$ref": "./examples/AzureMonitorWorkspacesUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "AzureMonitorWorkspaces_Delete",
        "tags": [
          "AzureMonitorWorkspaces"
        ],
        "description": "Deletes an Azure Monitor Workspace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureMonitorWorkspaceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Azure Monitor Workspace delete operation has been accepted and will complete asynchronously",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string"
              },
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Azure Monitor Workspace does not exist"
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an Azure Monitor Workspace": {
            "$ref": "./examples/AzureMonitorWorkspacesDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AzureMonitorWorkspace": {
      "type": "object",
      "description": "Properties of an Azure Monitor Workspace",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "The immutable Id of the Azure Monitor Workspace. This property is read-only.",
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        },
        "metrics": {
          "description": "Properties related to the metrics container in the Azure Monitor Workspace",
          "allOf": [
            {
              "$ref": "#/definitions/Metrics"
            }
          ],
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        },
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state of the Azure Monitor Workspace. Set to Succeeded if everything is healthy.",
          "enum": [
            "Creating",
            "Succeeded",
            "Deleting",
            "Failed",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          },
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        },
        "defaultIngestionSettings": {
          "description": "The Data Collection Rule and Endpoint used for ingestion by default.",
          "allOf": [
            {
              "$ref": "#/definitions/IngestionSettings"
            }
          ],
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        },
        "privateEndpointConnections": {
          "type": "array",
          "description": "List of private endpoint connections",
          "items": {
            "$ref": "../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "id"
          ],
          "x-ms-mutability": [
            "read"
          ]
        },
        "publicNetworkAccess": {
          "type": "string",
          "description": "Gets or sets allow or disallow public network access to Azure Monitor Workspace",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "PublicNetworkAccess",
            "modelAsString": true
          },
          "x-ms-mutability": [
            "create",
            "read",
            "update"
          ]
        }
      }
    },
    "AzureMonitorWorkspaceResource": {
      "type": "object",
      "description": "An Azure Monitor Workspace definition",
      "properties": {
        "properties": {
          "description": "Resource properties",
          "allOf": [
            {
              "$ref": "#/definitions/AzureMonitorWorkspace"
            }
          ],
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "Resource entity tag (ETag)",
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        }
      },
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "x-ms-azure-resource": true
    },
    "AzureMonitorWorkspaceResourceForUpdate": {
      "type": "object",
      "description": "Definition of ARM tracked top level resource properties for the Update operation",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "AzureMonitorWorkspaceResourceListResult": {
      "type": "object",
      "description": "A pageable list of resources",
      "properties": {
        "value": {
          "type": "array",
          "description": "A list of resources",
          "items": {
            "$ref": "#/definitions/AzureMonitorWorkspaceResource"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results"
        }
      },
      "required": [
        "value"
      ]
    },
    "IngestionSettings": {
      "type": "object",
      "description": "Settings for data ingestion",
      "properties": {
        "dataCollectionRuleResourceId": {
          "type": "string",
          "description": "The Azure resource Id of the default data collection rule for this Azure Monitor Workspace.",
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        },
        "dataCollectionEndpointResourceId": {
          "type": "string",
          "description": "The Azure resource Id of the default data collection endpoint for this Azure Monitor Workspace.",
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        }
      }
    },
    "Metrics": {
      "type": "object",
      "description": "Properties related to the metrics container in the Azure Monitor Workspace",
      "properties": {
        "prometheusQueryEndpoint": {
          "type": "string",
          "description": "The Prometheus query endpoint for the Azure Monitor Workspace",
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        },
        "internalId": {
          "type": "string",
          "description": "An internal identifier for the metrics container. Only to be used by the system",
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        }
      }
    }
  },
  "parameters": {
    "AzureMonitorWorkspaceNameParameter": {
      "name": "azureMonitorWorkspaceName",
      "in": "path",
      "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
      "required": true,
      "type": "string",
      "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$",
      "x-ms-parameter-location": "method"
    }
  }
}