{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.CloudDevicePlatform management service",
    "version": "2024-06-01-preview",
    "description": "Microsoft.CloudDevicePlatform Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "DelegatedIdentities"
    }
  ],
  "paths": {
    "/providers/Microsoft.CloudDevicePlatform/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CloudDevicePlatform/delegatedIdentities": {
      "get": {
        "operationId": "DelegatedIdentities_ListBySubscription",
        "tags": [
          "DelegatedIdentities"
        ],
        "description": "List DelegatedIdentity resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DelegatedIdentityListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DelegatedIdentities_ListBySubscription": {
            "$ref": "./examples/DelegatedIdentities_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudDevicePlatform/delegatedIdentities": {
      "get": {
        "operationId": "DelegatedIdentities_ListByResourceGroup",
        "tags": [
          "DelegatedIdentities"
        ],
        "description": "List DelegatedIdentity resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DelegatedIdentityListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DelegatedIdentities_ListByResourceGroup": {
            "$ref": "./examples/DelegatedIdentities_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudDevicePlatform/delegatedIdentities/{delegatedIdentityName}": {
      "get": {
        "operationId": "DelegatedIdentities_Get",
        "tags": [
          "DelegatedIdentities"
        ],
        "description": "Get a DelegatedIdentity",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "delegatedIdentityName",
            "in": "path",
            "description": "The name of the DelegatedIdentity",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,128}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DelegatedIdentity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DelegatedIdentities_Get": {
            "$ref": "./examples/DelegatedIdentities_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DelegatedIdentities_CreateOrUpdate",
        "tags": [
          "DelegatedIdentities"
        ],
        "description": "Create a DelegatedIdentity",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "delegatedIdentityName",
            "in": "path",
            "description": "The name of the DelegatedIdentity",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,128}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DelegatedIdentity"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DelegatedIdentity' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DelegatedIdentity"
            }
          },
          "201": {
            "description": "Resource 'DelegatedIdentity' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DelegatedIdentity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DelegatedIdentities_CreateOrUpdate": {
            "$ref": "./examples/DelegatedIdentities_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "DelegatedIdentities_Update",
        "tags": [
          "DelegatedIdentities"
        ],
        "description": "Update a DelegatedIdentity",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "delegatedIdentityName",
            "in": "path",
            "description": "The name of the DelegatedIdentity",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,128}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DelegatedIdentityUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DelegatedIdentity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DelegatedIdentities_Update": {
            "$ref": "./examples/DelegatedIdentities_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "DelegatedIdentities_Delete",
        "tags": [
          "DelegatedIdentities"
        ],
        "description": "Delete a DelegatedIdentity",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "delegatedIdentityName",
            "in": "path",
            "description": "The name of the DelegatedIdentity",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,128}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DelegatedIdentities_Delete": {
            "$ref": "./examples/DelegatedIdentities_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "DelegatedIdentity": {
      "type": "object",
      "description": "Represents a CloudDevicePlatform delegated identity resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DelegatedIdentityProperties",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentitywithdelegation.json#/definitions/ManagedServiceIdentityWithDelegation",
          "description": "The identity of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DelegatedIdentityListResult": {
      "type": "object",
      "description": "The response of a DelegatedIdentity list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DelegatedIdentity items on this page",
          "items": {
            "$ref": "#/definitions/DelegatedIdentity"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DelegatedIdentityProperties": {
      "type": "object",
      "description": "Represents the properties of a CloudDevicePlatform delegated identity resource.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The status of the last provisioning operation performed on the resource.",
          "readOnly": true
        }
      }
    },
    "DelegatedIdentityUpdate": {
      "type": "object",
      "description": "Represents the properties of a DelegatedIdentity resource that can be updated.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentitywithdelegation.json#/definitions/ManagedServiceIdentityWithDelegation",
          "description": "Updatable managed service identity"
        }
      }
    }
  },
  "parameters": {}
}
