{
  "swagger": "2.0",
  "info": {
    "title": "ResourceManagementClient",
    "version": "2025-04-01",
    "description": "Provides operations for working with resources and resource groups.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ResourceGroups"
    },
    {
      "name": "Tags"
    },
    {
      "name": "Resources"
    },
    {
      "name": "SpecificResources"
    }
  ],
  "paths": {
    "/{resourceId}": {
      "get": {
        "operationId": "Resources_GetById",
        "tags": [
          "Resources"
        ],
        "description": "Gets a resource by ID.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GenericResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "operationId": "Resources_CreateOrUpdateById",
        "tags": [
          "Resources"
        ],
        "description": "Create a resource by ID.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GenericResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GenericResource"
            }
          },
          "201": {
            "description": "Resource 'GenericResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/GenericResource"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/GenericResource"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Resources_UpdateById",
        "tags": [
          "Resources"
        ],
        "description": "Update a resource by ID.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GenericResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/GenericResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Resources_DeleteById",
        "tags": [
          "Resources"
        ],
        "description": "Deletes a resource by ID.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "head": {
        "operationId": "Resources_CheckExistenceById",
        "tags": [
          "Resources"
        ],
        "description": "Checks by ID whether a resource exists. This API currently works only for a limited set of Resource providers. In the event that a Resource provider does not implement this API, ARM will respond with a 405. The alternative then is to use the GET API to check for the existence of the resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "204": {
            "description": "The Azure resource exists"
          },
          "404": {
            "description": "The Azure resource is not found"
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Resources/tags/default": {
      "get": {
        "operationId": "Tags_GetAtScope",
        "tags": [
          "Tags"
        ],
        "summary": "Gets the entire set of tags on a resource or subscription.",
        "description": "Gets the entire set of tags on a resource or subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TagsResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get tags on a resource": {
            "$ref": "./examples/GetTagsResource.json"
          },
          "Get tags on a subscription": {
            "$ref": "./examples/GetTagsSubscription.json"
          }
        }
      },
      "put": {
        "operationId": "Tags_CreateOrUpdateAtScope",
        "tags": [
          "Tags"
        ],
        "summary": "Creates or updates the entire set of tags on a resource or subscription.",
        "description": "This operation allows adding or replacing the entire set of tags on the specified resource or subscription. The specified entity can have a maximum of 50 tags.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'TagsResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/TagsResource"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update tags on a resource": {
            "$ref": "./examples/PutTagsResource.json"
          },
          "Update tags on a subscription": {
            "$ref": "./examples/PutTagsSubscription.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/TagsResource"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Tags_UpdateAtScope",
        "tags": [
          "Tags"
        ],
        "summary": "Selectively updates the set of tags on a resource or subscription.",
        "description": "This operation allows replacing, merging or selectively deleting tags on the specified resource or subscription. The specified entity can have a maximum of 50 tags at the end of the operation. The 'replace' option replaces the entire set of existing tags with a new set. The 'merge' option allows adding tags with new names and updating the values of tags with existing names. The 'delete' option allows selectively deleting tags based on given names or name/value pairs.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TagsResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update tags on a resource": {
            "$ref": "./examples/PatchTagsResource.json"
          },
          "Update tags on a subscription": {
            "$ref": "./examples/PatchTagsSubscription.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/TagsResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Tags_DeleteAtScope",
        "tags": [
          "Tags"
        ],
        "summary": "Deletes the entire set of tags on a resource or subscription.",
        "description": "Deletes the entire set of tags on a resource or subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update tags on a resource": {
            "$ref": "./examples/DeleteTagsResource.json"
          },
          "Update tags on a subscription": {
            "$ref": "./examples/DeleteTagsSubscription.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers": {
      "get": {
        "operationId": "Providers_ListAtTenantScope",
        "description": "Gets all resource providers for the tenant.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The properties to include in the results.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProviderListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/{resourceProviderNamespace}": {
      "get": {
        "operationId": "Providers_GetAtTenantScope",
        "description": "Gets the specified resource provider at the tenant level.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The $expand query parameter. For example, to include property aliases in response, use $expand=resourceTypes/aliases.",
            "required": false,
            "type": "string"
          },
          {
            "name": "resourceProviderNamespace",
            "in": "path",
            "description": "The namespace of the resource provider.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Provider"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a resource provider at tenant scope": {
            "$ref": "./examples/GetNamedProviderAtTenant.json"
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{groupId}/providers/{resourceProviderNamespace}/register": {
      "post": {
        "operationId": "Providers_RegisterAtManagementGroupScope",
        "description": "Registers a management group with a resource provider. Use this operation to register a resource provider with resource types that can be deployed at the management group scope. It does not recursively register subscriptions within the management group. Instead, you must register subscriptions individually.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceProviderNamespace",
            "in": "path",
            "description": "The management group ID.The namespace of the resource provider to register.",
            "required": true,
            "type": "string"
          },
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Resources/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers": {
      "get": {
        "operationId": "Providers_List",
        "description": "Gets all resource providers for a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The properties to include in the results. For example, use &$expand=metadata in the query string to retrieve resource provider metadata. To include property aliases in response, use $expand=resourceTypes/aliases.",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProviderListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get providers.": {
            "$ref": "./examples/GetProviders.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}": {
      "get": {
        "operationId": "Providers_Get",
        "description": "Gets the specified resource provider.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The $expand query parameter. For example, to include property aliases in response, use $expand=resourceTypes/aliases.",
            "required": false,
            "type": "string"
          },
          {
            "name": "resourceProviderNamespace",
            "in": "path",
            "description": "The namespace of the resource provider.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Provider"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get provider.": {
            "$ref": "./examples/GetProvider.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/providerPermissions": {
      "get": {
        "operationId": "Providers_ProviderPermissions",
        "description": "Get the provider permissions.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceProviderNamespace",
            "in": "path",
            "description": "The namespace of the resource provider.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProviderPermissionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get provider resource types.": {
            "$ref": "./examples/GetProviderPermissions.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/register": {
      "post": {
        "operationId": "Providers_Register",
        "description": "Registers a subscription with a resource provider.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceProviderNamespace",
            "in": "path",
            "description": "The namespace of the resource provider to register.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The third party consent for S2S.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ProviderRegistrationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Provider"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/resourceTypes": {
      "get": {
        "operationId": "ProviderResourceTypes_List",
        "description": "List the resource types for a specified resource provider.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The $expand query parameter.",
            "required": false,
            "type": "string"
          },
          {
            "name": "resourceProviderNamespace",
            "in": "path",
            "description": "The namespace of the resource provider.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProviderResourceTypeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get provider resource types.": {
            "$ref": "./examples/GetProviderResourceTypes.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/unregister": {
      "post": {
        "operationId": "Providers_Unregister",
        "description": "Unregisters a subscription from a resource provider.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceProviderNamespace",
            "in": "path",
            "description": "The namespace of the resource provider to unregister.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Provider"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}": {
      "get": {
        "operationId": "ResourceGroups_Get",
        "tags": [
          "ResourceGroups"
        ],
        "description": "Gets a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group to get. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "operationId": "ResourceGroups_CreateOrUpdate",
        "tags": [
          "ResourceGroups"
        ],
        "description": "Creates or updates a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group to get. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update a resource group.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ResourceGroup' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ResourceGroup"
            }
          },
          "201": {
            "description": "Resource 'ResourceGroup' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ResourceGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a resource group": {
            "$ref": "./examples/CreateResourceGroup.json"
          }
        }
      },
      "patch": {
        "operationId": "ResourceGroups_Update",
        "tags": [
          "ResourceGroups"
        ],
        "description": "Resource groups can be updated through a simple PATCH operation to a group address. The format of the request is the same as that for creating a resource group. If a field is unspecified, the current value is retained.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group to get. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update a resource group.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceGroupPatchable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "operationId": "ResourceGroups_Delete",
        "tags": [
          "ResourceGroups"
        ],
        "description": "When you delete a resource group, all of its resources are also deleted. Deleting a resource group deletes all of its template deployments and currently stored operations.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group to get. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "forceDeletionTypes",
            "in": "query",
            "description": "The resource types you want to force delete. Currently, only the following is supported: forceDeletionTypes=Microsoft.Compute/virtualMachines,Microsoft.Compute/virtualMachineScaleSets",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Force delete all the Virtual Machines and Virtual Machine Scale Sets in a resource group": {
            "$ref": "./examples/ForceDeleteVMsAndVMSSInResourceGroup.json"
          },
          "Force delete all the Virtual Machines in a resource group": {
            "$ref": "./examples/ForceDeleteVMsInResourceGroup.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "head": {
        "operationId": "ResourceGroups_CheckExistence",
        "tags": [
          "ResourceGroups"
        ],
        "description": "Checks whether a resource group exists.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group to get. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "204": {
            "description": "The Azure resource exists"
          },
          "404": {
            "description": "The Azure resource is not found"
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/exportTemplate": {
      "post": {
        "operationId": "ResourceGroups_ExportTemplate",
        "tags": [
          "ResourceGroups"
        ],
        "description": "Captures the specified resource group as a template.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group to get. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for exporting the template.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExportTemplateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceGroupExportResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Export a resource group": {
            "$ref": "./examples/ExportResourceGroup.json"
          },
          "Export a resource group as Bicep": {
            "$ref": "./examples/ExportResourceGroupAsBicep.json"
          },
          "Export a resource group with filtering": {
            "$ref": "./examples/ExportResourceGroupWithFiltering.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/Azure.ResourceManager.ArmResponse%3CResourceGroupExportResult%3E"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{sourceResourceGroupName}/moveResources": {
      "post": {
        "operationId": "Resources_MoveResources",
        "tags": [
          "ResourceGroups"
        ],
        "description": "The resources to be moved must be in the same source resource group in the source subscription being used. The target resource group may be in a different subscription. When moving resources, both the source group and the target group are locked for the duration of the operation. Write and delete operations are blocked on the groups until the move completes.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "sourceResourceGroupName",
            "in": "path",
            "description": "The name of the resource group to get. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for moving resources.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourcesMoveInfo"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/TypeSpec.Http.NoContentResponse"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/resources": {
      "get": {
        "operationId": "Resources_ListByResourceGroup",
        "tags": [
          "ResourceGroups"
        ],
        "description": "Get all the resources for a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group to get. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation.<br><br>The properties you can use for eq (equals) or ne (not equals) are: location, resourceType, name, resourceGroup, identity, identity/principalId, plan, plan/publisher, plan/product, plan/name, plan/version, and plan/promotionCode.<br><br>For example, to filter by a resource type, use: $filter=resourceType eq 'Microsoft.Network/virtualNetworks'<br><br>You can use substringof(value, property) in the filter. The properties you can use for substring are: name and resourceGroup.<br><br>For example, to get all resources with 'demo' anywhere in the name, use: $filter=substringof('demo', name)<br><br>You can link more than one substringof together by adding and/or operators.<br><br>You can filter by tag names and values. For example, to filter for a tag name and value, use $filter=tagName eq 'tag1' and tagValue eq 'Value1'. When you filter by a tag name and value, the tags for each resource are not returned in the results.<br><br>You can use some properties together when filtering. The combinations you can use are: substringof and/or resourceType, plan and plan/publisher and plan/name, identity and identity/principalId.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Comma-separated list of additional properties to be included in the response. Valid values include `createdTime`, `changedTime` and `provisioningState`. For example, `$expand=createdTime,changedTime`.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The number of results to return. If null is passed, returns all resources.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{sourceResourceGroupName}/validateMoveResources": {
      "post": {
        "operationId": "Resources_ValidateMoveResources",
        "tags": [
          "ResourceGroups"
        ],
        "description": "This operation checks whether the specified resources can be moved to the target. The resources to be moved must be in the same source resource group in the source subscription being used. The target resource group may be in a different subscription. If validation succeeds, it returns HTTP response code 204 (no content). If validation fails, it returns HTTP response code 409 (Conflict) with an error message. Retrieve the URL in the Location header value to check the result of the long-running operation.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "sourceResourceGroupName",
            "in": "path",
            "description": "The name of the resource group to get. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for moving resources.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourcesMoveInfo"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/TypeSpec.Http.NoContentResponse"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups": {
      "get": {
        "operationId": "ResourceGroups_List",
        "tags": [
          "ResourceGroups"
        ],
        "description": "Gets all the resource groups for a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation.<br><br>You can filter by tag names and values. For example, to filter for a tag name and value, use $filter=tagName eq 'tag1' and tagValue eq 'Value1'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The number of results to return. If null is passed, returns all resource groups.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}": {
      "get": {
        "operationId": "Resources_Get",
        "tags": [
          "SpecificResources"
        ],
        "description": "Gets a resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group containing the resource to get. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "resourceProviderNamespace",
            "in": "path",
            "description": "The resource provider of the resource to check.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parentResourcePath",
            "in": "path",
            "description": "The parent resource identity.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The resource type.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the resource to check whether it exists.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GenericResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "operationId": "Resources_CreateOrUpdate",
        "tags": [
          "SpecificResources"
        ],
        "description": "Creates a resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group containing the resource to get. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "resourceProviderNamespace",
            "in": "path",
            "description": "The resource provider of the resource to check.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parentResourcePath",
            "in": "path",
            "description": "The parent resource identity.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The resource type.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the resource to check whether it exists.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GenericResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GenericResource"
            }
          },
          "201": {
            "description": "Resource 'GenericResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/GenericResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/GenericResource"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Resources_Update",
        "tags": [
          "SpecificResources"
        ],
        "description": "Updates a resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group containing the resource to get. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "resourceProviderNamespace",
            "in": "path",
            "description": "The resource provider of the resource to check.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parentResourcePath",
            "in": "path",
            "description": "The parent resource identity.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The resource type.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the resource to check whether it exists.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GenericResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "operationId": "Resources_Delete",
        "tags": [
          "SpecificResources"
        ],
        "description": "Deletes a resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group containing the resource to get. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "resourceProviderNamespace",
            "in": "path",
            "description": "The resource provider of the resource to check.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parentResourcePath",
            "in": "path",
            "description": "The parent resource identity.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The resource type.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the resource to check whether it exists.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "head": {
        "operationId": "Resources_CheckExistence",
        "tags": [
          "SpecificResources"
        ],
        "description": "Checks whether a resource exists.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group containing the resource to get. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "resourceProviderNamespace",
            "in": "path",
            "description": "The resource provider of the resource to check.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parentResourcePath",
            "in": "path",
            "description": "The parent resource identity.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The resource type.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the resource to check whether it exists.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "The Azure resource exists"
          },
          "404": {
            "description": "The Azure resource is not found"
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resources": {
      "get": {
        "operationId": "Resources_List",
        "description": "Get all the resources in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation.<br><br>Filter comparison operators include `eq` (equals) and `ne` (not equals) and may be used with the following properties: `location`, `resourceType`, `name`, `resourceGroup`, `identity`, `identity/principalId`, `plan`, `plan/publisher`, `plan/product`, `plan/name`, `plan/version`, and `plan/promotionCode`.<br><br>For example, to filter by a resource type, use `$filter=resourceType eq 'Microsoft.Network/virtualNetworks'`<br><br><br>`substringof(value, property)` can  be used to filter for substrings of the following currently-supported properties: `name` and `resourceGroup`<br><br>For example, to get all resources with 'demo' anywhere in the resource name, use `$filter=substringof('demo', name)`<br><br>Multiple substring operations can also be combined using `and`/`or` operators.<br><br>Note that any truncated number of results queried via `$top` may also not be compatible when using a filter.<br><br><br>Resources can be filtered by tag names and values. For example, to filter for a tag name and value, use `$filter=tagName eq 'tag1' and tagValue eq 'Value1'`. Note that when resources are filtered by tag name and value, <b>the original tags for each resource will not be returned in the results.</b> Any list of additional properties queried via `$expand` may also not be compatible when filtering by tag names/values. <br><br>For tag names only, resources can be filtered by prefix using the following syntax: `$filter=startswith(tagName, 'depart')`. This query will return all resources with a tag name prefixed by the phrase `depart` (i.e.`department`, `departureDate`, `departureTime`, etc.)<br><br><br>Note that some properties can be combined when filtering resources, which include the following: `substringof() and/or resourceType`, `plan and plan/publisher and plan/name`, and `identity and identity/principalId`.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Comma-separated list of additional properties to be included in the response. Valid values include `createdTime`, `changedTime` and `provisioningState`. For example, `$expand=createdTime,changedTime`.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The number of recommendations per page if a paged version of this API is being used.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/tagNames": {
      "get": {
        "operationId": "Tags_List",
        "summary": "Gets a summary of tag usage under the subscription.",
        "description": "This operation performs a union of predefined tags, resource tags, resource group tags and subscription tags, and returns a summary of usage for each tag name and value under the given subscription. In case of a large number of tags, this operation may return a previously cached result.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TagsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/tagNames/{tagName}": {
      "put": {
        "operationId": "Tags_CreateOrUpdate",
        "summary": "Creates a predefined tag name.",
        "description": "This operation allows adding a name to the list of predefined tag names for the given subscription. A tag name can have a maximum of 512 characters and is case-insensitive. Tag names cannot have the following prefixes which are reserved for Azure use: 'microsoft', 'azure', 'windows'.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "tagName",
            "in": "path",
            "description": "The name of the tag to create.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TagDetails"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "operationId": "Tags_Delete",
        "summary": "Deletes a predefined tag name.",
        "description": "This operation allows deleting a name from the list of predefined tag names for the given subscription. The name being deleted must not be in use as a tag name for any resource. All predefined values for the given name must have already been deleted.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "tagName",
            "in": "path",
            "description": "The name of the tag.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/tagNames/{tagName}/tagValues/{tagValue}": {
      "put": {
        "operationId": "Tags_CreateOrUpdateValue",
        "summary": "Creates a predefined value for a predefined tag name.",
        "description": "This operation allows adding a value to the list of predefined values for an existing predefined tag name. A tag value can have a maximum of 256 characters.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "tagName",
            "in": "path",
            "description": "The name of the tag.",
            "required": true,
            "type": "string"
          },
          {
            "name": "tagValue",
            "in": "path",
            "description": "The value of the tag to create.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TagValue"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "operationId": "Tags_DeleteValue",
        "summary": "Deletes a predefined tag value for a predefined tag name.",
        "description": "This operation allows deleting a value from the list of predefined values for an existing predefined tag name. The value being deleted must not be in use as a tag value for the given tag name for any resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "tagName",
            "in": "path",
            "description": "The name of the tag.",
            "required": true,
            "type": "string"
          },
          {
            "name": "tagValue",
            "in": "path",
            "description": "The value of the tag to delete.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Alias": {
      "type": "object",
      "description": "The alias type.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The alias name."
        },
        "paths": {
          "type": "array",
          "description": "The paths for an alias.",
          "items": {
            "$ref": "#/definitions/AliasPath"
          },
          "x-ms-identifiers": []
        },
        "type": {
          "$ref": "#/definitions/AliasType",
          "description": "The type of the alias."
        },
        "defaultPath": {
          "type": "string",
          "description": "The default path for an alias."
        },
        "defaultPattern": {
          "$ref": "#/definitions/AliasPattern",
          "description": "The default pattern for an alias."
        },
        "defaultMetadata": {
          "$ref": "#/definitions/AliasPathMetadata",
          "description": "The default alias path metadata. Applies to the default path and to any alias path that doesn't have metadata",
          "readOnly": true
        }
      }
    },
    "AliasPath": {
      "type": "object",
      "description": "The type of the paths for alias.",
      "properties": {
        "path": {
          "type": "string",
          "description": "The path of an alias."
        },
        "apiVersions": {
          "type": "array",
          "description": "The API versions.",
          "items": {
            "type": "string"
          }
        },
        "pattern": {
          "$ref": "#/definitions/AliasPattern",
          "description": "The pattern for an alias path."
        },
        "metadata": {
          "$ref": "#/definitions/AliasPathMetadata",
          "description": "The metadata of the alias path. If missing, fall back to the default metadata of the alias.",
          "readOnly": true
        }
      }
    },
    "AliasPathAttributes": {
      "type": "string",
      "description": "The attributes of the token that the alias path is referring to.",
      "enum": [
        "None",
        "Modifiable"
      ],
      "x-ms-enum": {
        "name": "AliasPathAttributes",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "The token that the alias path is referring to has no attributes."
          },
          {
            "name": "Modifiable",
            "value": "Modifiable",
            "description": "The token that the alias path is referring to is modifiable by policies with 'modify' effect."
          }
        ]
      }
    },
    "AliasPathMetadata": {
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/AliasPathTokenType",
          "description": "The type of the token that the alias path is referring to.",
          "readOnly": true
        },
        "attributes": {
          "$ref": "#/definitions/AliasPathAttributes",
          "description": "The attributes of the token that the alias path is referring to.",
          "readOnly": true
        }
      }
    },
    "AliasPathTokenType": {
      "type": "string",
      "description": "The type of the token that the alias path is referring to.",
      "enum": [
        "NotSpecified",
        "Any",
        "String",
        "Object",
        "Array",
        "Integer",
        "Number",
        "Boolean"
      ],
      "x-ms-enum": {
        "name": "AliasPathTokenType",
        "modelAsString": true,
        "values": [
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "The token type is not specified."
          },
          {
            "name": "Any",
            "value": "Any",
            "description": "The token type can be anything."
          },
          {
            "name": "String",
            "value": "String",
            "description": "The token type is string."
          },
          {
            "name": "Object",
            "value": "Object",
            "description": "The token type is object."
          },
          {
            "name": "Array",
            "value": "Array",
            "description": "The token type is array."
          },
          {
            "name": "Integer",
            "value": "Integer",
            "description": "The token type is integer."
          },
          {
            "name": "Number",
            "value": "Number",
            "description": "The token type is number."
          },
          {
            "name": "Boolean",
            "value": "Boolean",
            "description": "The token type is boolean."
          }
        ]
      }
    },
    "AliasPattern": {
      "type": "object",
      "description": "The type of the pattern for an alias path.",
      "properties": {
        "phrase": {
          "type": "string",
          "description": "The alias pattern phrase."
        },
        "variable": {
          "type": "string",
          "description": "The alias pattern variable."
        },
        "type": {
          "$ref": "#/definitions/AliasPatternType",
          "description": "The type of alias pattern"
        }
      }
    },
    "AliasPatternType": {
      "type": "string",
      "description": "The type of alias pattern",
      "enum": [
        "NotSpecified",
        "Extract"
      ],
      "x-ms-enum": {
        "name": "AliasPatternType",
        "modelAsString": false,
        "values": [
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "NotSpecified is not allowed."
          },
          {
            "name": "Extract",
            "value": "Extract",
            "description": "Extract is the only allowed value."
          }
        ]
      }
    },
    "AliasType": {
      "type": "string",
      "description": "The type of the alias.",
      "enum": [
        "NotSpecified",
        "PlainText",
        "Mask"
      ],
      "x-ms-enum": {
        "name": "AliasType",
        "modelAsString": false,
        "values": [
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "Alias type is unknown (same as not providing alias type)."
          },
          {
            "name": "PlainText",
            "value": "PlainText",
            "description": "Alias value is not secret."
          },
          {
            "name": "Mask",
            "value": "Mask",
            "description": "Alias value is secret."
          }
        ]
      }
    },
    "ApiProfile": {
      "type": "object",
      "properties": {
        "profileVersion": {
          "type": "string",
          "description": "The profile version.",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "description": "The API version.",
          "readOnly": true
        }
      }
    },
    "Azure.ResourceManager.ArmResponse<ResourceGroupExportResult>": {
      "type": "object",
      "description": "Azure operation completed successfully.",
      "properties": {
        "body": {
          "$ref": "#/definitions/ResourceGroupExportResult",
          "description": "The body type of the operation request or response."
        }
      },
      "required": [
        "body"
      ]
    },
    "CloudError": {
      "type": "object",
      "description": "An error response for a resource management request.",
      "properties": {
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorDetail",
          "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.)"
        }
      }
    },
    "ExportTemplateOutputFormat": {
      "type": "string",
      "description": "The output format for the exported resources.",
      "enum": [
        "Json",
        "Bicep"
      ],
      "x-ms-enum": {
        "name": "ExportTemplateOutputFormat",
        "modelAsString": true,
        "values": [
          {
            "name": "Json",
            "value": "Json",
            "description": "Json"
          },
          {
            "name": "Bicep",
            "value": "Bicep",
            "description": "Bicep"
          }
        ]
      }
    },
    "ExportTemplateRequest": {
      "type": "object",
      "description": "Export resource group template request parameters.",
      "properties": {
        "resources": {
          "type": "array",
          "description": "The IDs of the resources to filter the export by. To export all resources, supply an array with single entry '*'.",
          "items": {
            "type": "string"
          }
        },
        "options": {
          "type": "string",
          "description": "The export template options. A CSV-formatted list containing zero or more of the following: 'IncludeParameterDefaultValue', 'IncludeComments', 'SkipResourceNameParameterization', 'SkipAllParameterization'"
        },
        "outputFormat": {
          "$ref": "#/definitions/ExportTemplateOutputFormat",
          "description": "The output format for the exported resources."
        }
      }
    },
    "ExtendedLocation": {
      "type": "object",
      "description": "Resource extended location.",
      "properties": {
        "type": {
          "$ref": "#/definitions/ExtendedLocationType",
          "description": "The extended location type."
        },
        "name": {
          "type": "string",
          "description": "The extended location name."
        }
      }
    },
    "ExtendedLocationType": {
      "type": "string",
      "description": "The extended location type.",
      "enum": [
        "EdgeZone"
      ],
      "x-ms-enum": {
        "name": "ExtendedLocationType",
        "modelAsString": true,
        "values": [
          {
            "name": "EdgeZone",
            "value": "EdgeZone",
            "description": "EdgeZone"
          }
        ]
      }
    },
    "GenericResource": {
      "type": "object",
      "description": "Resource information.",
      "properties": {
        "properties": {
          "type": "object",
          "description": "The resource-specific properties for this resource."
        },
        "plan": {
          "$ref": "#/definitions/Plan",
          "description": "The plan of the resource."
        },
        "kind": {
          "type": "string",
          "description": "The kind of the resource.",
          "pattern": "^[-\\w\\._,\\(\\)]+$"
        },
        "managedBy": {
          "type": "string",
          "description": "ID of the resource that manages this resource."
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU of the resource."
        },
        "identity": {
          "$ref": "#/definitions/Identity",
          "description": "The identity of the resource."
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation",
          "description": "Resource extended location.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "GenericResourceExpanded": {
      "type": "object",
      "description": "Resource information.",
      "properties": {
        "createdTime": {
          "type": "string",
          "format": "date-time",
          "description": "The created time of the resource. This is only present if requested via the $expand query parameter.",
          "readOnly": true
        },
        "changedTime": {
          "type": "string",
          "format": "date-time",
          "description": "The changed time of the resource. This is only present if requested via the $expand query parameter.",
          "readOnly": true
        },
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state of the resource. This is only present if requested via the $expand query parameter.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/GenericResource"
        }
      ]
    },
    "Identity": {
      "type": "object",
      "description": "Identity for the resource.",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The principal ID of resource identity.",
          "readOnly": true
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of resource.",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/ResourceIdentityType",
          "description": "The identity type."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The list of user identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'.",
          "additionalProperties": {
            "$ref": "#/definitions/IdentityUserAssignedIdentitiesValue"
          }
        }
      }
    },
    "IdentityUserAssignedIdentitiesValue": {
      "type": "object",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The principal id of user assigned identity.",
          "readOnly": true
        },
        "clientId": {
          "type": "string",
          "description": "The client id of user assigned identity.",
          "readOnly": true
        }
      }
    },
    "Permission": {
      "type": "object",
      "description": "Role definition permissions.",
      "properties": {
        "actions": {
          "type": "array",
          "description": "Allowed actions.",
          "items": {
            "type": "string"
          }
        },
        "notActions": {
          "type": "array",
          "description": "Denied actions.",
          "items": {
            "type": "string"
          }
        },
        "dataActions": {
          "type": "array",
          "description": "Allowed Data actions.",
          "items": {
            "type": "string"
          }
        },
        "notDataActions": {
          "type": "array",
          "description": "Denied Data actions.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Plan": {
      "type": "object",
      "description": "Plan for the resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The plan ID."
        },
        "publisher": {
          "type": "string",
          "description": "The publisher ID."
        },
        "product": {
          "type": "string",
          "description": "The offer ID."
        },
        "promotionCode": {
          "type": "string",
          "description": "The promotion code."
        },
        "version": {
          "type": "string",
          "description": "The plan's version."
        }
      }
    },
    "Provider": {
      "type": "object",
      "description": "Resource provider information.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The provider ID.",
          "readOnly": true
        },
        "namespace": {
          "type": "string",
          "description": "The namespace of the resource provider."
        },
        "registrationState": {
          "type": "string",
          "description": "The registration state of the resource provider.",
          "readOnly": true
        },
        "registrationPolicy": {
          "type": "string",
          "description": "The registration policy of the resource provider.",
          "readOnly": true
        },
        "resourceTypes": {
          "type": "array",
          "description": "The collection of provider resource types.",
          "items": {
            "$ref": "#/definitions/ProviderResourceType"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "resourceType"
          ]
        },
        "providerAuthorizationConsentState": {
          "$ref": "#/definitions/ProviderAuthorizationConsentState",
          "description": "The provider authorization consent state."
        }
      }
    },
    "ProviderAuthorizationConsentState": {
      "type": "string",
      "description": "The provider authorization consent state.",
      "enum": [
        "NotSpecified",
        "Required",
        "NotRequired",
        "Consented"
      ],
      "x-ms-enum": {
        "name": "ProviderAuthorizationConsentState",
        "modelAsString": true,
        "values": [
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "NotSpecified"
          },
          {
            "name": "Required",
            "value": "Required",
            "description": "Required"
          },
          {
            "name": "NotRequired",
            "value": "NotRequired",
            "description": "NotRequired"
          },
          {
            "name": "Consented",
            "value": "Consented",
            "description": "Consented"
          }
        ]
      }
    },
    "ProviderConsentDefinition": {
      "type": "object",
      "description": "The provider consent.",
      "properties": {
        "consentToAuthorization": {
          "type": "boolean",
          "description": "A value indicating whether authorization is consented or not."
        }
      }
    },
    "ProviderExtendedLocation": {
      "type": "object",
      "description": "The provider extended location.",
      "properties": {
        "location": {
          "type": "string",
          "description": "The azure location."
        },
        "type": {
          "type": "string",
          "description": "The extended location type."
        },
        "extendedLocations": {
          "type": "array",
          "description": "The extended locations for the azure location.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ProviderListResult": {
      "type": "object",
      "description": "List of resource providers.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Provider items on this page",
          "items": {
            "$ref": "#/definitions/Provider"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ProviderPermission": {
      "type": "object",
      "description": "The provider permission",
      "properties": {
        "applicationId": {
          "type": "string",
          "description": "The application id."
        },
        "roleDefinition": {
          "$ref": "#/definitions/RoleDefinition",
          "description": "Role definition properties."
        },
        "managedByRoleDefinition": {
          "$ref": "#/definitions/RoleDefinition",
          "description": "Role definition properties."
        },
        "providerAuthorizationConsentState": {
          "$ref": "#/definitions/ProviderAuthorizationConsentState",
          "description": "The provider authorization consent state."
        }
      }
    },
    "ProviderPermissionListResult": {
      "type": "object",
      "description": "List of provider permissions.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ProviderPermission items on this page",
          "items": {
            "$ref": "#/definitions/ProviderPermission"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ProviderRegistrationRequest": {
      "type": "object",
      "description": "The provider registration definition.",
      "properties": {
[...]
